@import "v2.css";

/* 
	Ecrasement des styles
 */
 
body{font:12px arial !important;}
 
 /*#recherche{ border-bottom:1px solid #000; height:500px; overflow:hidden;}*/
 
 #recherche .votre_categorie, 
 #recherche .informations{float:none;}
	#recherche .informations{width:auto; padding:0;}
	#recherche .votre_categorie{padding-top:22px; overflow:hidden;}
	#recherche .carrousel-mask{height:290px;}
	#recherche .carrousel{margin:0;}
 
 .menu_reservation label,
 .menu_reservation a{display:inline-block; vertical-align:middle; width:auto; height:auto; background-image:none; text-indent:0;}
 

#autocomplete{margin:0;}
#rech_agence{margin-bottom:14px;}
#recherche .valid{margin-top:10px;}
#calendar div.sel{margin-bottom:1px;}
	#calendar div.sel label, 
	#calendar div.sel img, 
	#calendar div.sel span, 
	#calendar div.sel select{display:inline-block; vertical-align:middle;}
 
 /* Shame */
 #rech_profil label{margin-bottom:2px; height:auto; line-height:normal;}
 
 /* 
	specs iframe
 */
 
 .menu_reservation{width:100%; height:28px; padding-bottom:7px; background:url(img/bg-choix-type-iframe2.png) repeat-x 0 bottom; text-align:center; line-height:28px;}
	.menu_reservation li{float:none; display:inline-block; padding-right:20px; width:auto;}
	.menu_reservation .intitule,
	.menu_reservation input{display:inline-block; vertical-align:middle;}
	.menu_reservation label:after{content:"";}
	.menu_reservation label.current{background:#bfbfbf;}
		 .menu_reservation label.current .intitule{color:#cc0000;}
 
 #recherche.form-iframe{width:616px; padding:0 30px; background:url(img/bg-carrousel-iframe2.png) repeat-x 0 36px;}
 
 .col-1-2-iframe2{margin:5px 0 0; float:left; width:308px;}
	 .col-1-2-iframe2.first{width:300px; position:relative;}
		.col-1-2-iframe2.first:after{content:' '; width:1px; height:113px; background:#ccc; position:absolute; right:0px; top:33px;}
	 .col-1-2-iframe2.last{padding-left:20px; width:295px;}
	.col-1-2-iframe2 #rech_agence label{display:inline-block;}
	
 .h4-like.iframe2{font-size:14px; font-weight:bold; margin-bottom:5px; font-family: 'Trebuchet MS',Arial,Helvetica,sans-serif; line-height:normal; height:auto; color:#7F7F7F;}

#recherche input{height:15px;}
#recherche select{height:21px;}
	#autocomplete input{height:18px;}
#recherche .valid input.default-btn{padding:0 0 0 !important; width:175px; height:33px; background:url(img/bg-btn-iframe2.png) no-repeat 0 0 !important; text-align:center !important; line-height:normal !important;}
 
.mentions{line-height:10px; color:#454545;}
#agence_bal{margin:0;}

.ui-widget-header{background: url("img/popin_agence_titre.png") no-repeat scroll 0 0 transparent;}
