/** Bootstrap */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

/** Override */
.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

a, a:hover, a:active, a:focus,
input:focus {
    outline: 0;
}

/** General */
html,
body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #020303;
}

/** Slideout */
.Slideout {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: -205px;
    z-index: 999;
    width: 205px;
    overflow-y: auto;
    background-color: #db3d43;
    color: white;
}

.Slideout__list {
    list-style-type: none;
    padding: 0 20px;
}

.Slideout__item {
    margin-bottom: 15px;
}

/** Header */
.Header {
    background-color: #db3d43;
    color: #fff;
    padding: 24px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.Header__burger {
    text-align: right;
}

.Header__burger-close {
    display: none;
}

.Header__left {
    text-align: right;
}

.Header__logo {
    position: absolute;
    top: -25px;
    left: 0;
}

.Header__link {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

.Header__link:hover,
.Header__link:active,
.Header__link:visited,
.Header__link:focus {
    color: #fff;
    text-decoration: none !important;
}

.Header__img {
    vertical-align: middle;
    padding-right: 10px;
}

.Header__text  {
    vertical-align: bottom;
}

.Header__link--is-button {
    background-color: #030305;
    border-radius: 4px;
    padding: 6px 13px;
}

@media (max-width: 767px) {
    .Header__logo {
        left: 5px;
        width: 120px;
    }
}

@media (min-width: 1200px) {
    .Header__logo-column {
        width: 25%;
    }

    .Header__facebook-column {
        width: 11%;
    }

    .Header__ada-column {
        width: 12%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Header__logo-column {
        width: 25%;
    }

    .Header__newsletter-column {
        width: 17%;
    }

    .Header__facebook-column {
        width: 13%;
    }

    .Header__ada-column {
        width: 14%;
    }

    .Header__account-column {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Header__logo-column {
        width: 22%;
    }

    .Header__newsletter-column {
        width: 21%;
    }

    .Header__facebook-column {
        width: 16%;
    }

    .Header__ada-column {
        width: 16%;
    }

    .Header__account-column {
        width: 25%;
    }
}

/** Login */
.Login {
    position: absolute;
    background-color: #f5f5f5;
    width: 450px;
    padding: 15px 20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    top: 44px;
    right: 30px;
    min-height: 90px;
    display: none;
    border: 1px solid #d2cece;
    border-top: 0;
}

.Login__left-connected {
    float: left;
    font-size: 13px;
    font-weight: 700;
    color: #030305;
    margin-top: 11px;
}

.Login__right-connected {
    float: right;
    margin-top: 18px;
}

.Login input {
    margin-right: 15px;
    font-size: 14px;
    padding: 0 10px;
    color: #777777;
    width: 160px;
    height: 30px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.Login input.error {
    border: 1px solid #db3d43;
}

.Login__account,
.Login__submit {
    background-color: #030305;
    color: #fff;
    font-size: 13px;
    outline: 0;
    font-weight: 500;
    border: 0;
    padding: 4px 13px;
    border-radius: 4px;
    text-transform: uppercase;
}

.Login__account:hover,
.Login__account:active,
.Login__account:visited,
.Login__account:focus,
.Login__submit:hover,
.Login__submit:active,
.Login__submit:visited,
.Login__submit:focus {
    text-decoration: none;
    color: #fff;
}

.Login__logout,
.Login__password {
    font-weight: 500;
    font-size: 14px;
    color: #db3d43;
    display: block;
    text-decoration: none;
}

.Login__password {
    padding-top: 10px;
}

.Login__password:hover,
.Login__password:active,
.Login__password:visited,
.Login__password:focus,
.Login__logout:hover,
.Login__logout:active,
.Login__logout:visited,
.Login__logout:focus {
    text-decoration: none;
    color: #db3d43;
}

/** Visual */
.Visual {
    min-height: 599px;
    background-image: url('jeunes-v2/visual-v2.png');
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

.Visual__cta {
    margin-top: 560px;
    background-color: #db3d43;
    padding: 0 162px;
    display: inline-block;
    border-radius: 5px;
}

.Visual__cta:hover,
.Visual__cta:active,
.Visual__cta:visited,
.Visual__cta:focus {
    text-decoration: none;
    color: #fff;
}

.Visual__text {
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    float:left;
    margin: 15px 0;
}

.Visual__link {
    color: #020303;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    display: block;
}

.Visual__img {
    float:right;
    margin-top: 30px;
    margin-left: 25px;
}

.Visual__shadow {
    display: block;
    margin: 0 auto;
}

.Visual__title {
    margin-top: 0;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 767px) {
    .Visual {
        min-height: 300px;
        background-image: url('jeunes-v2/visual-v2.png');
        background-repeat: no-repeat;
        background-position: bottom center;
        text-align: center;
    }

    .Visual__cta {
        margin-top: 200px;
        padding: 0 30px;
    }

    .Visual__title {
        margin-top: 10px;
        font-size: 18px;
    }
}

/** Did */
.Did {
    text-align: center;
    margin: 100px 0 40px 0;
}

.Did__visual-did {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.Did__text-did {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 60px;
}

.Did__visual-list {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}

.Did__visual-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.Slider_dots {
    text-align: left;
    margin-left: 15px;
}

.Slider__dot {
    background-color: #dedede;
    border-color: #dedede;
    padding: 5px;
    line-height: 1em;
    border-radius: 500rem;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    width: 5px;
    height: 5px;
    vertical-align: baseline;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
}

.Slider__dot--active {
    background-color: #cf0a11;
    border-color: #cf0a11;
}

@media (max-width: 767px) {
    .Did {
        text-align: center;
        margin: 40px 0 40px 0;
    }
}

/** Did -- Video */
.Video {
    margin-bottom: 30px;
    width: 100%;
}

.Video__content {
    box-shadow: 0px 0px 60px 0px #c2bcbc;
    position: relative;
    overflow: hidden;
}

.Video__slides {
    position: relative;
    top: 0;
    left: 0;
}

.Video__slide {
    float: left;
}

.Video__controls {
    background-color: rgba(207, 10, 17, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.Video__nav {
    width: 100%;
    height: 100%;
    position: absolute;
}

.Video__content:hover .Video__controls {
    display: block;
}

.Video__content:hover .Video__nav {
    display: none;
}

.Video__controls:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.Video__nav:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.Video__play,
.Video__nav-dummy {
    display: inline-block;
    vertical-align: middle;
    width: 67%;
    margin-right: 8px;
}

.Video__control-left,
.Video__nav-left,
.Video__control-right,
.Video__nav-right {
    vertical-align: middle;
    display: inline-block;
    width: 10%;
    text-align: left;
    cursor: pointer;
}

.Video__nav-right,
.Video__control-right {
    text-align: right;
    margin-right: 3px;
}

.Video__control-left,
.Video__control-right,
.Video__play-img {
    cursor: pointer;
}

/** Lightbox */
.Lightbox {
    position:fixed;
    text-align: right;
    padding-top: 75px;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.Lightbox__content {
    width: 50%;
    height: 500px;
    margin: 0 auto;
}

.Lightbox__iframe {
    width: 100%;
    height: 100%;
}

.Lightbox__close {
    color: #fff;
    font-size: 50px;
    text-align: right;
    cursor: pointer;
}

.Lightbox__close:hover {
    color: #cf0a11;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Lightbox__content {
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Lightbox__content {
        height: 250px;
    }
}

@media (max-width: 767px) {
    .Lightbox__content {
        height: 200px;
        width: 90%;
    }

    .Video__controls {
        display: block;
        background: transparent;
    }

    .Video__nav {
        display: none;
    }
}

/** Did - Testimonials */
.Testimonial {
    background-color: #f5f5f5;
    padding: 40px;
}

.Testimonial__item {
    display: none;
}

.Testimonial__item:first-child {
    display: block;
}

.Testimonials__hearts img {
    margin-right: 5px;
}

.Testimonial__text {
    font-size: 14px;
    margin-top: 30px;
    text-align: left;
    line-height: 30px;
}

.Slider__dot--testitomials {
    float: left;
    position: relative;
    margin-top: -25px;
}

.Testimonial__details {
    float: right;
    margin-top: -10px;
    margin-right: 10px;
    position: relative;
}

.Testimonial__detail {
    display: none;
}

.Testimonial__detail:first-child {
    display: block;
}

.Testimonial__name {
    color: #d20a11;
}

.Testimonial__date {
    font-size: 14px;
}

@media (max-width: 767px) {
    .Testimonial__container {
        min-height: 405px;
    }
}

/** Choose */
.Choose {
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
    padding-top: 60px;
}

.Choose__left {
    vertical-align: bottom;
}

.Choose__right {
    margin: 0 auto;
    margin-bottom: 40px;
}

.Choose__text {
    text-align: left;
    font-size: 14px;
    margin: 7px 0;
    line-height: 24px;
}

.Choose__text--red {
    color: #d20a11;
    font-weight: 500;
}

.Choose__baseline {
    text-align: left;
    font-size: 14px;
    margin: 30px 0 40px 0;
    line-height: 24px;
}

.Choose__link {
    background-color: #db3d43;
    border-radius: 4px;
    padding: 10px 40px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    margin-bottom: 50px;
}

.Choose__link:hover,
.Choose__link:active,
.Choose__link:visited,
.Choose__link:focus {
    color: #fff;
    text-decoration: none !important;
}

/** Offers */
.Offers {
    margin: 30px 0 70px 0;
    min-height: 695px;
}

.Offers__item {
    max-width: 305px;
    margin: 0 auto
}

.Offers__scoot {
    min-height: 600px;
}

.Offers__malin {
    min-height: 670px;
}

.Offers__sans {
    min-height: 550px;
}

.Offers__img {
    padding: 20px 20px 10px 20px;
    position: relative;
}

.Offers__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding: 5px 20px 20px 20px;
}

.Offers__shadow {
    display: none;
}

.Offers__item:hover .Offers__details {
    box-shadow: 0px 0px 40px 0px #ddd6d6;
}

.Offers__item:hover .Offers__shadow {
    display: block;
}

.Offers__item:hover .Offers__text {
    background-color: #f5f5f5;
}

.Offers__cta {
    background-color: rgba(207, 10, 17, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-decoration: none;
    cursor: pointer;
}

.Offers__item:hover .Offers__cta {
    display: block;
}

.Offers__cta:hover {
    text-decoration: none;
}

.Offers__cta-details {
    position: absolute;
    width: 215px;
    height: 175px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.Offers__cta-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .Offers__cta {
        display: block;
    }
}

/** Footer */
.Footer-sup {
    background-color: #000;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.Footer-sup a {
    text-decoration: none;
    color: #fff;
    transition: color .5s;
}

.Footer-sup a:hover {
    color: #666;
}

.Footer-sup__link {
    padding: 0 5px;
}

.Footer-sub {
    background-color: #d5d5d5;
    padding: 20px 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    text-align: center;
}

.Footer-sub ul {
    background-color: #d5d5d5;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
}

.Footer-sub li:last-child {
    margin-bottom: 15px;
}

.Footer-sub__title {
    font-size: 13px;
    color: #000;
}

.Footer-sub__title a {
    text-decoration: none;
    transition: color .5s;
    color: #000;
}

.Footer-sub__sub-title {
    font-size: 11px;
    color: #000;
    padding-left: 5px;
}

.Footer-sub__sub-title a {
    text-decoration: none;
    transition: color .5s;
    color: #000;
}

.Footer-sub__title a:hover,
.Footer-sub__sub-title a:hover {
    text-decoration: none;
    color: #db3d43;
}

.Footer-sub__payment {
    font-size: 13px;
    text-align: left;
    padding-top: 30px;
}

.Footer-sub__tel {
    text-align: right;
}

.Baseline {
    background-color: #ebebeb;
    padding: 20px 0;
    font-size: 11px;
    color: #999;
    font-family: arial;
}

.Baseline ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
}

.Baseline li {
    margin-bottom: 7px;
}

.Baseline li a {
    color: #999;
    text-decoration: underline;
}

.Baseline li a:hover {
    color: #999;
    text-decoration: underline;
}

.Baseline__content {
    margin-top: 25px;
}

.Footer-mobile {
    background-color: #dcdcdc;
    padding: 20px 0;
}

.Footer-mobile__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Footer-mobile__list li::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 8px;
    background: url('img/structure-mobile/chevron.png') no-repeat 0 0;
    background-size: cover;
}

.Footer-mobile__list li {
    margin-bottom: 3px;
    font-size: 13px;
}

.Footer-mobile__list li a,
.Footer-mobile__list li a:hover {
    color: #8b8b8b;
    text-decoration: none;
}

.Footer-mobile__fb {
    text-align: right;
}

.Footer-mobile__fb img {
    width: 100%;
    max-width: 34px;
    height: auto;
    margin-top: 4px;
    text-align: right;
}
