/* styles globaux popin options*/
.tpl_popin{background:#fff;}
	.tpl_popin .container{width:606px;  padding: 30px 80px 5px; }
.popin-options{border:1px solid #cc0000; border-radius:3px !important;}
	.popin-options hr{color:#cc0000; background:#cc0000;}
	.popin-options .ui-dialog-titlebar{position:relative; height:1px; background:none;}
	.popin-options .ui-widget-header, .popin-options .ui-dialog-content{padding:0;}
	.popin-options .ui-dialog-titlebar-close, .popin-options .ui-icon{text-indent:0; overflow:visible; position:absolute; top:-2px; right:2px; width:16px; height:16px; color:#cc0000; font-size:26px; font-weight:normal!important; background:none !important;}
	.popin-options .ui-state-hover .ui-icon, .popin-options .ui-state-focus .ui-icon, .popin-options .ui-state-focus, .popin-options .ui-state-hover{background:none !important; border:none !important; color:#cc0000;}
	.tpl_popin .h2-like{margin-bottom:20px; padding-left:22px; font-size:22px; background:url(img/options_details.png) no-repeat 0 7px;}
	
.bg-gris{background:#efefef;}
.bg-rouge{background:#cc0000;}
.blanc{color:#fff;}
.big{font-size:14px;}
.bigger{font-size:26px;}
	.bigger sup{font-size:14px;}
.small{font-size:11px;}
.smaller{font-size:10px;}
.underline{text-decoration:underline;}
.rounded{}
	.block.rounded{height:35px; line-height:35px; border-radius:20px; margin-bottom:7px;}
.align-center{text-align:center;}
.block-align-center{margin:0 auto;}
.max-width{width:100%;}
.align-right{text-align:right;}
.col-1-2{float:left; width:45%; padding:10px 2%;}
.block{display:block;}
.caps{text-transform:uppercase;}
.puce-rouge{margin-bottom:15px;}
	.puce-rouge li{margin-bottom:4px; padding-left:8px; background:url(img/puce_circle.gif) no-repeat 0 6px;}
	
/* popin 360 */
.popin-360 .ui-dialog-content{
	padding:0px;
}
.popin-360 .tpl_popin .container{
	width:100%;
	height:auto;
	padding:0px;
}
.reservation.index .popin-360 .ui-widget-header{
	background:#FFF;
}