.impr, #header, h1 img, h3 img, .chemin, #column1, #column3_1, .footer, #frm_pgkm, #menu, #menu_eservice, #menu_loisirs, #menu_demenagement, dt img, .lienhaut, #overlay-mobile  {
	display: none;	
}


body {	
	background-color: #FFF;
}

body, div, dt, dd, p {
	font: normal 9pt arial, sans-serif; 
	color: #000;
}

body, p, ul, li, h1, h2{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

li {
	list-style-type: none;
}

a, a:visited, a:hover {
	text-decoration: underline;
	color: #520;
}

img {
	border: 0px;	
}

p img {
	display: inline;
}

.clear {
	clear: both;
}

.colonne_visible {
	width: 0px;
}

.impr_pos {	
	margin-right: 150px;
}

.print {
	display: block;
}


/*-------------------*/
/*      CONTENU      */
/*-------------------*/

#conteneur {
	width: 650px;	
	margin: 0 5%;
	padding: 0px;
	/*border: solid 2px #000000;*/
}

#conteneur a[href^="h"]:after {
	content: " (" attr(href) ") ";
	font-size: 90%;
}
/*
#conteneur a[href^="/"]:after {
	content: " (http://www.ada.fr" attr(href) ") ";
	font-size: 90%;
}
*/
.printtitre {
	font: bold 14px Arial;
}

.contentGreenBox2, .ongletShadowBox, .contentShadowBox_in, .RedTarifBox_content, .imprbord {
	border: solid 1px #000;
}

.contentShadowBox_in {
	margin-left: 10px;
}

.imprbord {
	padding: 8px;
}

.printagence {
	width: 600px;
}


.RedTarifBox_content {
	width: 250px;
}

.contentOngletRouge, .contentOngletJaune {
	font-weight: bold;
	text-decoration: underline;
}
/*
.ongletShadowBox {
	width: 450px;
}
*/

/*
.tabsize {
	width: 650px;
}
*/

h1 {
	margin: 15px 0;
}

h1 span {	
	font: bold 14pt Arial, sans-serif;
	text-align:center;
}

h3 span {
	font: bold 12pt Arial, sans-serif;
}


/*
.piedcadre {
	border-bottom: solid 1px #D5D5D5;
	bbackground:red;
	width:100%;
}
*/

.gauche {
	float: left;
}

.droite {
	float: right;	
}

dt, dt span {
	font: bold 12pt arial, sans-serif;
	color: #000;
}

.prix, .euro, .eurorouge, .prixrouge, .prixrouge2 {
	font: bold 18pt arial, sans-serif;
}

dd.twosup {
	display:list-item;
	list-style-type: square;
}

dt span.nongras {
	font: normal 9pt arial, sans-serif;
}

span.nongras {
	font-weight: normal;
}

dd.stitre{
	display:list-item;
	list-style-type: square;
	list-style-position: inside;
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	font-weight: bold;
	color: #000;
}

dt span {
	display: block;
	font-weight: bold;
}

/*
.pointille {
	border-top: solid 1px #000;
}
*/

.imprprix {
	float: right;
	width: 100px;
}

/* facture */
.logo-impression{float : left; margin-bottom : 25px;}
.col-espace-client p{display : none;}
.col-espace-client p.adresse-agence{display : block; float : left;}
.infos-client{border : none; float : right;}
.ref-facture{margin-bottom : 20px;}
ul.tiret{margin-bottom : 40px;}
ul.tiret li{margin-bottom : 5px;}
table.right{float : right; margin : 20px 60px 40px 0;}
a.btn{display : none;}
p.print{font-size : 10px; text-align :center; margin-top : 80px;}
table.details-facturation{margin-top : 40px;}
p.type-paiement{margin : 10px 0;}
p.facturation-courtage-small, p.facturation-courtage{font-size : 10px;}
p.facturation-courtage{text-align : center; margin-bottom : 20px;}
ul.circle{margin : 25px 120px;}
li.options-print{margin-top : 25px;}
.offre_total{float : right;}
.infos-client h3{text-indent : -9999px; background-repeat : no-repeat;}


/*

dl, dt {
	margin: 0 0 10px 0;
}

dt {
	background: white url(../img/puce_ronde.gif) 0px 0px no-repeat;
	padding: 2px 0 0 22px;
	font-weight: bold;
	color: #CC0000;
}

dd {
	color: #585858;
	margin-left: 5px;
	padding-left: 16px;
}





dd.twosup {
	background: white url(../img/puce_2sup.gif) 0px 3px no-repeat;
	margin: 0 0 10px 10px;
	padding-left: 20px;
	font-weight: bold;
}

dd.case {
	background: white url(../img/puce_checkbox.gif) 0px 2px no-repeat;
	margin: 0 0 10px 10px;
	padding-left: 20px;
	font-weight: bold;
	color: #000000;
}

.ongletShadowBox p {
	margin-bottom: 10px;
}

.gris {
	color: #585858;
}

.noir {
	color: #000;
}

.blanc, .blanc a,  .blanc a:visited {
	color: #fff;
	text-decoration: none;
}

.blanc a:hover {
	color: #fff;
	text-decoration: underline;
}

.souligne {
	text-decoration: underline;
}

.RedTarifBox_content span.txt {
	float: left;
	display: block;
	margin-top: 13px;
	font-size: 10px;
	color: #FFFFFF;
}

.RedTarifBox_content span.prix {
	margin-left: 15px;
	font-size: 35px;
	font-weight: bold;
	color: #FFFFFF;
}

.RedTarifBox_content span.euro {
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	margin-right: 5px;
}

.pointille {
	background: white url(../img/pointille.gif) 0px 0px repeat-x;
	width: 100%;
	margin: 5px 0;
}

.contentGreenBox p {
	font-weight: bold;
	margin: 10px 0 0 15px;
}

.legal {
	color: #585858;
	font-size: 10px;
}

.etoile {
	margin: 3px 5px 8px 0;
}

.contentOngletRouge, .contentOngletJaune {
	color: #FFF;
	padding: 3px 0 0 5px;
}

.dureekm {
	font: bold 12px arial, sans-serif;
	text-align: center;
	margin-top: 15px;
}

.prixrouge {
	font-size: 30px;
	font-weight: bold;
	color: #CC0000;
	text-align: center;
}

.prixrouge2 {
	font-size: 25px;
	font-weight: bold;
	color: #CC0000;
	text-align: center;
}



.eurorouge {
	font-size: 26px;
	font-weight: bold;
	color: #CC0000;
}

.contentGreenBox3 li {
	background: transparent url(../img/puce_supverte.gif) 0px 5px no-repeat;
	margin-left: 10px;
	padding-left: 10px;
}

li.pucejaune{
	background: transparent url(../img/puce_supjaune.gif) 0px 3px no-repeat;
	margin-left: 10px;
	padding-left: 10px;
}

.highlight {
	font-size: 15px;
	font-weight: bold;
}

.mention {
	font-size: 10px;
	color: #FFF;
}

.region {
	text-align: center;
	font-size: 10px;
	margin: 0 0 5px 8px;
}

.gdtxt {
	font-size: 13px;
	margin:5px 0 0 20px;
}

.gdtext2 {
	font-size: 14px;
}

.suptoo {
	background: transparent url(../img/puce_2sup2.gif) 0px 5px no-repeat;
	padding-left: 18px;
}

.cat a {
	float: left;
	display: block;
	height: 24px;
	padding: 5px 0 0 3px;
	background-color: #fff;
}

.cat a:hover {
	background: transparent url(../img/onglet_vert.gif) 0% 0% no-repeat;
}

#contact p, .reservation p {
	margin: 10px 0;
}

.reservation p {
	color: #969696;
}

#acc {
	margin-top: 4px;
}

.tarifgris {
	font: bold 30px arial;
	color: #7B7B7B;
}

.tarifgris2 {
	font: bold 20px arial;
	color: #7B7B7B;
}

.lienhaut li, .lienhaut li a, .lienhaut li a:visited {
	display: inline;
	color: #585858;
	font-size: 10px;
}


.lienhaut a:hover {
	color: #000;
	text-decoration: underline;
}

.ico {
	margin-right: 12px;
	margin-bottom: 10px;
}


.totaldetail {
	display: block;
	width: 85px;
	font-size: 10px;
	color: #fff;
}

.ensavoirplus1 {
	background: #FDE5B1 url(../img/bg_ensavoirplus01.gif) 0% 0% no-repeat;
	width: 179px;
}

.ensavoirplus2 {
	border: solid 1px #000;
	padding: 40px 20px 65px 5px; 
	margin-left: 5px;
	font-size: 10px;
}


.totalpx {
	display: block;
	width: 90px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.tab td{
	border: solid 1px #ccc;
}

.liste li {
	margin-left: 5px;
}

#column1 { background: #CC0000 url(../img/corner_bottom_leftb.gif) no-repeat bottom left;}
.column1_glob { 
	background: url(../img/corner_top_leftb.gif) no-repeat top left;
	padding: 0 0 5px 5px;
	}

#column1_acc{ background: transparent url(../img/topcadreaccueil.gif) no-repeat top left;}
#column1_acc div.baspage { 
	background: url(../img/botcadreaccueil.gif) no-repeat bottom left;
	padding: 10px 0 11px 0;
}

#column1_acc div.fond {
	background: #D9ADD4 url(../img/cadreaccueil_borddt.gif) top right repeat-y;
	padding-left: 10px;
	height: 100%;
	
}
#column1_acc div.fond, #column1_acc p, #column1_acc div.fond a, #column1_acc p a {
	color: #7C1B72;
}

#column1_acc h2 {
	background: transparent url(../img/bg_titreacc.gif) top left no-repeat;
	margin:10px 0 10px -10px;
	padding: 5px 0 0 10px;
	color: #fff;
	font-size: 13px;
	height: 21px;
	width: 178px;
}

#column2 { 
	background: transparent url(../img/corner_bottom_right.gif) bottom right no-repeat;
}

#column3_1{ background: #CC0000 url(../img/corner_bottom_rightb.gif) no-repeat bottom right; }
#column3_2 { background: url(../img/corner_top_rightb.gif) no-repeat top right; }
*/

/*-------------------*/
/*      FOOTER       */
/*-------------------*/



/*-------------------*/
/*      MENU         */
/*-------------------*/





#header, #content .header, #col, .content_bottom, #footer, .page_memo, #menu_memo{ display:none; }
.page_memo.current{ display:block;}
h1, h2, h3, h4, .hn{ display:block; margin:15px 0 !important; font:bold 16px Arial; background:none; text-indent:0px !important; }
.page_memo p, .page_memo div { margin:0 0 12px; padding:0;}

/* special memo => jquery ui */
.ui-accordion-content{display:block !important;}


/*------------------------------
	ADA JEUNES
------------------------------*/
.jeunes {}
	.jeunes #main-header {display:none;}
	.jeunes #main-col {display:none;}
	.jeunes.validation .agence_infos{margin-top:40px;}
	.jeunes.validation .offre_total{float:none; font-weight:bold; margin:20px 0 40px;}
		.jeunes.validation .offre_total p{font-size:22px;}
		.jeunes.validation .offre_total span{font-weight:bold;}
	.jeunes.validation #frm_pgkm{clear:both;}
		.jeunes.validation #frm_pgkm label{display:inline-block; width:240px;}
		.jeunes.validation #frm_pgkm input[type="text"]{width:150px;}
		.jeunes.validation #frm_pgkm select{width:156px;}
		.jeunes.validation #frm_pgkm .chk{padding-right:8px;}
			.jeunes.validation #frm_pgkm .chk label{float:right; display:inline; padding:0 0 0 4px; width:auto; line-height:auto; color:#6AA42C;}
			.jeunes.validation #frm_pgkm .chk input{float:right; margin-top:5px; }
		.jeunes.validation #frm_pgkm .valid{padding-right:8px; clear:right; text-align:right;}		
 	.jeunes #main-footer {display:none;}



/*------------------------------
	RESAS
------------------------------*/
.resas .offre_total{float:none; text-align:left !important;}
.resas *{font-size:10pt;}
.resas #frm_recapitulatif{display:none;}
.resas table{margin-bottom:0.5cm; width:15cm; border-collapse:collapse;}
.resas td,
.resas th{display:table-cell; padding:0.2cm; border:1px solid #ccc;}
	.resas td:first-child{width:10cm;}
.resas .h2-like.simple{margin:0 0 0.1cm !important; text-align:left !important; font-weight:bold;}
.resas .fieldset--type-block{margin-bottom:0.3cm;}
.resas .offre_total,
.resas .offre_total *{font-size:14pt;}
.resas .banner-title{display:none;}

.resas .logo-print{display:block; margin-bottom:15px; width:150px; height:auto;}
#vehicule, #resa{display:inline-block; vertical-align:top;}
#resa{margin-left:40px; margin-top:50px; text-align:left;}
#resa, #resa p.total{font-size:13px;}

.reservation_recapitulatif .picto-point-loc{position:absolute; top:0px; left:33%;}

