/* styles globaux popin options*/
.tpl_popin{background:#fff;}
	.tpl_popin .container{width:auto;  padding:0px 80px 0px;}
.popin-options{}
	.popin-options hr{color:#cc0000; background:#cc0000;}

	.tpl_popin .h1-like{font-size:24px; font-weight:bold;}
		.tpl_popin .h1-like.border{border-bottom:1px solid #818181; margin-bottom:10px; padding-bottom:10px;}
	.tpl_popin .h2-like{margin-bottom:20px; font-size:22px;}
		.tpl_popin .h2-like.small{font-size:18px;}
	
.bg-gris{background:#efefef;}
.bg-rouge{background:#cc0000;}
.blanc{color:#fff;}
.rouge{color:#d71921;}
.gris{color:#6f6f6f !important;}
.noir{color:#000;}
.big{font-size:14px;}
.bigger{font-size:26px;}
	.bigger sup{font-size:14px;}
.small{font-size:11px;}
.smaller{font-size:10px;}
.underline{text-decoration:underline;}
.rounded{}
	.block.rounded{height:35px; line-height:35px; border-radius:20px; margin-bottom:7px;}
.align-center{text-align:center;}
.block-align-center{margin:0 auto;}
.max-width{width:100%;}
.align-right{text-align:right;}
.col-1-2{float:left; width:45%; padding:10px 2%;}
.block{display:block;}
.caps{text-transform:uppercase;}
.puce-rouge{margin-bottom:15px;}
	.puce-rouge li{margin-bottom:4px; padding-left:8px; background:url(img/puce_circle.gif) no-repeat 0 6px;}

.padding-top-15{padding-top:15px;}
.padding-bottom-10{padding-bottom:10px;}

input[type="text"]{
	width:256px;
	height:36px;
	margin:0px 5px;
}

input[type="button"]{
	cursor:pointer;
}

input.btn-rouge,
.btn-rouge{
	font-family:'Raleway', Arial;
	font-size:21px;
	font-weight:600;
	color:#FFF;
	text-transform:uppercase;
	height:52px;
	line-height:52px;
	background:#d71921;
	border:0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:0px 20px;
}
input.btn-rouge.picto,
.btn-rouge.picto{
	background: #d71921 url(../skin/v3/img/picto-fleche.png) no-repeat scroll 15px center !important;
	padding-left: 45px !important;
}

/* POPIN DEVIS */
#mail_sent_confirmation_message{
	color:#d71921;
	margin-top:10px;
	margin-bottom:10px;
}
	
/* POPIN 360 */
.popin-360{
	padding-bottom:30px;
}
.popin-360 .tpl_popin .container{
	width:100%;
	height:auto;
	padding:0px;
}
.popin-360 .tpl_popin .container > iframe{
	width:700px;
}


/* POPIN NEGOCIATION */
.popin-negociation{
	border:10px solid #dedede;
	border-radius:0px;
}
.popin-negociation .ui-widget-header .ui-state-default{
	background:#FFF;
	border:0px;
}
.popin-negociation .ui-state-default .ui-icon{
	background:url(../img/picto-croix.png) no-repeat 0 0;
}
.popin-negociation h3{
	font-family:'Raleway', Arial;
	font-size:30px;
	font-weight:normal;
	line-height:30px;
	position:relative;
	margin-left:140px;
}
.popin-negociation h3 span.gras{
	font-size:32px;
}
.popin-negociation form#forfait_negociation{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0px 140px;
	margin-bottom:25px;
}
.popin-negociation form#forfait_negociation div{
	
}
.popin-negociation form#forfait_negociation p{
	margin:20px 0px;
	overflow:hidden;
}
.popin-negociation form#forfait_negociation label{
	float:none;
	display:inline-block;
	font-family:'Raleway', Arial;
	font-size:15px;
	color:#222;
	font-weight:normal;
	text-align:left;
	width:320px;
}
.popin-negociation form#forfait_negociation input[type="text"]{
	font-family:Arial;
	width:125px;
	height:34px;
	font-size:32px;
	color:#000;
	text-align:right;
	border:1px solid #bababa;
}
.popin-negociation form#forfait_negociation input[type="text"].money.gras{
	border:none;
}
.popin-negociation form#forfait_negociation input[type="submit"].btn-rouge,
.popin-negociation form#forfait_negociation input[type="button"].btn-rouge#nego_valide{
	display:block;
	cursor:pointer;
	float:right;
	background:#d71921 url(../skin/v3/img/picto-fleche.png) no-repeat 40px center;
	padding:0px 50px 0px 75px;
	margin:20px 40px 20px 0px;
}
.popin-negociation form#forfait_negociation input[type="button"].btn-rouge#nego_valide{
	margin-right:30px;
}
.popin-negociation form#forfait_negociation span.euro{
	font-family:Arial;
	font-size:32px;
	font-weight:bold;
}
.popin-negociation form#forfait_negociation span.bg-gris{
	display:block;
	float:right;
	width:30%;
	background:#333;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:10px 20px 10px 0px;
	padding:10px 0px;
}
.popin-negociation form#forfait_negociation p.msg.rouge{
	font-size:14px;
	text-align:left;
}
.popin-negociation form#forfait_negociation p.msg.rouge span.tarif{
	font-size:32px;
}
.popin-negociation form#forfait_negociation .smiley{
	font-size:22px;
}
