.presse #page h1,
.presse #page h2{font-family:'Raleway', Arial; font-size:19px; color:#7f7f7f; margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #CCC;}

.presse #page li.art_presse strong,
.presse #page li.art_presse p{display:inline-block; vertical-align:top;}

.presse #page li.art_presse p{width:85%; margin-left:20px; text-align:justify;}