/* -------------------------------------------
			Formulaires
---------------------------------------------*/
/*--------------------------------
		Reset formulaires
----------------------------------*/
form{}
	label{display:inline-block; position:relative; float:none; width:auto; height:auto; font-weight:normal;}
		span.intitule{display:inline-block; vertical-align:middle; cursor:pointer;}
	input{padding:0;}
	.message span.intitule{vertical-align:top;}
	input[type="checkbox"], input[type="radio"]{padding:0;}
	/*content radio ou checkbox*/
	.chk-content, .rad-content{}
		.chk-content label, .rad-content label{display:inline-block;}
		.rad-content .intitule-rad{display:block;}
	/*erreur*/
	input.error, select.error, textarea.error{color:red; border:1px solid red;}
	input.error:focus, select.error:focus, textarea.error:focus{color:#444;}
	
/* Choix du type de présentation des FORM*/
.base-form{} /* formulaire courant */
	.base-form label{margin:0 0 10px; width:100%;}
		.base-form span.intitule{width:38%; padding-right:7px; font-size:1em; line-height:22px; text-align:right;}
			.base-form span.intitule.full{width:100%; text-align:left;}
		.base-form input{width:49%; height:2em; border:1px solid #ececec;}
			.base-form input[type="text"]{padding:0 5px;}
			.base-form input[type="submit"]{width:auto; height:auto; padding:0 10px;}
			.base-form input[type="checkbox"], .base-form input[type="radio"]{margin-right:2px; width:13px; height:13px; border:0; vertical-align:middle;}
		.base-form select{width:auto; height:2em;}
		.base-form textarea{width:49%; height:4em; border:1px solid #ececec; resize:none;}
	
.base-form .chk-content label, .base-form .rad-content label{margin-bottom:0;}
	.base-form .chk-content label span.intitule, .base-form .rad-content label span.intitule{width:auto;}
		.base-form .rad-content .intitule-rad{margin-bottom:0.2em; font-size:1.1em; font-weight:bold; }


.block-form{} /* formulaire avec champs 100% */
	.block-form span.intitule{display:block; width:100%; padding-right:0; text-align:left; background:none;}
		.block-form input[type="text"], .block-form input[type="password"], .block-form textarea{display:block; width:50%;}
	.block-form .chk-content label span.intitule, .block-form .rad-content label span.intitule{display:inline-block; width:70%;}		
		
hr{color:#ececec; background:#ececec;}

/*
	Cas particuliers
*/
.base-form .label--email{ display:inline-block;width:65%;}
	.base-form .label--email .intitule{display:inline-block; width:20%;}
	.base-form .label--email  input{width:70%; display:inline-block;}

.rad-content.inline{margin-bottom:10px;}	
.rad-content.inline .intitule-rad{padding:2px 7px 0 0; width:75%; display:inline-block; vertical-align:middle; font-weight:normal; line-height:14px;}
.rad-content.inline label{width:12%; vertical-align:middle;}

a.btn.pli,
	a.btn.pli:hover{position:static; width:22px; height:21px; background:url(../../../css/img/sprite-btn-pli.png) no-repeat 0 1px; text-indent:150%; overflow:hidden; white-space:nowrap;}
	a.btn.pli.active{background-position:0 -22px;}

#form_jeu{min-height:270px;}
	#form_jeu input[type="submit"]{display:inline-block; margin-right:54px; width:87px; height:17px; border:none;}
	#form_jeu .precisions{top:0; margin-right:10px;}

.green{color:#4d9ba1;}
#questionnaire{display:none;}
#reglement{display:none;}