.societe #page h1,
.societe #page h2{font-family:'Raleway', Arial;}
.societe #page h1{color:#000; font-size:19px; margin-bottom:30px;}
.societe #page h2{color:#525252; font-size:18px;  margin-bottom:20px;}
.societe #page h3{font-family:'Raleway', Arial; font-size:14px;}

.societe #page ul.tiret li{margin-bottom:0px; padding-bottom:2px;}

.societe #page .marg-top{margin-top:20px;}

/*societe*/
.societe.index .date{width:85%; text-align:justify;  display:inline-block; vertical-align:middle;}
.societe.index .logo{width:90px; margin-left:20px; display:inline-block; vertical-align:middle;}

/*societe chiffre */
.societe.chiffres img{margin:0 0 30px;}

/*societe partenaires*/
.partenaires #page h1,
.partenaires #page h2{font-family:'Raleway', Arial;}
.partenaires #page h1{font-size:19px; color:#000; margin-bottom:30px;}
.partenaires #page h2{font-size:18px; color:#525252; margin-bottom:10px;}
.societe.partenaires #page .tpl_page.simple img,
.societe.partenaires #page .tpl_page.simple .partenaire,
.societe.partenaires #page .tpl_page.simple .partenaire2{display:inline-block; vertical-align:top;}
.societe.partenaires #page .tpl_page.simple .partenaire,
.societe.partenaires #page .tpl_page.simple .partenaire2{width:75%; margin-left:25px; margin-bottom:20px;}

/*societe reseau*/
.societe.reseau #form_franchise,
.societe.reseau #form_franchise input[type="text"],
.societe.reseau #form_franchise select,
.societe.reseau #form_franchise label,
.societe.reseau #form_franchise .rad span,
.societe.reseau #form_franchise .chk span,
.societe.reseau #form_franchise textarea{font-family:'Raleway', Arial; font-size:14px; display:inline-block; vertical-align:middle; float:none; font-weight:bold;}
.societe.reseau #form_franchise input[type="text"],
.societe.reseau #form_franchise select{height:36px; margin:0 5px;}

.societe.reseau #form_franchise label, .societe.reseau #form_franchise .rad span.local, .societe.reseau #form_franchise .chk span.rappel0{width:265px; height:auto; line-height:20px;}
	.societe.reseau #form_franchise .rad span input, .societe.reseau #form_franchise .rad span label, .societe.reseau #form_franchise .chk span input, .societe.reseau #form_franchise .chk span label{width:auto; height:auto; float:none; display:inline-block; vertical-align:middle; margin:0 5px; padding:0;}
		.societe.reseau #form_franchise p.chk.rappel span{width:265px; height:60px; color:#cc0000; font-weight:bold;}
	.societe.reseau #form_franchise textarea{margin-left:5px;}
	.societe.reseau #form_franchise .optin{margin-top:15px;}
		.societe.reseau #form_franchise .optin label{width:auto; color:#000;}
	.societe.reseau #form_franchise input.btn-type-2015{line-height:16px;}



