.newsletter #page h1{font-family:'Raleway', Arial; margin-bottom:10px; color:#000; font-size:19px;}

.newsletter #page p, .newsletter #page label, .newsletter #page select, .newsletter #page input{font-family:'Raleway', Arial; font-size:14px;}

.newsletter #page label, .newsletter #page select, .newsletter #page input{display:inline-block; vertical-align:middle; float:none;}
.newsletter #page input{padding:0 5px;}
.newsletter #page select{height:36px; margin:0 5px; width:270px;}

.newsletter p.valid{margin-left:400px;}
	.newsletter .btn{background:#d71921; width:auto; height:30px; line-height:20px; font-family:'Raleway', Arial; font-size:18px; color:#fff; font-weight:600; text-transform:uppercase; text-align:center; margin:0; padding:0; border-radius:4px; padding: 5px 25px;}
	.newsletter a.btn{display:inline;}