<img src="../css/img/numero_un.png" alt="" class="vignette-top" />
<div class="tpl_page">
	<div class="h4 noir brand-font">Nos véhicules utilitaires</div>
	<? foreach(Categorie_Collection::factory('fr','vu') as $categorie) : ?>
	<div class="encart">
		<div class="top"></div>

		<h3>Catégorie <?=$categorie['mnem']?></h3>
		<img src="../<?=$categorie->getImg('med')?>" alt="" class="left" />
		<div class="infos">
			<p>
				<strong><?=$categorie['nom']?></strong>
			</p>
			<p class="rouge">
				<?=$categorie['commentaire']?><br />
			</p>
			<p>
				<strong><?=$categorie['description']?></strong>
			</p>
			<ul class="options clear">
				<?=$categorie->getSpecifications('li');?>
			</ul>
			<a rel="nofollow,noindex" href="<?=$categorie->getURLResa()?>" class="btn right clear">Réservez<span class="end"></span></a><br clear="all" />
		</div>
		<div class="clear"></div>
	</div>
	<? endforeach; ?>
	<?
		// un block avec la liste des agglomérations
		echo Feature::getBlock('agglos-liste', array('title' => "Les grandes villes pour la location d'utilitaires", 'term' => 'Location utilitaire'));
	?>
</div>