.zone{}
	.zone.index .univers_titre{ background:transparent url(img/header_guadeloupe.gif) no-repeat center center; }
	.zone .content_bottom{ clear:both; height:20px; background:transparent url(../../../css/img/content_bg_hm.png) no-repeat -1890px -46px; }
	#ville{ width:280px; }
	
.zone.gp .univers_titre h1.hn{background-position:248px 0; font-size:20px;}
.zone.gp .banniere-top{text-align:center;}