.box-sizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.aide .bold{font-weight:700;}
.aide strong{font-weight:600;}

.round-box{padding:20px; margin-bottom: 20px; border-radius:10px;  border:1px solid #ccc;}
.grey-background{background: #ecebeb;}

.underline{text-decoration:underline;}

.gris{color:##7f7f7f;}

.aide .marg-top-15, .aide #content h1.marg-top-15{margin-top:15px;}
.aide .marg-top-20{margin-top:20px;}

/* mise en place du gabarit */
.aide #content .bg-new .header{background:#d71921; width:964px; height:auto; padding:0;}
	.aide #content .bg-new .header .univers_titre{font-family:'Raleway', Arial; font-size:16px; color:#FFF; font-weight:600; padding:10px 20px; text-transform:uppercase;}
.aide #content .bg-new  .content #col{width:264px; background:#FFF;}
.aide #content .bg-new  .content #page{width:700px; padding:0;}

/* menu gauche */
.aide #content .bg-new  .content #col .menu li{height:auto; margin:0;}
	.aide #content .bg-new  .content #col .menu a{color:#666; cursor:pointer; display:block; font-family:'Raleway', Arial; font-size:14px; font-weight:normal; height:auto; line-height:18px; text-decoration: none; width:auto;}
		.aide #content .bg-new  .content #col .menu a:hover, .aide #content .bg-new  .content #col .menu a.current {background:none; color:#d71921; font-weight:bold;}

/* container droit */	

.aide #content h1{font-family:'Raleway', Arial; font-size:13px; font-weight:700; padding:5px 0; margin-top:5px; border-bottom:2px solid #d71921; display:inline-block;}
.aide #content h2, .aide #content h3{font-family:'Raleway', Arial; font-size:13px; font-weight:700; padding:10px 0 0 0; margin:0;}
.aide #content p{font-family:'Raleway', Arial; font-size:13px; font-weight:500; padding:10px 0; margin:0;}
.aide #content table{font-family:'Raleway', Arial; font-size:13px; font-weight:500; margin:10px 0 20px 0;}
	.aide #content table.border{width:100%;}

	.aide #content p.bold{font-weight:700;}
.aide #content ul li{font-family:'Raleway', Arial; font-size:13px; font-weight:500; padding:0; margin:8px 0;}
	.aide #content ul li a:hover{color:#d71921; font-weight:600; text-decoration:none;}
	.aide #content ul.tiret{margin-bottom:15px;}
		.aide #content ul.tiret li{padding-left:10px; margin-top:5px;}

.aide .saviez-vous{width:auto; background:#efefef; padding:5px 20px; margin:0; font-size:13px;}

.aide p.mentions{
	font-size:10px;
	margin-top:35px;
}