/* CSS reutilisable */
.offre .titre-h1{
	font-size:24px;
	color:#d71921;
	margin-top:15px;
	margin-bottom:15px;
}
.offre .titre-h2{
	font-size:24px;
	color:#000;
	margin-top:15px;
	margin-bottom:15px;
}
.offre .txt-gras{
	font-weight:bold;
}
.offre p{
	font-size:14px;
	color:#000;
}
.offre p.mentions{
	font-size:10px;
	margin-top:35px;
}
.underline{
	text-decoration:underline;
}

/* Le 18 05 2015 */
/* offre pizza */
.offre.pizza h1{
	font-size:24px;
	margin-bottom:15px;
	color:#231f20;
}
.offre.pizza p span{
	margin-left:50px;
}
.offre.pizza p.mentions{
	font-size:10px;
	margin-top:35px;
}

/* Le 02 06 2015 */
/* offre mariage */
.offre.mariage p{
	margin-bottom:10px;
}

/* Le 03 06 2015 */
.offre .titre-h3{
    color:#000;
    font-size:20px;
    margin-bottom:15px;
	margin-top:15px;
}
.offre .titre-h4{
    color:#000;
    font-size:18px;
    margin-bottom:15px;
	margin-top:15px;
}