<?
	/** @var Client obtenir le client depuis Page_Client */
	$client = $this->getClient();
?>
<div class="col-espace-client tpl_page">
	<div class="fond-h1">
		<?=hn(1, "Vos réservations", "ffffff", 14);?>
	</div>
	<?=hn(2, "Votre compte client", "000000", 14);?>
	<p>
		<?=$client->getHtmlAddress();?>
	</p>
	<a href="../client/profil.html" class="btn">Modifiez votre compte client<span class="end"></span></a>
	<? if ($client->hasComptePro()) : ?>
	<br clear="all" />
	<?=hn(2, "Votre compte professionnel", "000000", 14);?>
	<a href="../client/compte_pro.html" class="btn">Vos réservations professionnelles<span class="end"></span></a>
	<a href="../client/partenaire.html" class="btn">Modifiez votre compte pro<span class="end"></span></a>
	<? endif; ?>
</div>

<div class="page-espace-client">
	<?=hn(2, "Gérez votre profil, consultez vos réservations", "000000", 14);?>
	<div class="indent-titre">
		<?=hn(2, "ou éditez vos factures directement en ligne", "000000", 14);?>
	</div>
<?
	$i = 0;
	foreach($client->getReservations(date('Y-m-d',strtotime('-2 year'))) as /** @var Reservation */ $reservation)
	{
		// on augmente le compteur
		$reservation['show_counter'] = ++$i;
		echo $reservation->toHtml('v2-client-compte');
		echo '<a href="../'.$page.'.html#content" class="btn retour-page haut">haut de page<span class="end"></span></a>';
		echo '<div class="clear"></div>';
	}
?>
</div>