<?
	/** @var Reservation */ $reservation = $this->getReservation(); 
	/** @var Agence */ $agence = $reservation->getAgence();
	/** @var Categorie */ $categorie = $reservation->getCategorie();
?>
<div class="col-espace-client">
	<img src="../img/logo.gif" alt="ada" title="ada" class="logo-impression" />
	<div class="clear"></div>
	<p  class="adresse-agence">
		<?=$agence['nom'].',<br /> '.$agence['adresse1'] .'<br />'.$agence->getHtmlAddress(' ','cp,ville');//.$agence->getHtmlAddress(' ', 'adresse1,cp,ville');?>
	</p>
	<div class="clear"></div>
</div>
<div class="tpl_page page-espace-client">
	<?=hn(1, "Imprimez votre confirmation de réservation", "000000", 14);?>
	<? echo $reservation->toHtml('v2-recapitulatif', array('showTotal' => true)); ?>
	<div class="clear"></div>
	<a href="../client/compte.html" class="btn right">Vos réservations<span class="end"></span></a>
	<a href="javascript:window.print()" class="btn right">Imprimez votre confirmation<span class="end"></span></a>
</div>
