/*societe*/
.societe.index .logo{ float:right; width:90px; margin-right:10px;}
.societe.index .date{ float:left; width:470px; }

.societe.chiffres img{margin:0 0 30px;}

.societe.partenaires div.partenaire{ float:left; width:356px; }
.societe.partenaires img{ float:left; }

.societe.reseau #form_franchise input{}
.societe.reseau #form_franchise label{ width:265px;}
.societe.reseau #form_franchise .chk label{ width:100%;}
.societe.reseau #form_franchise .rad{ display:inline; }
.societe.reseau #form_franchise .rad label{ margin-top:-4px;}
.societe.reseau #form_franchise .chk{ display:inline; }
.societe.reseau #form_franchise .chk label{ margin-top:-4px;}
.societe.reseau #form_franchise p.chk.rappel l{float:left;}
	.societe.reseau #form_franchise p.chk.rappel label, .societe.reseau #form_franchise p.rad label{float:left; width:269px;}
	.societe.reseau #form_franchise p.chk.rappel span, .societe.reseau #form_franchise p.rad span{display:block; float:left; width:265px; height:60px; color:#cc0000; font-weight:bold;}
	.societe.reseau #form_franchise p.rad span{height:35px;}
	.societe.reseau #form_franchise p.valid input{ margin:32px 6px 0 0; }
.societe.reseau .content_bottom a.btn.right.haut{display:none;}