/* promo */
.promo #page{ padding:25px 0 0; width:940px; }
	#form_promo{ float:left; width:303px; }
	#promo_content{ float:left; padding:0 30px; width:577px; }
		.promo_contenu{ margin:0 0 20px; background:#FFF url(../../../css/img/promo_bg.jpg) no-repeat 0 0; border-bottom:1px solid #d8d8d8; }
		.promo_body{ display:none; }
		.promo_contenu.open{ height:379px; background:#FFF url(../../../css/img/promo_bg.jpg) no-repeat -577px 0; }
		.promo_contenu.open .promo_body{ display:block; }
		.promo_contenu .adresse{ float:right; padding:30px 75px 20px 20px; width:150px; }
		.promo_contenu .description{ padding:30px 75px 0; font:bold 14px Arial; color:#1b1b1f; }
		.promo_contenu .mentions{ margin:15px 0 20px; font-size:12px; color:#7b7b7b; }
		.promo_contenu .btn{ width:60px; }
		.promo .picto{ position:absolute; top:-80px; right:30px; width:577px; height:163px; background:transparent url(../../../css/img/promo_picto.png) no-repeat 0 0; }
	.promo_head{ padding:20px 70px 0 75px; height:64px; cursor:pointer; }
	.promo #promo_content h1{ margin:0 0 40px;}
	
	.promo.dimanche #page{ padding:25px 30px 0 21px; width:577px; }
	.promo.la-revolution-des-promotions #page{ padding:25px 0 0 8px; width:620px; }

	.tpl_promo{}
		#form_promo{ padding:0 15px; width:273px;}
		#form_promo .titre{ margin:0 0 20px; }
		#form_promo ul{}
			#form_promo li a{ display:block; height:25px; text-decoration:none; background-color:#fff; }
			#form_promo #lst_local li a{ height:auto; }
			#lst_dept{ margin:20px 0; padding:0 0 10px; border-bottom:1px solid #CCC; }
			#lst_dept a, #lst_mode a{ padding-left:20px; font:bold 18px Arial; color:#000; background:transparent url(../../../css/img/picto_promo.png) no-repeat 0 5px; }
			#lst_dept .active a, #lst_mode .active a{ background:transparent url(../../../css/img/picto_promo.png) no-repeat 0 -95px; }
			#lst_local li, #lst_national li{ padding-left:20px; }