<?
	/** @var Reservation */
	$reservation = $this->getData('reservation');
	if (!$reservation)
	{
		if ($this->hasMessages())
			$msg = $this->getMessages();
		else
			$msg = "Une erreur s'est produite durant la recherche de votre réservation.";
		echo $this->showError($msg);
		return;
	}
?>
<div id="recapitulatif">
	<?
	echo $reservation->toHtml
	(
		'mobile-recapitulatif',
		array
		(
			'page' => $page,
			'showTotal' => true,
			'showPrixOptions' => true,
		)
		); ?>
</div>
<div id="page">
	<?
	echo $reservation->toHtml
	(
		'resultat-options',
		array
		(
			'forfait' => $reservation->getForfait(),
			'page' => $this->getAction(),
			'display1Euro' => false,
			'track_page' => $this->getTrackPage(),
			'labelTotal' => 'PRIX TOTAL :',
			'themes' => array
			(
				//'assurances' => array('ouvert' => 1, 'toggle' => 0, 'visuels' => 0, 'presentation' => 'ligne2'),
				'kits' => array('ouvert' => 0),
				'matach' => array('ouvert' => 0),
				'matloc' => array('ouvert' => 0),
			)
		)
	);
	$this->setTrackInfo('pr_vu', Tracking_SmartProfile::getPRVU($reservation, $this->getId(), null, array('assurances')));
?>
</div>
