/* Form réservation */

	/* choix du véhicule */
	.choice--vehicle  [class*="choix_"]{display:inline-block; position:relative; vertical-align:bottom; background-image:url(../img/sprite-vehicle.png); background-size: 61px 64px;}
		.choice--vehicle  .choix_vu{width: 61px; height: 36px; background-position: 0 -0px;}
		.choice--vehicle  .choix_vp{width: 48px; height: 28px; background-position: 0 -36px;}
		
	.choice--vehicle  [class*="choix_"]:before{content:''; display:block; width:17px; height:17px; background:#fff; position:absolute; left:-29px; bottom:3px; border-radius:100%; border:1px solid #dfdfdf; transition:0.5s;}
		.choice--vehicle  input[type="radio"]:checked + [class*="choix_"]:before{background:#d71921; border:none;}
		
		.choice--vehicle input[type="radio"]{margin:0 10px 10px 0;}
	
	/* geoloc */
	.geoloc a{display:block;}
		.geoloc a:after{content:''; display:inline-block; width:14px; height:20px; margin-right:2px; background:url(../img/pin.png) no-repeat 0 0; background-size:cover; vertical-align:middle;}
		
	#carte_recherche_agence{margin-bottom:15px; min-height:300px;}
	#liste_recherche_agence .recherche_agence{margin-bottom:10px; border-bottom:1px solid #ccc;}
	
	#ville_ok{display:inline-block !important;}
	
	/* auto-complete */
	#autocomplete{position:relative;}
	#tagbox-lkup{position:absolute; top:100%; left:0; width:100%; padding-top:10px;  z-index:20;}
		#tagbox-lkup li{margin-bottom:4px;}
		#tagbox-lkup li{margin-bottom:4px;}
		#tagbox-lkup em{font-style:normal;}
		#tagbox-lkup ol{background:#fff;}
	
	
	/* date */
	.form-inline input[type="text"]{margin-left:2%; width:88%; float:none;}
	.form-inline select{margin-left:2%; width:83%; color:#d71921;}
	.form-inline .row{margin-bottom:10px;}
	
	
	/* Kilometrage */
	.form-inline.kilometers{margin:5px -15px 20px;padding:10px 15px; border:2px solid #d71921; border-left:none; border-right:none;}
		.form-inline.kilometers label{margin-bottom:0;}
	
	#l_distance{width:auto; max-width:135px;}
	#t_distance{max-width:50%; width:auto; margin-right:10px;}
	
	.type-label.big{font-size:22px;}
	.info--label{display:block; font-size:13px; color:#999; font-weight:normal;}
	
	.form-group.no-margin-bottom{margin-bottom:0;}
	.form-inline input[type="text"]{margin-left:0;}
	
	/* filtres */
	#filtres_choix{margin-bottom:5px; color:#d71921;}
	.filtres{margin-bottom:15px;}
	

	.row.type-table.vehicle--preview [class*="col-"]{vertical-align:top;}

	/* véhicules dispo */
	.list--vehicle .grille{margin:0; padding:0; list-style:none;}
		.list--vehicle .grille > .grille-categorie{position:relative; padding:15px 0; border-bottom:1px solid #dcdcdc;}
			.list--vehicle .grille > .grille-categorie.indispo:before{content:''; position:absolute; bottom:15px; top:15px;  left:0; width:100%; background:rgba(0,0,0,0.3); z-index:10;}
			.list--vehicle .grille > li:last-child{border:none; padding-top:0;}
				.list--vehicle .grille > .grille-categorie.indispo:last-child:before{top:0;}
			.list--vehicle .grille > .grille-categorie.indispo label.indispo-voir{position:relative; z-index:11;}
				.list--vehicle .grille > .grille-categorie.indispo input{display:none;}

		.list--vehicle .grille > .grille-categorie.nego:after{content:'Prix négociable'; position:absolute; padding:5px 10px; top:35px; right:0; background:#ffd563; color:#d71921; font-weight:600;}
		
	.vehicle--preview{padding:10px; background:#efefef; line-height:1.3em;}	
		.vehicle--preview .cat_img{max-width:90%; margin-bottom:15px; width:100%;}
		.vehicle--preview .main-title{font-weight:600; font-size:17px;}
		.vehicle--preview .price{display:block; margin:15px 0 25px; font-family:arial, helvetica, roboto, sans-serif; font-size:30px; color:#d71921; font-weight:bold;text-align: right;}
		.vehicle--preview .details{display:inline-block; margin:7px 0 0 4px; vertical-align:top; text-decoration:underline; font-size:12px;}
	
	#map_agence_infos{height:200px; width:100%; margin-bottom:10px;}
	#info-agence .adresse-agence{margin-bottom:15px;}
	
	/* véhicules indispo */
	#agences_indispo .agence_indispo_info{font-family:arial, helvetica, roboto, sans-serif; margin:15px 0;}
		#agences_indispo .agence_indispo_info + br{display:none;}
		#agences_indispo .agence--table-horaires{margin:15px 0; width:100%;}
			#agences_indispo .agence--table-horaires th{width:30%;}
			#agences_indispo .agence--table-horaires td{width:70%;}
	#agences_indispo input[type="button"]{background:#d71921; font-size:14px; color:#fff !important; font-weight:500; border:none; border-radius:3px; display:inline-block; text-transform:uppercase; transition:background 0.5s ease 0s; padding:5px 30px;}

	/* options */
	.loc-agence{}
		.loc-agence:before{content:''; display:inline-block; width:10px; height:15px; margin-right:4px; background:url(../img/pin.png) no-repeat 0 0; background-size:cover; vertical-align:baseline;}
		
fieldset.option_theme{margin-bottom:15px;}		
	fieldset.option_theme legend{padding-bottom:2px; margin-bottom:12px; font-size:16px; color:#000; border-color:#000;}
		fieldset.option_theme legend,
		fieldset.option_theme legend strong{font-weight:600;}

[id="fieldset_theme_assurances"]{background:#e9e9e9; margin:40px -15px 0; padding:0 15px 15px;}		
	[id="fieldset_theme_assurances"] legend{display:block; width:100%; position:relative; top:-25px; padding:0 0 2px; margin:0 0 12px; font-size:16px; font-weight:600; color:#000; border-bottom:1px solid #060505; background:#fff;}		
	[id="fieldset_theme_assurances"] table{width:100%;}
		[id="fieldset_theme_assurances"] tr{display:table; width:100%;}
			[id="fieldset_theme_assurances"] td{display:table-cell;}
			[id="fieldset_theme_assurances"] .option_choice,
			[id="fieldset_theme_assurances"] .option_prix{width:13%;}
				[id="fieldset_theme_assurances"] .option_prix{font-weight:bold;}
			[id="fieldset_theme_assurances"] .option_label{width:50%;}
			
			[id="fieldset_theme_assurances"] .option_theme_liste{display:table; padding:0; list-style:none;}
				[id="fieldset_theme_assurances"] .option_theme_liste li{display:table;}

#options_franchise_titre{border-bottom:1px solid #ccc; margin:15px 0 0; font-weight:bold;}
	#options_franchise_titre td{padding-bottom:4px;}
#groupe_franchise label{padding:10px; margin-top:15px; background:#b9b8b8; text-transform:uppercase; font-weight:bold; border-radius:5px;}
	#groupe_franchise td[colspan="2"]{display:none;}
#option_assi,
#option_asvp{font-family:arial, roboto, heltica, sans-serif;}
	#option_assi .option_choice,
	#option_asvp .option_choice{display:none;}
	#option_assi .option_prix,
	#option_asvp .option_prix{width:35%; background:#d71921; text-align:center; color:#fff; font-size:22px; font-weight:bold; border-radius:4px;}
	#option_assi .option_label,
	#option_asvp .option_label{width:65%; padding:10px; background:#fff; border-radius:0 4px 4px 0;}
		#option_assi .option_label label,
		#option_asvp .option_label label{margin:0; color:#666; text-transform:uppercase; font-weight:bold; font-size:12px; width:auto;}

#option_covp .option_accroche,
#option_covu .option_accroche{display:none;}	
.option_theme_ligne{background:#fff; font-family:arial, helvetica, roboto, sans-serif; border:1px solid #ccc;}	
	.option_theme_ligne td{padding:5px 10px;}	
	.option_theme_ligne label{display:inline-block; width:85%;}		
	.option_theme_ligne label + a, 
	#fieldset_theme_kits td.option_label a,
	#fieldset_theme_matloc td.option_label a,
	#fieldset_theme_matach td.option_label a{display:inline-block; float:right; margin-top:1px; background:#fff; width:18px; height:18px; border-radius:100%; overflow:hidden; border:1px solid #ccc;}
		
		
#frm_reservation_tarif .valid{text-align:center;}
	#frm_reservation_tarif .default-btn{padding-top:6px; padding-bottom:6px;}
	#frm_reservation_tarif .offre_total{text-align:right;}
		#frm_reservation_tarif .offre_total p{margin-bottom:0; font-weight:bold; font-family:arial, roboto, helvetica, sans-serif;}
			#frm_reservation_tarif .offre_total .total{font-size:15px;}
			#frm_reservation_tarif .offre_total .prix_total,
			#frm_reservation_tarif .offre_total .euro{font-size:26px; color:#d71921;}
		#frm_reservation_tarif .offre_total .paiement_immediat{display:block; font-size:11px; margin:-5px 0 20px;}
				
ul.option_theme_liste{width:100%; font-family:arial, roboto, helvetica, sans-serif;}		
	ul.option_theme_liste ul{width:100%; padding:0;}		
	ul.option_theme_liste > li{position:relative; width:100%; border-bottom:1px solid #ccc;}		
		ul.option_theme_liste li p{margin:0;}	
		ul.option_theme_liste li a {position:absolute; top:15px; right:0; background:#fff; width:16px; height:16px; border-radius:100%; overflow:hidden;}	
			ul.option_theme_liste li .trigger-option-popin{width:16px; height:16px;}	
		ul.option_theme_liste li label{display:blcok; width:100%; margin:10px 0;}	
			ul.option_theme_liste li label .option_choice,
			ul.option_theme_liste li label .option_franchise_edito,	
			ul.option_theme_liste li label .option_franchise_montant{display:inline-block; vertical-align:middle;}
				ul.option_theme_liste li label .option_franchise_montant{width:25%; white-space:nowrap;}
				ul.option_theme_liste li label .option_franchise_edito{width:58%; padding-left:10px;}
					ul.option_theme_liste li label .option_franchise_edito .option_franchise_accroche{margin-bottom:5px; font-weight:bold; line-height:1.2em;}
					ul.option_theme_liste li label .option_franchise_edito .option_commentaire_liste li{font-size:13px;}
						ul.option_theme_liste li label .option_franchise_edito .option_commentaire_liste li:before{content:url(../img/red-tick.png); margin-right:5px;}
				ul.option_theme_liste li label  .option_choice{width:6%;}	
					ul.option_theme_liste li label  .option_franchise_montant{padding:10px; background:#d71921; text-align:center; color:#fff; font-size:16px; font-weight:bold;}	

#fieldset_theme_complementaires table{width:100%; border-collapse:separate; border-spacing:0 10px; font-family:arial, helvetica, roboto, sans-serif;}					
	#fieldset_theme_complementaires td{padding:5px 10px; border:1px solid #ccc; vertical-align:top;}					
		#fieldset_theme_complementaires td.option_label{border-left:none; border-right:none;}					
			#fieldset_theme_complementaires td.option_label a{display:inline-block; margin:1px 0 0 5px; border:1px solid #ccc; width:18px; height:18px;}					
		#fieldset_theme_complementaires td.option_choice{border-right:none; width:38px;}
			#fieldset_theme_complementaires td.option_choice input{margin-top:3px;}					
		#fieldset_theme_complementaires td.option_prix{border-left:none; white-space:nowrap;}					
		#fieldset_theme_complementaires td label{margin:0; width:auto;}									
		#fieldset_theme_complementaires a{display:none !important;}
		
		#fieldset_theme_complementaires .option_commenatire_ligne, 
		#fieldset_theme_complementaires .option_accroche{display:block; margin:5px -55px 0 -38px;}	
		
#fieldset_theme_voiturier{font-size:13px;}
	#fieldset_theme_voiturier table{width:100%;}
		#fieldset_theme_voiturier table table{border-collapse:separate; border-spacing:0 10px;}
	#fieldset_theme_voiturier ul{padding:0;}
	#fieldset_theme_voiturier li{list-style:none;}
	#fieldset_theme_voiturier img.left{display:none;}
	#fieldset_theme_voiturier label{margin:0;}
	#fieldset_theme_voiturier .option_theme_grille-label{margin:0; color:#d71921; font-size:14px; font-weight:500;}
	#fieldset_theme_voiturier .option_prix{font-size:18px;}
	#fieldset_theme_voiturier .option_theme_grille .option_theme_grille td{padding:10px; border:1px solid #ccc;}
		#fieldset_theme_voiturier .option_theme_grille .option_theme_grille td.option_label{border-right:none;}
		#fieldset_theme_voiturier .option_theme_grille .option_theme_grille td.option_prix{border-right:none; border-left:none;}
		#fieldset_theme_voiturier .option_theme_grille .option_theme_grille td.option_choice{border-left:none;}


#error_groupe_franchise{color:#d71921; font-weight:bold;}

#map_agence{min-height:200px; width:100%;}

.forfait_nego{margin-top: 5px;padding:0 0 0 35px; background:#dc1c17 url("../../v3/img/picto-negociations.png") no-repeat 7px center; background-size:20px auto; line-height:1.2em; }
	.forfait_nego a{display:block; padding:5px; background:#000; color:#fff; font-weight:600;}

#forfait_negociation{margin-top:15px;}
	#forfait_negociation input[type="text"]{margin-right: 10px; width:70px; text-align: right;}
	#forfait_negociation .btn-rouge{display:block; width:auto; margin-top:20px;}
	#forfait_negociation .msg.rouge{color:#dc1c17;}
	#forfait_negociation .bg-gris{display:inline-block; margin-left:5px; font-size:18px; white-space: nowrap;}
	#forfait_negociation label{display:block;}
	
	/* inscription */
		/* recap */
		.booking--more-info{}
			.recap--options-n-price{margin:15px 0 0;}
			.booking--more-info ul{padding:0; list-style:none; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ccc;}
			.booking--more-info table{width:100%; table-layout:fixed;}
				.booking--more-info .res_opt_prix{text-align:right;}
		.recap .visu{max-width:90%; width:100%;}
		
		table.fullwidth{width:100%;}
		table.total-price{margin-bottom:15px; width:auto;}
		.total-price{width:100%; background:#d71921; color:#fff; text-transform:uppercase; font-family:arial, roboto, helvetica, sans-serif;}
			.total-price th,
			.total-price td{vertical-align:middle; padding:5px; line-height:normal;}
			.total-price th{font-size:12px; font-weight:normal;}
			.total-price td{font-size:20px; font-weight:bold;}
			
			.price-promo{padding:0 5px 5px; text-align:right; font-size:11px; font-weight:normal; text-transform:none; background:#d71921; color:#fff;}
				.price-promo a{color:#fff;}
			
			.get-surcharge{font-size:11px; color:#fff; background:#bb0a12;}
				.get-surcharge th,
				.get-surcharge td{padding:5px; font-weight:normal;}
				.get-surcharge td{text-align:center;}
		
	.cb_acceptees{margin-left:10px; max-width:120px;}
		.cb_acceptees.un-click{margin:0; max-width:80px;}
		
	.container-radio label{margin-right:20px;}
	form p{margin-bottom:15px;}
	
	[id*="grillable_is"]{margin-top:10px;}
	
	#table_mentions .option_choice{padding-right:5px; vertical-align:top;}
	#table_mentions label{font-size:13px; line-height:1.3em;}
	
	#cvv{max-width:100px;}
	.visu-1-euro{width:90%; max-width:70px; height:auto;}
	
	/* options déménagement */
	.ui-accordion .ui-accordion-header{margin:0; padding:10px 30px 10px 10px; font-size:14px; border-radius:0; border:1px solid #ccc; background:#fff; color:#000 !important;}
		.ui-accordion .ui-accordion-header:after{color:#fff !important; right:5px;}
	.ui-accordion .ui-accordion-header strong{font-weight:500;}
	.ui-accordion-header-icon{display:none;}
	
	.ui-accordion .ui-accordion-content{width:100%; height:auto !important; padding:0; border-top:none;}

	#fieldset_theme_kits tr,
	#fieldset_theme_matloc tr,
	#fieldset_theme_matach tr{display:block; margin:15px 0; border:none; border-bottom:1px solid #ccc; font-family:arial, helvetica, roboto, sans-serif;}
		#fieldset_theme_kits tr:last-child,
		#fieldset_theme_matloc tr:last-child,
		#fieldset_theme_matach tr:last-child{border:none;}
		#fieldset_theme_kits td:first-child,
		#fieldset_theme_matloc td:first-child,
		#fieldset_theme_matach td:first-child{display:none;}
		#fieldset_theme_kits td.option_label,
		#fieldset_theme_kits td.option_prix,
		#fieldset_theme_kits td.option_choice, 
		#fieldset_theme_matloc td.option_label,
		#fieldset_theme_matloc td.option_prix,
		#fieldset_theme_matloc td.option_choice,
		#fieldset_theme_matach td.option_label,
		#fieldset_theme_matach td.option_prix,
		#fieldset_theme_matach td.option_choice{display:block; width:100%; padding:0; margin-bottom:5px;}
			#fieldset_theme_kits td.option_prix,
			#fieldset_theme_kits td.option_choice,
			#fieldset_theme_matloc td.option_prix,
			#fieldset_theme_matloc td.option_choice,
			#fieldset_theme_matach td.option_prix,
			#fieldset_theme_matach td.option_choice{display:inline-block; vertical-align:middle; width:49%; margin-bottom:15px;}
			#fieldset_theme_kits td.option_choice,
			#fieldset_theme_matloc td.option_choice,
			#fieldset_theme_matach td.option_choice{text-align:right;}
			#fieldset_theme_kits td.option_prix,
			#fieldset_theme_matloc td.option_prix,
			#fieldset_theme_matach td.option_prix{color:#d71a22; font-size:18px;}
			#fieldset_theme_kits td.option_label label,
			#fieldset_theme_matloc td.option_label label,
			#fieldset_theme_matach td.option_label label{font-size:16px; font-weight:bold;}
			
	#fieldset_retrait{padding-top:15px; border-top:2px solid #d71921;}
		#fieldset_retrait > strong{display:block; margin-bottom:5px; font-weight:500;}
		#fieldset_retrait > .theme_span_prix{display:block; margin-bottom:10px;}
			#fieldset_retrait > .theme_span_prix select{width:100% !important;}
			#fieldset_retrait > .theme_span_prix + br{display:none;}
			#fieldset_retrait > strong.warning{font-size:13px; color:#666;}
	
	
	/* paiement */
	.table-cb-1clic{margin-bottom:7px;}
		.table-cb-1clic label{margin:0;}
		.table-cb-1clic th{display:none;}
		.table-cb-1clic td{display:block;float:left; width:auto; padding-left:30px;}
			.table-cb-1clic td:first-child{width:30px; padding:0;}
			.table-cb-1clic td:nth-child(2){padding:0; width:85%;}
	
	
	