<?
	/** @var Client obtenir le client depuis Page_Client */
	$client = $this->getClient();
	$compteurReservation = 0;
?>
<div class="container-no-progression">
	<h1 class="title-like underline text-uppercase">Votre Compte Client</h1>
	
	<div class="grey-box">
		<? $adress=$client->getAddress();?>
		<ul class="list-unstyled">
			<li class="semi-bold"><? echo $adress['prenom'] ?> <? echo $adress['nom'] ?></li>
			<li><? echo $adress['adresse'] ?></li>
			<li><? echo $adress['adresse2'] ?></li>
			<li><? echo $adress['cp'] ?> <? echo $adress['ville'] ?></li>
			<li><? echo $adress['pays_nom'] ?></li>
		</ul>
		
		<a href="../client/profil.html" class="btn btn-default btn-submit small">Modifiez votre compte client<span class="end"></span></a>
		<? if ($client->hasComptePro()) : ?>
		<br clear="all" />
		<?=hn(2, "Votre compte professionnel", "000000", 14);?>
		<a href="../client/compte_pro.html" class="btn">Vos réservations professionnelles<span class="end"></span></a>
		<a href="../client/partenaire.html" class="btn">Modifiez votre compte pro<span class="end"></span></a>
		<? endif; ?>
	</div>
	
	<h2 class="title-like fullwidth text-uppercase">Vos r&eacute;servations</h2>
	<? foreach($client->getReservations(date('Y-m-d',strtotime('-2 year'))) as /** @var Reservation */ $reservation) : ?>
		<?php echo $reservation->toHtml('mobile-client-compte', array('compteurReservation' => ++$compteurReservation));?>
	<? endforeach; ?>
	<div class="clearfix">
		<a href="<?=$here?>" class="btn btn-default btn-submit small col-xs-12 margin-bottom">Faire une autre réservation</a>
		<a href="#" class="btn btn-default btn-submit small col-xs-12 inverse">Historique de vos réservations</a>
	</div>
</div>