<?
	/** @var Reservation */ $reservation = $this->getReservation(); 
	/** @var Agence */ $agence = $reservation->getAgence();
	/** @var Categorie */ $categorie = $reservation->getCategorie();
?>

<div class="container-no-progression type-recap-client">
	<div class="title-like fullwidth text-uppercase">Confirmation</div>
	<? echo $reservation->toHtml('v3-recapitulatif', array('showTotal' => true)); ?>
	<div class="clear"></div>
	<a href="../client/compte.html" class="btn right">Vos réservations</a>
</div>
