/*satisfaction*/
table.question{ margin:0 0 30px; padding:10px; width:577px; background:#f9f9f9; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
	.tpl_page table.question tr td{ border:0; }
	table.question th{ padding:6px 0; width:170px; text-align:left; color:#333; background:transparent url(img/satisfaction-border.gif) repeat-x 0 bottom; }
	table.question td{ padding:6px 0; text-align:center; font-weight:bold; color:#999; background:transparent url(img/satisfaction-border.gif) repeat-x 0 bottom; }
ul.question{ margin:0 0 30px; padding:10px; background:#f9f9f9; overflow:hidden; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
ul.question+ul.question{ margin-top:-40px; }
ul.question+ul.question li.libelle{ padding:10px 0 0; background:transparent url(img/satisfaction-border.gif) repeat-x 0 top; }
	#page ul.question li.libelle{ margin:0 0 6px;  font-weight:bold; color:#333;}
	ul.question .item{ float:left; width:209px; }
	ul.question input[type="radio"]{ float:left; margin:0 4px 0 0; vertical-align:middle; }
	ul.question label{ width:190px; height:auto; font-weight:normal; line-height:13px; }
form.questionnaire{}
	form.questionnaire input[type="submit"]{ float:right; }
	form.questionnaire textarea{resize:none; *margin-top:-15px; height:70px;}