<div class="tpl_page">
	<?=hn(1, "Nous contacter", "000000");?>
	<br/>
	<?=hn(2, "Service Consommateurs", "7F7F7F");?>
	<p>
		ADA<br />
		Service Consommateurs<br />
		22-28  rue Henri Barbusse<br />
		92585 CLICHY CEDEX<br /><br />
		E-mail : <a href="mailto:serviceclient@ada.fr" class="rouge" target="_blank">serviceclient@ada.fr</a>
	</p>
</div>