<div class="page-content tpl_reservation">
	<h2 class="resultat-titre">Récapitulatif de ta réservation</h2>
<?
	include(BP.'/skin/v2/reservation/'.$this->getAction().'.htm');
?>
</div>
<div class="page-bottom"></div>
