<h2 class="resultat-titre">Récapitulatif de ta réservation</h2>
<div class="page-content">
<?
	include(BP.'/skin/v2/reservation/'.$this->getAction().'.htm');
?>
<div class="clear"></div>
</div>
<div class="page-bottom"></div>