/* global agences */
.breadcrumb{height:16px; padding:2px 0; font-size:11px;}
	.breadcrumb li{float:left; display:block; padding:0 10px; background:transparent url(../../../css/img/puce_fleche.gif) no-repeat 0 4px;}
		.breadcrumb li:first-child{background:none; padding-left:25px;}
        .agences.agence .breadcrumb li:last-child {color: #d71921;}
.agences.agence #content .content {background: #fff;}
.agences.agence .content_bottom {
    /*background: url("img/content_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    display: none;
}

/* nos autres destinations */
.autres-destinations-internationales{padding-left:10px; margin-top:45px;}
	.link-international{float:left; margin-bottom:8px; width:43%; font-size:11px;}
		#page .link-international li{margin-bottom:0;}
		.link-international.first{margin-left:2%; width:35%;}
		
/* Les agences => etat1 */
.agences .recherche-agence{width:273px; float:left; padding:0 15px; }
.agences.agence .recherche-agence {width:303px; background: #d8d8d8; display: table-cell;padding: 0 0 20px 0; height:100%; float: none;}
.agence-reservez{ display:block; margin:10px -15px 0; }
.agences.index .tpl_page, .agences.agence .tpl_page, .agences.malin .tpl_page, .agences.international .tpl_page{float:left; padding:0 30px; width:577px; }
.agences.agence .tpl_page {display: table-cell; height:100%; vertical-align: top;float: none;}
.agences #page{padding:25px 0 0; width:940px; display: table; vertical-align: top; }
	.agences.liste #page{background:#fff;}
.agences .recherche-agence #ville{width:245px; height:21px; }
.agences .recherche-agence .valid input{background-image:url(../../../css/img/btn_recherche.png); background-color:#fff; width:152px; float:right; margin-right:20px;}
.agences .recherche-agence h2{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; line-height:16px; margin-bottom:10px;}
.agences .recherche-agence .btn.right{margin:15px 10px 0 0; }
	#menu_dept{ margin:0 auto; list-style:none; width:306px;}
	#menu_dept li{ float:left; margin-right:20px; font:normal 13px arial; }
	#menu_dept li a{ color:#585858; font-weight:bold; }
	#menu_dept li a:hover{color:#cc0000; text-decoration:none; }
	.dept{ margin:10px 0 30px; list-style:none; overflow:hidden; }
	.dept li{ float:left; margin-bottom:8px; width:50%; font:normal 13px arial; }
	.dept li a{ color:#CC0000; }
	.dept li a:hover{ text-decoration:underline; }
	.dept li span{ font-size:11px; }
/* exception international */
.agences.index .autres-destinations .dept{margin-bottom:15px;}
	.agences.index .autres-destinations .dept li{float:none;}
.agences.index a.titre-departements, .agences.index a.titre-autres-destinations{display:block; float:left; width:235px; margin:20px 0 3px; text-indent:-9999px; background:url(../../../css/img/titre_agence_index.gif) no-repeat;}
.agences.index a.titre-departements{background-position:0 0; width:121px; height:19px; }
.agences.index a.titre-autres-destinations{background-position:-121px 0; width:169px; height:19px;}
	.agences.index a.titre-autres-destinations.current, .agences.index a.titre-autres-destinations:hover{background-position:-121px -19px;}
.agences.index .departements.current, .agences.index .autres-destinations.current{display:block;}
.agences.index div.autres-destinations{margin-top:10px;}

.agences.index #autocomplete ol{top:24px; width:251px;}
.agences.index #autocomplete ol li{ margin:0;}
.agences.index #autocomplete ol li a{width:244px;}

/* Les agences => etat2 */
.agences.liste .tpl_page{width:940px;}
.agences.liste #content .content{background-color:#fff; background-image:none;}
.refnat{overflow:hidden; color:#646464;}
	a.btn.pli,
	a.btn.pli:hover{position:absolute; right:-33px; top:10px; width:22px; height:21px; background:url(../../../css/img/sprite-btn-pli.png) no-repeat 0 1px; text-indent:150%; overflow:hidden; white-space:nowrap;}
	a.btn.pli.active{background-position:0 -22px;}
	.refnat .intro{padding:0 17% 10px 0; position:relative;}
	.refnat .description{padding-bottom:15px;}
		.refnat p{margin-bottom:2px;}
		.refnat h2, .refnat h3{font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;}
			.refnat h2{font-size:18px;}
			.refnat h3{font-size:15px; color:#7f7f7f;}

.agences.liste #map{margin-bottom:10px; height:215px; width:308px;}
.agences #table-agence{width:880px; border-collapse:collapse; background:url(../../../css/img/table_agences.gif) repeat-y -880px 0; }
.agences .header1{background:url(../../../css/img/table_agences.gif) no-repeat 0 0;}
.agences .header2{background:url(../../../css/img/table_agences.gif) no-repeat -50px 0;}
.agences.liste #table-agence td.header3{background:url(../../../css/img/table_agences.gif) no-repeat -632px 0; border-right:none;}
.agences.liste #table-agence p span{ color:#525252;}
	.agences.liste #table-agence th{ text-align:left; }
	.agences.liste #table-agence th, .agences.liste #table-agence td{border:1px solid #e3e3e3; border-top:none; border-left:none; padding:5px 10px; }
		.agences.liste #table-agence th h3{background-position:center center; margin-top:5px;}
		.agences.liste #table-agence td.first{text-align:center;}
		.agences.liste #table-agence td.first img{ display:block; float:left; margin:0 20px 0 8px;}
		.agences.liste #table-agence td.first p{ display:block; float:left; margin:0; width:238px; text-align:left; }
		.agences.liste #table-agence td.first p a{ display:block; }
		.agences.liste #table-agence td a strong{ color:#000;}
.agences.liste .content_bottom .btn.right.haut{margin-right:35px; }
.agences.liste #table-agence td.commentaires{border-right:none;}
	.agences.liste .commentaires span{display:block; margin-bottom:10px; color:#999;}
	.agences.liste .commentaires a{ display:block;}
	.agences.liste .commentaires a:hover{color:#cc0000; text-decoration:none;}
	.agences.liste .commentaires a.btn{ margin:10px 0 0; color:#fff;}

.agences.liste .content_bottom{background-image:url(../../../css/img/content_bg_hm.png);}
.agences.liste .cadre-carte{width:308px; height:215px; display:inline-block; vertical-align:top; margin:0px 0px 15px 15px;}

/* Les agences => etat2 */
/* MAJ Janvier 2015 */
.agences.liste .content-form-carte{width:940px;}

.agences.liste #map{-webkit-transform: none !important;}
.agences.liste form#form_res_agence{width:530px; padding:0px; display:inline-block; vertical-align:top; margin-left:30px;}
	.agences.liste .inner--form-res-agences{background:#FFF url(img/bg-form-liste-agence.jpg) no-repeat right center; padding:0px 10px; border:none;}
.agences.liste form#form_res_agence .sel-agence label{width:163px;}

/* module de recherche d'une agence */
/* page agence */
/* Ajout le 18 05 2015 */
.inner--form-res-agences #calendar{
	margin:0 0 25px;
}
.inner--form-res-agences #calendar h4{
	margin:0 0 8px;
}
.inner--form-res-agences #calendar label{
	width:50px;
}
.inner--form-res-agences #calendar #depart,
.inner--form-res-agences #calendar #retour{
	float:left;
	width:70px;
}
.inner--form-res-agences #calendar div.sel{
	margin:0 0 8px;
	height:25px;
}
.inner--form-res-agences #calendar div.sel.last{
	margin:0;
	height:25px;
}
.inner--form-res-agences #calendar .btn_cal{
	float:left;
	margin:2px 10px 0;
}
.inner--form-res-agences #calendar .duree_a{
	padding:3px 6px 0 0;
}
.inner--form-res-agences #calendar #h_retour, #calendar #h_depart{
	width:64px;
}

.agences.liste .block-intro{width:940px; background:#FFF url(img/bg-txt-intro.jpg) no-repeat 0 0;}
.agences.liste .block-intro .intro{font-size:14px; color:#333; padding:20px 35px 0px 35px;}
.agences.liste .block-liste-agences{width:940px; background:#FFF url(img/bg-liste-agences.jpg) no-repeat 0 0; padding-bottom:30px;}
	.agences.liste .titre-liste-agence{font-size:14px; color:#333; font-weight:bold; margin:0px; text-align:center; padding-top:10px; padding-bottom:10px; position:relative;}
		.agences.liste .titre-liste-agence:after{content:url(img/picto-fleche-bas.png); position:absolute; left:447px; bottom:-2px;}
	.agences.liste .block-liste-agences .description{padding:20px 50px 20px 50px;}
		.agences.liste .block-liste-agences .description h2{font-size:14px; color:#333;}
		.agences.liste .block-liste-agences .description p{color:#333;}
.agences.liste .block-agence{width:580px; height:127px; margin:30px auto 0px auto; box-shadow: 1px 2px 5px 0px #656565;}
	.agences.liste .block-agence .infos-agence{width:379px; height:127px; background:#9b9999; display:inline-block; vertical-align:top; position:relative;}
		.agences.liste .block-agence .infos-agence h3{font-size:14px; font-family:Arial; color:#FFF; margin:20px 0px 0px 20px;}
			.agences.liste .block-agence .infos-agence h3 a{font-size:14px; font-family:Arial; color:#FFF;}
		.agences.liste .block-agence .infos-agence p{font-size:14px; color:#FFF; margin:0px 0px 5px 20px;}
			.agences.liste .block-agence .infos-agence p a{color:#FFF;}
				.agences.liste .block-agence .infos-agence p a:hover{color:#FFF; text-decoration:none;}
			.agences.liste .block-agence .infos-agence p span.label-tel, .agences.liste .block-agence .infos-agence p span.numero-court-tel, .agences.liste .block-agence .infos-agence p span.numero-court-tarif, .agences.liste .block-agence .infos-agence p span.label-tel{font-size:14px; font-weight:normal;}
		.agences.liste .block-agence .infos-agence .avis-clients{color:#FFF; font-size:11px; font-weight:bold; position:absolute; top:0px; right:10px;}
		.agences.liste .block-agence .infos-agence .logo-ibis{position:absolute; bottom:10px; right:10px; margin:0px;}
	.agences.liste .block-agence .pictos-agence{width:201px; height:127px; background:#FFF; display:inline-block; vertical-align:top; position:relative;}
		.agences.liste .block-agence .pictos-agence img{margin:8px 0px 0px 35px;}
		.agences.liste .block-agence .pictos-agence .btn{position:absolute; bottom:6px; right:10px; margin:0px;}

	
/* Les agences => etat3 */
.agences.agence #col .btn{margin:15px 41px 0 0; }
.agences.agence h3{margin:0;}
	.agences.agence table.horaires h3{text-align:left; font-size:16px; font-family:'Trebuchet MS', Arial, Helvetica, 'Sans-serif'; margin:12px 0 10px 10px; background:#fff; line-height:16px; width:545px;}
.agences.agence table.horaires{background:url(../../../css/img/bg_table_horaires.jpg) no-repeat; border-collapse:collapse; text-align:center; border:none; height:150px; padding:0; margin:0; width:560px; }
.agences.agence table.horaires th, .agences.agence table.horaires td, .agences.agence table.horaires tr{border:none; font-size:11px; }
.agences.agence table.horaires th, .agences.agence table.horaires td{width:80px;padding:0; margin:0; }
.agences.agence table.horaires th{color:#cc0000;}
	table.horaires .fix-ie7{*width:560px !important;}
.agences.agence #map{margin:10px 0; z-index:2; width:345px; height:187px; -webkit-transform: none !important; /* car masque le logo quand la carte apparait*/} 
	.agences.agence .cadre-carte{width:345px; height:220px;background:url(../../../css/img/cadre_carte_agence.jpg) no-repeat bottom right;}
.agences.agence .photo-agence img{ display:block; margin:0 0 10px; }
.agences.agence p.adresse-agence{ width:277px; margin:0 0 30px -5px;  color:#fff; font:normal 14px Arial; background: #8c8b8b; /*	text-shadow: -1px -1px #686666;*/ padding:15px; position: relative;}
	.agences.agence p.adresse-agence .picto-point-loc{position:absolute; top:5px; right:5px; width:48px; height:auto;}
.agences.agence .adresse-agence span[itemprop="name"] {font-weight: bold;}
.agences.agence p.adresse-agence:after {content: url(img/bg-bottom-adr.png); position: absolute;left:0; bottom:-16px; }
	.adresse-agence span[itemprop="address"]{display:inline-block; margin-bottom:5px;}
.agences hr{margin:10px 0; width:100%; color:#ececec; background:#ececec; }
.agences .recherche-agence hr{margin:25px 0 20px; width:100%;}
.agences.agence table.horaires td.commentaires-agences{background:url(../../../css/img/bg_table_horaires.jpg) left bottom no-repeat; padding:15px 10px 8px; text-align:left; font-size:12px;}

.agence_bal{padding:0;}



/*agences/malin*/
.agences.malin{}
	.agences.malin #content .header{ padding:15px 0 0; height:35px; width:940px;}
	.agences.malin #page{ padding:0; }
	.agences.malin .tpl_page table tr td{ border:0; }
	.agences.malin #agence{ padding:25px 10px 0; }
	.agences.malin #agence label{ width:100px; }
	.agences.malin #agence .valid{padding:0 0 0 100px; }

#form_res_agence{padding:25px 0 30px;}
	#form_res_agence #familles{ overflow:hidden; margin:8px 0; text-align:center;}
		#form_res_agence #familles .rad{ float:none; margin:0; width:auto; padding:0 25px; display:inline-block;}
		#form_res_agence #familles .rad input{ margin-top:7px; }
	#form_res_agence #categorie{ width:248px; }
	#form_res_agence #codepromo{ width:240px; }
	#form_res_agence p{float:none; width:auto;}
	#form_res_agence .left p{ float:none; }
	#form_res_agence .sel.left, #form_res_agence .sel.left label, #form_res_agence .sel.left select{width:115px;}
	#form_res_agence .sel.left{float:left;}
	#form_res_agence .sel.left#frm_permis{margin-left:17px;}
	#form_res_agence .left label{ display:block; float:none;}
		#form_res_agence p.code-promo input#codepromo, #form_res_agence p.code-promo label{width:107px;}
	#form_res_agence p.valid{}
	#form_res_agence select{width:248px; }
	#form_res_agence #calendar{ clear:left; padding-top:6px; margin:0 0 14px;float:none; width:auto;}
	#form_res_agence .valid input{ width:135px; height:17px; background:transparent url(../../../css/img/btn_reservez.gif) no-repeat 0 0; }
	#form_res_agence .valid{width:100px; margin:0; text-align:right; }
	#form_res_agence .valid input{float:none; margin:21px 4px 0  0; }
	#form_res_agence .valid input:hover{ background-position:0 -17px; }
	#form_res_agence p#div_sp_info{width:258px;}
	
/* livraison à domicile */
.livraison-agence{width:302px; margin-right:30px; margin-top:-20px;}
	.livdom-col-top{background:url(img/livdom-col-top.jpg) no-repeat 0 0; color:#d20019; height:82px; padding:25px 0 0 100px;}
		.livraison-agence h3{display:block; font-size:15px;}
	.livraison-agence form{}
		.livraison-agence .livraison-search{position:relative; margin:0; padding:15px; border:1px solid #ccc; box-shadow:0 0 15px #ddd inset;}
			.livraison-agence #input-livraison-agence{margin-bottom:8px;}
			.livraison-agence .alert{color:#a11; height:auto; width: auto; margin-bottom:8px;line-height:1.2em; float:none;}
			.livraison-agence .img-fleche{position:absolute; top:60px; right:-19px; display:none;}
	.livraison-agence #input-livraison-agence {width:245px;}
.results-livraison-agence{width:582px;}
	.results-livraison-agence .accroche{position:relative;}
		.results-livraison-agence .accroche p{}
			.results-livraison-agence .accroche .first-line{color:#444; font-size:18px;}
			.results-livraison-agence .accroche .sec-line{font-size:24px; font-weight:bold;}
	.results-livraison-agence .img-top{position:absolute; right:30px; top:-110px;}
	.results-livraison-agence h3{margin:20px 0 10px;}
	.results-livraison-agence .tiret{padding-left:20px; margin-bottom:20px;}
		#page .results-livraison-agence .tiret li{margin-bottom:12px;}
	.results-livraison-agence .infos-livraison{color:#d20019; font-size:16px; font-weight:bold; display:block;}
		.results-livraison-agence .liste-result{}
			.results-livraison-agence .liste-result li{background:#fff url(img/livdom-resultat.png) 0 0  no-repeat; padding-top:8px; margin-bottom:18px !important;}
				.results-livraison-agence .liste-result li .bottom{height:8px; background:#fff url(img/livdom-resultat.png) 0 bottom no-repeat;}
					.results-livraison-agence .liste-result table{margin:0 auto; width:572px;}
						.results-livraison-agence .liste-result td{vertical-align:top;}
						.results-livraison-agence .liste-result .row-1{width:20px; text-align:right;}
						.results-livraison-agence .liste-result .row-2{width:180px; font-size:11px;}
						.results-livraison-agence .liste-result .row-3{width:140px; padding-left:5px; border-left:1px solid #ccc; font-size:11px;}
						.results-livraison-agence .liste-result .row-4{width:210px; padding-left:5px; border-left:1px solid #ccc; vertical-align:middle;}
							.results-livraison-agence .liste-result .row-4 .btn{margin-bottom:0;}
						.results-livraison-agence .liste-result .lien_agence{color:#000; font-weight:bold;}
	.results-livraison-agence .no-result{background:#fff url(img/livdom-resultat.png) 0 0  no-repeat;}
		.results-livraison-agence .no-result > .inner{background:url(img/livdom-no-result.png) 10px 20px no-repeat; padding:20px 20px 10px 40px;}
			.results-livraison-agence .no-result h3{margin:0;}
		.results-livraison-agence .no-result > .bottom{height:8px; background:#fff url(img/livdom-resultat.png) 0 bottom no-repeat;}
	
	
/* .logo-ibis{float:right !important; margin-right:-13px !important;} */

/* agence numero court */
.label-tel, .numero-court-tel{font-weight:bold;}
.numero-court-tarif{font-size:10px;}
.numero-court-pdv{display:block; font-size:10px; width:185px;}

/* refonte page agence - 15/10/2013 */	

.agence--table-horaires{border:1px solid #ccc; width:90%; margin: 10px auto 20px auto; padding:10px 20px; border-radius:10px; background:#fff url(../../../css/img/bg-horaires-agences.png) repeat-x left bottom;}
	.agence--table-horaires th,
	.agence--table-horaires td{padding:7px 3px; text-align:left; border-top:1px solid #ccc;}
		.agence--table-horaires tr:first-child td,
		.agence--table-horaires tr:first-child + tr td,
		.agence--table-horaires tr:first-child + tr th{border-top:none;}
	.agence--table-horaires td{text-align:center; font-weight:bold; color:#000;}
	.agence--table-horaires th{width:60px; color:#cc0000;}
	/*.agence--table-horaires span[itemprop]:first-child{margin-right:15px;}
	.agence--table-horaires span.align-center{width:40%; display:inline-block;}*/
	.agence--table-horaires .fake-table{display:table; width:100%;}
		.agence--table-horaires .fake-table > span{display:table-cell; text-align:center; width:50%;}
	
.inner--form-res-agences{padding:10px 30px; background:#f0f0f0;
    background: -webkit-linear-gradient(bottom, #f0f0f0, #f9f9f9);
    background: -moz-linear-gradient(bottom, #f0f0f0, #f9f9f9);
    background: -ms-linear-gradient(bottom, #f0f0f0, #f9f9f9);
    background: -o-linear-gradient(bottom, #f0f0f0, #f9f9f9);
    background: linear-gradient(to bottom, #f0f0f0, #f9f9f9);
border:1px solid #ccc;}
#calendar div.sel{padding-left:113px;}
.sel-categorie{}
	.sel-categorie label{width:163px;}
.container-inline{text-align:center;}
	.container-inline label,
	.container-inline select{width:auto !important;}
	.container-inline label{display:block; float:none !important; text-align:left;}
	.container-inline .valid input{line-height:25px; margin:0 !important;}
	.tpl_page .container-inline p{display:inline-block; margin-right:13px; vertical-align:baseline;}	
	#form_res_agence .container-inline .valid {vertical-align:middle; margin:0 important;}


.inline-block{display:inline-block; vertical-align:top;}

.titre{font-size:14px; font-weight:bold;}
.sous-titre{font-size:17px; font-weight:bold;}
.grey{color:#333;}

#tabs > ul{width:586px; height:36px;}
#tabs ul.select-1{background:url(img/tab-01.png) no-repeat 0 0;}
#tabs ul.select-2{background:url(img/tab-02.png) no-repeat 0 0;}
#tabs ul.select-3{background:url(img/tab-03.png) no-repeat 0 0;}
#tabs ul.select-4{background:url(img/tab-04.png) no-repeat 0 0;}
#tabs ul.tabs li{font-size:16px; font-weight:bold; cursor: pointer;}
	#tabs ul.tabs li#tabs-carte{padding:11px 45px 0px 45px;}
	#tabs ul.tabs li#tabs-services{padding:11px 40px 0px 40px;}
	#tabs ul.tabs li#tabs-promos{padding:11px 40px 0px 35px;}
	#tabs ul.tabs li#tabs-bonsplans{padding:11px 35px 0px 30px;}


#tabs div#tab-services, div#tabs #tab-carte, #tabs div#tab-promos, #tabs div#tab-bonsplans{width:586px; height:220px; background:url(img/bg-encart-services.png) no-repeat 0 0;}

#tabs div#tab-services p{font-size:12px; padding:25px 0px 0px 30px; margin:0px;}
	#tabs div#tab-services p strong{font-size:14px;}
#tabs div#tab-services .photo-agence{float:left; padding:10px 0px 0px 30px;}
#tabs div#tab-services .services-agence{float:left; padding-left:20px;}
#tabs div#tab-services .icones{width:150px; padding-top:5px;}
	#tabs div#tab-services .icones img{margin:10px 15px 10px 10px;}
#tabs div#tab-services .commentaires-agences{width:260px; margin-left:10px;}

#tabs div#tab-carte{width:546px; height:212px; position:relative; padding:8px 0px 0px 40px;}
#tabs div#tab-carte .info-carte{position:absolute; top:20px; left:410px; width:145px;}

/* CSS COMMUN pour les sliders */
#tabs div#tab-bonsplans, #tabs div#tab-promos{position:relative;}
.agences.agence .slides .slide{width:586px; height:220px;}

.agences.agence .slides .pagination{position:absolute; width:15%; height:36px; bottom:0px; right:0px; z-index:6;}
	.agences.agence .slides .pagination li{display:inline-block; margin-right:2px;}
	.agences.agence .slides .pagination a{display:block; width:10px; height:10px; border-radius:5px; background:#cdcdcd; text-indent:-9999px; overflow:hidden;}
		.agences.agence .slides .pagination .current a, 
		.agences.agence .slides .pagination a:hover {background:#d71921;}
		
/* SLIDER PROMOS */
.agences.agence #tab-promos .slide .promo-accroche p{padding:50px 0px 0px 50px; margin:0px;}
.agences.agence #tab-promos .slide .promo-montant{font-size:21px; font-weight:bold; color:#d71921; position:absolute; top:15px; left:196px; background:url(img/bulle-promo.png) no-repeat 0 0; display:block; width:75px; height:38px; padding: 20px 0px 0px 55px;}
.agences.agence #tab-promos .slide .promo-visuel{position:absolute; right:40px; top:0px;}
.agences.agence #tab-promos .slide .promo-description{font-size:12px; padding:30px 25px 0px 50px;}
.agences.agence #tab-promos .slide .promo-mentions{font-size:11px; font-style:italic; padding:10px 25px 0px 50px;}

/* SLIDER BONS PLANS */
.agences.agence #tab-bonsplans .slides .slide .info{width:330px; display:inline-block; vertical-align:middle; margin:25px 0px 0px 50px;}
	.agences.agence #tab-bonsplans .slides .slide p.titre{position:relative; padding:5px 0px 0px 0px; margin:0px;}
	.agences.agence #tab-bonsplans .slides .slide p.sous-titre{margin:25px 0px 0px 0px; font-size:14px; font-weight:normal;}
.agences.agence #tab-bonsplans .slides .slide img{display:inline-block; vertical-align:middle; margin-top:25px;}

		
.agence-description{clear:both;}
.agence-avis-commentaires{clear:both;}

/*li#tabs-services.current.tab-select-1{width:150px; color:red; background:green;}*/

/* retravail - links_around */
.agences.agence .agence--links-around {padding:5% 5% 0 5%;; margin:0 auto; overflow: hidden; background: #bfbfbf; }
		.location-dept{text-transform:uppercase;}
.links_around.zoom{float:left; width:auto;}				
	.links_around.zoom li{width:45%; float:left;}			
.links_around + .links_around.zoom li{width:100%; float:none;}
.links_around, .links_around + .links_around.zoom{width:42%; float:left;}			
/* apparence */
.links_around{padding:20px 30px; height:auto;}
.links_around li{margin-bottom:7px; padding-left:10px; /*background:transparent url(../../../css/img/puce_fleche.gif) no-repeat 0 4px;*/}
	#page .links_around li{margin-bottom:7px;}
		.links_around li:hover{text-decoration:none; /*background-image:url(../../../css/img/picto_fleche_rouge.png)*/}
			.links_around li:hover a{color:#e21714; }
.recherche-agence .links_around{padding:0; float:none; width:auto; }
.recherche-agence .agence--links-around:first-child {display: block;}
.agences.agence .agence--links-around h3{margin-bottom:10px; color:#333333; text-shadow: 1px 1px #fff; text-align: center;}			
.agences.agence .links_around.zoom{padding:0 0 7px 335px;}/* recalage dans col droite */	
	.agences.agence .links_around.zoom li{float:none; width:auto;}
    
.agences.agence .clic-bot {background: url(img/clic-bot.png) center center no-repeat; width:100%; height:9px; text-indent:-5000px; padding:10px 0; cursor:pointer;}
.agences.agence .links_around {overflow: hidden;}
    .agences.agence .links_around a {color: #fff; text-shadow: -1px -1px #939393; font-weight: bold;}
    
.note-etoiles { background: url("img/sprite-notation.png")   0 0 no-repeat;  display: inline-block;  vertical-align: middle;  height: 17px;  width: 81px;}
.etoiles-inner { background: url("img/sprite-notation.png")  0 -17px no-repeat;  display: inline-block;  vertical-align: middle;  height: 100%;}
.agences.agence .avis-clients {font-size:12px; text-shadow: none; cursor:pointer;}
.agences.agence h1 {font-size:24px; color: #d71921;}
.agences.agence .agence--nom {color: #000;}
.container--avis {background: url(img/bg-avis.png) repeat-x; height:48px; width:100%; line-height: 48px;  position: relative; box-shadow: 0 5px 3px #8d8a8a; margin-top:15px;}
    .container--avis:before {content:""; background: url(img/shadow-top.png)top center no-repeat; width: 100%; height:11px; position: absolute; top:-11px; margin:0 auto; display: inline-block;}
    .container--avis h3 {display:inline-block; line-height: 48px; color: #fff;  vertical-align: middle; padding-left:10px; text-shadow: -1px -1px #686666;}
    .container--avis .note-etoiles { margin:14px 10px;}

.list-commentaires {margin-bottom: 20px;}
    .list-commentaires li { background: #f0f0f0; margin-top:10px; padding:10px; }
