<?
	// recherche des agences
	include ('col_recherche.php'); 
?>

<div class="tpl_page">
<!-- liste des agences - debut -->
		<script type="text/javascript">
		//<![CDATA[ 
			// go_url : appelé par le SWF
			function go_url(id)
			{
				location.href = "<?=$here?>agences/" + id + ".html";
			}
			if (DetectFlashVer(8, 0, 0))
			{
				AC_FL_RunContent(
					"src", "../res/agence_france",
					"width", "512",
					"height", "370",
					"align", "middle",
					"id", "anim",
					"quality", "high",
					"name", "anim",
					"flashvars", "config=../xmldept.php&clr_default=0xe6e6e6&clr_rout=0xcccccc&clr_rover=0xcc0000",
					"scaleMode", "noScale",
					"wmode", "transparent",
					"allowScriptAccess","sameDomain",
					"type", "application/x-shockwave-flash",
					'codebase', 'http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab',
					"pluginspage", "http://www.adobe.com/go/getflashplayer"
				);
			} 
			else 
			{
				var alternateContent = 'This content requires the Adobe Flash Player. '
				+ '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';
				document.write(alternateContent);
			}
		// ]]>
		</script>
	
	<div class="type-title-grey">Départements</div>
	
	<div class="clear"></div>
	<hr />
	<div class="departements">
		<? 
		$boundsList = array('A - C', 'D - G', 'H - L', 'M - P', 'R - T', 'U - Y');
		echo '<ul id="menu_dept">';
		foreach($boundsList as $v)
			echo '<li><a href="#'.clean_name($v).'" class="toggle">'.$v.'</a></li>';
		echo '</ul>';
		echo '<div class="clear"></div>'."\n";

		$i = $j = 0;
		foreach ( Dept_Collection::factory() as $dept ) {
			if ( !$i || $dept['nom'][0] > substr($boundsList[$j], -1) ) {
				if ( $i > 0 ) {
					$j++;
					echo "</ul>\n";
					echo '<div class="clear"></div>'."\n";
				}
				$alphaTitle = $boundsList[$j];
				echo '<ul class="dept" id="'.clean_name($alphaTitle).'">';
			}
			$href = $here.gu_agence($dept);
			echo '<li><a href="'.$href.'" title="location de voiture et d\'utilitaire '.$dept['nom'].' avec les agences ADA">'.$dept['title'].'</a></li>'."\n";
			$i++;
		}
		echo '</ul>';
		echo '<div style="clear: both; margin-bottom : 25px;"></div>';
	?>
	</div>
	<?
		// un block avec la liste des agglomérations
		echo Feature::getBlock('agglos-liste', array('title' => "Les grandes villes pour la location de voiture et d'utilitaire", 'term' => 'Location voiture'));
	?>

</div>
<div class="clear"></div>
