.juridique #page h1,
.juridique #page h2{font-family:'Raleway', Arial; margin-bottom:10px;}
.juridique #page h1{color:#000; font-size:19px;}
.juridique #page h2{color:#525252; margin-bottom:10px; font-size:18px;}
.juridique #page h3{font-family:'Raleway', Arial; margin-bottom:10px; font-size:14px;}

.juridique #page .marg-bot{margin-bottom:30px;}
.juridique #page .marg-top{margin-top:20px;}

.juridique ul.tiret{margin-left:30px;}