<div class="tpl_page">
	<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<img src="../skin/v2/savoir/img/kilometre_01.jpg" alt="" /><br />
				<a href="http://www.programmekilometre.fr" target="_blank"><img src="../skin/v2/savoir/img/kilometre_02.jpg" border="0" alt="Rejoignez-nous c'est gratuit !" /></a><img src="../skin/v2/savoir/img/kilometre_03.jpg" alt="" /><br />
				<a href="http://www.actioncarbone.org" target="_blank"><img src="../skin/v2/savoir/img/kilometre_04.jpg" border="0" alt="" /></a>
			</td>
		</tr>
	</table>	
</div>
