.content--baseline .baseline{list-style: none; padding: 0 15px; font-size: 11px; color: #666;}

h2.type-title-grey{padding-bottom:5px; margin-bottom: 10px; font-size:16px; border-bottom:1px solid #000;}
	.agence-description h2,
	.agence-description h3{margin-bottom: 10px; font-size:16px;}
	.photo-agence{text-align: center;}
		.photo-agence img{margin-bottom:20px; max-width:100%;}
.agglos_block hr{display:none;}

.dept.agglos_liste{list-style: none; padding: 0;}
	.dept.agglos_liste li{margin-bottom: 4px;}

#autocomplete{margin-bottom: 5px;}

.block-liste-agences .block-agence{padding:20px 10px 10px; margin-bottom: 10px; background:#efefef;}
.pictos-agence img{margin-bottom: 15px}

.infos-agence .avis-clients{display:block; margin:5px 0 10px;}

.agence-distance{padding:5px 10px; margin:-20px -10px 10px; background:#939393; font-weight:500; color:#fff;}

#agence-service .agence-description{margin-top:20px;}

/* reprise v2/3 */
.note-etoiles,
.etoiles-inner{display: inline-block; vertical-align: top; height: 17px; width: 81px; background: url("../../v2/agences/img/sprite-notation.png") 0 0 no-repeat;}
	.etoiles-inner {background-position:0 -17px;}
	.note-etoiles{margin-left:15px;}
		#agence-commentaires .note-etoiles{margin:0;}

#map{margin-bottom: 15px; width: 100%; height:300px; margin-top:5px;}

.adresse-agence span[itemprop="name"]{font-size:16px; font-weight: 500;}

.agence--table-horaires{margin: 20px 0;width:100%;}
	.agence--table-horaires th{padding-right: 15px;}
	.agence--table-horaires .fake-table{display: table; table-layout: fixed; width: 100%;}
		.agence--table-horaires .fake-table > span{display: table-cell;}

.links_around{list-style: none; padding: 0;}
	.links_around li{margin-bottom: 5px;}

.list-commentaires{padding:0; margin-top: 15px; list-style: none;}
	.list-commentaires li{padding:10px; margin-bottom: 10px;background: #efefef;}
		.list-commentaires li em{display: block; margin-top: 5px; padding-top: 5px; border-top: 1px solid #fff; font-size:12px; font-weight: 500;}

.inner--form-res-agences input[type="radio"]{margin-right: 1px;}

.btn-geoloc{display:inline-block; margin-left: 15px; color:#d71921; font-size: 12px;}
	.btn-geoloc:after{content:url(../../v3/img/minipin-geoloc.png); display: inline-block; vertical-align: middle; margin-left: 5px;}

#familles{margin-bottom:15px;}
	#familles .form-group{margin-bottom:2px;}
#span_ml_retour{height:35px; line-height:35px; font-weight:500;}