#page {padding-right:25px; width:582px; background: #fff;}
    #page ul {background: #fff;}
    #content .content {background: #fff;}
#col {background: #d8d8d8; padding:0; width:299px;}
    #col .menu li { margin:0; line-height: 84px; height: 84px; background: url("img/bg-menu.jpg") no-repeat;}
        
        #col .menu a{ display: block; height: 84px; margin:0; line-height: 84px; padding:0; position: relative; z-index:10; background: url("img/bg-menu.jpg") no-repeat; }
        #col .menu a:hover,  #col .menu a.current { background: none;}
        #col .menu li a.current,
        #col .menu li a:hover {background: url(img/bg-menu-hover.png); width: 312px; height:83px; position: relative; left:-5px; top:5px; }
            #col .menu a:before {content:""; display: inline-block; vertical-align: middle; margin-left:10px; margin-right:5px; width:85px;}
            #col .faq--jeunes a:before { content:url(img/jeunes.png); }
            #col .faq--louer a:before { content:url(img/cles.png);}
            #col .faq--vehicules a:before { content:url(img/vehicules.png);}
            #col .faq--demenagement a:before { content:url(img/demenagement.png); }
            #col .faq--reservation a:before { content:url(img/reservation.png); }
            #col .faq--carburant a:before { content:url(img/carburant.png); }
            #col .faq--etranger a:before { content:url(img/localisation.png); }
        #col .menu:after {content:url(img/menu-bottom.png);}
.bg-titre-faq {display: table; border-collapse: separate; border-spacing:15px; table-layout: fixed; width: 570px; margin-left:-15px; margin-right:-15px;}
.bg-titre-faq li {background: #fff url(img/bg-titre.png); height: 44px; display: table-row;}
    .bg-titre-faq li a {display: table-cell; vertical-align: middle; height:100%; padding:5px;}

.titre-interne {background: url(img/bg-titre.png) no-repeat; width:570px; height:44px; font-size:14px; padding-left:5px; display: table-cell; vertical-align: middle;  position: relative;}
    .titre-interne:after {content:url(img/losange.png); position: absolute; bottom:-9px; left:280px;}
    
.content_bottom { background: url(img/content_bg.png);}