/* vehicules */
.vehicules .inline-block{display:inline-block; vertical-align:middle;}

.vehicules .intro{border:1px solid #efefef;	border-radius:5px; padding:20px;}
	.vehicules .intro.no-border{	border:none;}
		.vehicules .intro p{padding:0px;	margin:0px;}
		
.vehicules h1{font-family:'Raleway', Arial;	font-size:18px;	font-weight:600;}
.vehicules #content h1.border{border-bottom:2px solid #d71921; display:inline-block; font-family:"Raleway",Arial; font-weight:600; margin-top:5px; padding:10px 0;}

.vehicules .text-14px{font-size:14px;}
.vehicules .marg-top{margin-top:20px;}
.vehicules .marg-bot{margin-bottom:20px;}

.vehicules .type-title-grey{font-family:'Raleway', Arial; color:#222; margin-bottom:20px; font-size:17px; font-weight:500;}
	.vehicules .type-title-grey + hr{display:none;}
.vehicules .agglos_liste a {font-size:15px; color:#222 !important; font-family:'Raleway', sans-serif;}

/* vehicules tourisme + utilitaires */
.vehicules .encart{
	background:#efefef;
	width:100%;
	padding:0 0 10px 0;
	margin:20px 0px;
	position:relative;
}
.vehicules .encart h2{
	background:#808080;
	font-family:'Raleway', Arial;
	font-size:20px;
	color:#FFF;
	padding:8px 15px;
}
.vehicules .encart .bloc-vignette,
.vehicules .encart .infos{
	display:inline-block;
	vertical-align:middle;
}
.vehicules.tourisme .encart .bloc-vignette{
	width:400px;
	text-align:center;
	position:relative;
}
.vehicules.tourisme .encart .bloc-vignette .btn_360{
	position:absolute;
	right:50px;
	bottom:5px;
}
.vehicules.utilitaires .encart .bloc-vignette{
	width:440px;
	text-align:center;
}
.vehicules .encart .infos{
	float:none;
	width:300px;
}
.vehicules .encart .infos h3{
	font-family:'Raleway', Arial;
	font-weight:600;
	font-size:21px;
}
.vehicules .encart .infos span.info{
	font-family:'Raleway', Arial;
	font-weight:600;
	font-size:14px;
	color:#d71921;
	display:block;
}
.vehicules.tourisme .encart .options li.spec.age{
	background:url(../img/picto-age-permis.png) no-repeat 0 0;
}
.vehicules.tourisme .encart .options li.spec.permis{
	background:url(../img/picto-age-permis.png) no-repeat 0 0;
}
.vehicules.tourisme .encart .options li.spec.valises{
	background:url(../img/picto-bagages.png) no-repeat -2px 2px;;
}
.vehicules.tourisme .encart .options li.spec.sacs{
	background:url(../img/picto-sacs.png) no-repeat 0 2px;
}
.vehicules.tourisme .encart .options li.spec.places,
.vehicules.tourisme .encart .options li.spec.portes,
.vehicules.tourisme .encart .options li.spec.carburant{
	display:none;
}
.vehicules.utilitaires .encart .options li{
	background:url(../img/sprite-picto-resultat.png) no-repeat 0 0;
	padding-left:25px;
}
.vehicules.utilitaires .encart .options .places{
    background-position:0 -45px;
}
.vehicules.utilitaires .encart .options .charge{
    background-position: 0 -250px;
}

.vehicules.utilitaires .encart .options .diesel {
    background-position: 0 -200px;
}

.vehicules.utilitaires .encart .options .dimensions {
    background-position: 0 -99px;
}
.vehicules .encart a.btn{
	background:#d71921;
    border-radius:4px;
    color:#fff;
    font-family:'Raleway', Arial;
    font-size:18px;
    font-weight:600;
	text-transform:uppercase;
    height:45px;
    line-height:45px;
	margin-bottom:0px;
	padding:0px 40px;
	position:absolute;
	right:30px;
	top:50%;
}

/* vehicules sans permis + vehicules deux roues */

/* formulaire de recherche */
.vehicules #form_recherche_agence{
	position:relative;
	background: #ecebeb none repeat scroll 0 0;
	border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.vehicules #form_recherche_agence div{
	overflow:hidden;
	padding:0;
}
.vehicules #form_recherche_agence p{
	width:auto;
}
.vehicules #form_recherche_agence label{
	font-family:'Raleway', Arial;
	font-size:17px;
	margin:0px 0px 10px 10px;
}
.vehicules #form_recherche_agence #input_recherche_agence{
	font-family:'Raleway', Arial;
	font-size:14px;
	width:300px;
	background:#FFF;
	border:1px solid #dcdcdc;
	margin:10px;
	display:block;
	float:none;
	padding-left:10px;
	padding-right:10px;
}
.vehicules #form_recherche_agence em{
	font-family:'Raleway', Arial;
	font-style:normal;
	font-size:13px;
	color:#525252;
	display:block;
	margin:-20px 0 0 10px;
	text-decoration:none;
}
.vehicules #valid_recherche_agence{
	background:#d71921;
    border-radius:4px;
    color:#fff;
    font-family:'Raleway', Arial;
    font-size:13px;
    font-weight:600;
	text-transform:uppercase;
    height:37px;
    line-height:37px;
	margin-bottom:0px;
	position:absolute;
	left:380px;
	bottom:32px;
}
/* fin formulaire */

/* resultat de la recherche */
.vehicules #results_recherche_agence{
	margin-bottom:20px;
}
.vehicules #results_recherche_agence #liste_recherche_agence{
	background:#FFF;
}
.vehicules #results_recherche_agence #liste_recherche_agence p{
	font-family:'Raleway', Arial;
	font-size:13px;
	color:#000;
	font-weight:normal;
	margin-bottom:10px;
}
.vehicules #results_recherche_agence #liste_recherche_agence p a.lien_agence{
	font-family:'Raleway', Arial;
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.vehicules #results_recherche_agence #liste_recherche_agence p a.btn{
	display:inline-block;
	height:25px;
	line-height:25px;
	font-family: "Raleway",sans-serif,Arial;
	padding:4px 10px;
	text-transform:uppercase;
	color:#fff;
	background:#d71921;
	border-radius:4px;
	border:none;
	font-size:12px;
	font-weight: 500;
	cursor:pointer;
	text-align:center;
}
.vehicules #results_recherche_agence #liste_recherche_agence p a.btn:hover{
	color:#FFF;
}
.vehicules #results_recherche_agence #liste_recherche_agence p a.btn span.end{
	display:none;
}
/* fin resultat */

/* vehicules deux roues */
.vehicules.deux_roues h2{
	font-family:'Raleway', Arial;
	color:#525252;
	margin:10px 0;
}
.vehicules.deux_roues #results_recherche_agence #liste_recherche_agence p a.btn{
	display:none;
}

/* vehicule du mois */
.vehicules 	#content ul.type-puce li{background:url(img/puce-gris.png) no-repeat 0 5px; padding-left:15px;}

/* vehicules de prestige */
.vehicules.prestige .col-40{width:45%;}
.vehicules.prestige .col-60{width:54%;}
.vehicules.prestige #results_recherche_agence #liste_recherche_agence{font-size:13px; color:#999;}
	.vehicules.prestige #results_recherche_agence #liste_recherche_agence .lien_agence_prestige{font-size:12px; color:#000; font-weight:500; margin:0;}