<div id="conteneur_maintenance" style="width: 700px; margin: 0 auto 0 auto;">
<!-- commentaire pour test site par Link By Net -->
<!--Votre location en 1 clic -->
	<div id="contenu_maintenance" style="width: 700px; padding: 40px 30px; text-align: center;">

		<!-- <p><img src="../img/logo.gif" alt="ADA, location de v&eacute;hicules" title="ADA, location de v&eacute;hicules" border="0"/></p> -->

		<p>Le site ada.fr est en cours de maintenance. Veuillez nous excuser pour cette indisponibilit&eacute; temporaire.<br />

		<span style="color: #c50000;">Tout roule moins cher sur ADA.fr</span></p>

		<p style="margin-top: 40px;">Vous souhaitez r&eacute;server ?<br />

		Nous vous invitons &agrave; vous reconnecter ult&eacute;rieurement</p> 

		</div>

</div>