<div class="tpl_page simple">
	<h1 class="h1-like">Conditions assurance complémentaire</h1>
	<ul class="circle">
		<li><a href="../doc/formulaire-declaration-sinistre-annulation-franchise.pdf" target="_blank" class="rouge">Formulaire de déclaration de sinistre annulation de franchise</a></li>
		<li><a href="../doc/conditions/conditions-generales-d-assurances-valant-notice-d-information_<?=date('Y');?>.pdf" target="_blank" class="rouge">Conditions générales d'assurances valant notice d'information</a></li>
		<li><a href="../doc/formulaire-declaration-sinistre-biens-transportes.pdf" target="_blank" class="rouge">Formulaire de déclaration de sinistre Biens transportés</a></li>
	</ul>	
</div>