.conditions #page h1,
.conditions #page h2,
.conditions #page h3{
	font-family:'Raleway', Arial;
}
.conditions #page h1{
	font-size:19px;
	margin:20px 0;
}
.conditions #page h2,
.conditions #page h3{
	font-size:18px;
	color:#525252;
	margin-bottom:10px;
}
.conditions #page h1,
.conditions #page h2,
.conditions #page h3,
.conditions #page p,
.conditions #page ul li{
	text-align:justify;
}