<?
	/** @var Agence */ $agence = $this->getData('agence');
	$agenceHref = $here.gu_agence($agence);
?>
<? if ($agence) : ?>
<div id="popin-agence">
	<div class="left">
		<p class="adresse-agence">
			<a href="<?=$agenceHref?>" title="location voiture <?=$agence['nom']?>">
				<span class="nom"><?= u8($agence['nom']); ?></span>
			</a>
			<br/>
			<span>
				<span>
					<?= u8($agence['adresse1']); ?><br/>
					<? if($agence['adresse2']): ?>
						<?= u8($agence['adresse2']) ?><br/>
					<? endif; ?>
					<?
					if ($agence->isPointLoc()) echo "<img class='picto-point-loc' src='../css/img/structure-2015/picto-point-loc.png' alt='point loc partenaire ADA' />";?>
				</span>
				<span><?= $agence['cp']; ?></span> <span><?= u8($agence['ville']); ?></span>
			</span>
			<span class="clearfix block">
				<span class="left">
				<?
					if ($agence['tel']) {
						echo '<br/><span class="label-tel">Tél : </span> ';
						echo u8($agence->getNumeroCourt());
						echo '<span class="label-tel">'.$agence['tel'].'</span>';
						echo '<br/>';
					}
				?>
				</span>
			</span>
		</p>
		<? if ($nbAvis = $agence->getAvisTotal()) : ?>
		<p class="avis-agence">
			<span class="right avis-clients" id="avis-clients">
				<?
					// Affiche le nombre de commentaires
					$listAvis = $agence->getAvisCommentaires(true);
					$nbAvis = count($listAvis);
				?>
				<?=$nbAvis;?> avis clients<br />
				<span class="note-etoiles">
					<span style="<?=sprintf('width: %ld%%;', round(($agence->getAvisNote() * 100)/4));?>" class="etoiles-inner"></span>
				</span>
			</span>
		</p>
		<? endif; ?>
		<? echo $agence->toHtml('block-horaires-vertical'); ?>
	</div>
	<div id="tabs">
		<ul class="tabs clearfix">
			<? if($agence['latitude'] && $agence['longitude']) : ?>
			<li id="tabs-carte" class="inline-block">Carte</li>
			<? endif; ?>
			<li id="tabs-services" class="inline-block">Services</li>
		</ul>
		<? if($agence['latitude'] && $agence['longitude']) : ?>
			<div id="tab-carte" class="tab cadre-carte">
				<div id="map_agence"></div>
			</div>
			<script type="text/javascript">
				// <![CDATA[
				if (google.maps) {
					initMapAgence();
				} else {
					google.load("maps", "3", {other_params:'sensor=false<?=GOOGLE_API_KEY?>', callback: initMapAgence});
				}

				/* si on charge la carte avec l'onglet fermÃ©, le plan ne s'affiche pas correctement */
				function initMapAgence() {
					// on ne charge la carte qu'une fois... et si la carte est visible
					var latitude = <?=rad2deg($agence['latitude']);?>;
					var longitude = <?=rad2deg($agence['longitude']);?>;
					var mylatlng = new google.maps.LatLng(latitude ,longitude);
					var mapOptions = {
						center: mylatlng,
						zoom: <?= isset($agence['zoom']) ? $agence['zoom'] : 15 ?>,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						disableDoubleClickZoom : false,
						scrollwheel: false,
						draggable: true,
						keyboardShortcuts: true,
						mapTypeControl: false,
						panControl: true,
						zoomControl: true,
						scaleControl: false,
						streetViewControl: false
					};
					mapOptions.maxZoom = mapOptions.zoom + 2;
					mapOptions.minZoom = mapOptions.zoom - 2;
					var map = new google.maps.Map(document.getElementById("map_agence"), mapOptions);
					// creation d'un marker
				var image = new google.maps.MarkerImage("../img/gmap_marker.png",
						// This marker is 20 pixels wide by 32 pixels tall.
						new google.maps.Size(12, 18),
						// The origin for this image is 0,0.
						new google.maps.Point(0,0),
						// The anchor for this image is the base of the flagpole at 0,32.
						new google.maps.Point(6, 18)
					);
					var marker = new google.maps.Marker({
						position: mylatlng,
						map: map,
						icon: image
					});
				}
				// ]]>
			</script>
		<? endif; ?>
		<div id="tab-services" class="tab clearfix">
			<p>
				<strong>L'agence ADA <?=utf8_encode($agence['nom'])?></strong>
				<br/>vous propose une gamme de location de voitures et de véhicules utilitaires.
			</p>
			<div class="photo-agence">
				<? if ($agence['photo']) : ?>
				<img src="../<?=$agence['photo']?>" alt="Plan détaillé de <?=stripslashes(utf8_encode($agence["nom"]))?>" />
				<? endif; ?>
			</div>
			<div class="services-agence">
				<?	$services = $agence->getServices(); ?>
				<? if (!empty($services)) : ?>
				<div class="icones">
					<? if (in_array(Agence::SERVICE_LIVRAISON, $services)) : ?>
					<? echo u8($agence->toHtml('block-livraison')); ?>
					<? endif; ?>
					<? if (in_array(Agence::SERVICE_MALIN, $services)) : ?>
					<span class="helper"></span>
					<img src="../css/img/ico_agence_type_malin.gif" alt="ADA Malin" />
					<? endif; ?>
					<? if (in_array(Agence::SERVICE_J7, $services)) : ?>
					<span class="helper"></span>
					<img src="../css/img/ico_agence_j7.gif" alt="7 jours sur 7" />
					<? endif; ?>
					<? if (in_array(Agence::SERVICE_HOLIDAY_BIKES, $services)) : ?>
					<span class="helper"></span>
					<img src="../css/img/ico_agence_type_7.gif" alt="Holiday bikes" />
					<? endif; ?>
				</div>
				<? endif; ?>
				<? if ($agence['commentaire_localisation']) : ?>
				<br />
				<div class="form-note">
					Informations :
					<?=utf8_encode($agence['commentaire_localisation'])?>
				</div>
				<? endif; ?>
				<? if ($agence['commentaire_offre']) : ?>
				<div class="commentaires-agences fix-ie7">
					Informations : <?=utf8_encode($agence['commentaire_offre'])?>
				</div>
				<? endif; ?>
			</div>
		</div>
	</div>
<? endif; // agence est bien resneignée ?>
</div>
<script type="text/javascript">
	// <![CDATA[
	// onload
	$(document).ready(function()
	{
		// les publicités
		if ($.fn.slides)
		{
			$('.slides').slides({
				preload: false,
				preloadImage: '../img/ajax-loader.gif',
				play: 3000,
				effect: 'fade',
				paginationLinkText: 'title'
			});
		}

		// fonctionment des onglets
		$("#tabs div.tab").hide();
		$("#tabs ul.tabs li").click(function(){
			if ($(this).hasClass("current")) return;
			var $tabs = $(this).parent();
			// cacher les onglets
			var idx = $tabs.find("li").index($tabs.find(".current"));
			$tabs.find("li.current").removeClass("current");
			if (idx >= 0) {
				$tabs.removeClass("select-" + (1 + idx));
			}
			$tabs.removeClass("select-4");

			$(this).addClass("current");
			$tabs.addClass("select-" + (1 + $tabs.find("li").index(this)));
			// afficher l'onglet sélectionné
			$("#tabs div.tab").hide();
			$("#" + this.id.replace('tabs-', 'tab-')).show();

		}) ;
		// afficher le premier onglet
		$("#tabs ul.tabs li:first").click();


		// ouvrir la liste des agences
		$("#clic-agences, #clic-agences2").click(function(){
			$(this).prev('ul').slideToggle();
		});
		// déplacement das la page depuis la note vers les avis clients
		$('#avis-clients').click(function(){
			var offSet = $("#agence-avis-commentaires").offset();
			$('html, body').animate({
				scrollTop : (offSet.top - 10)
			}, 800);
			return false;
		});

		// toggle des agences à proximité/en france (reprise de page matériel)
		$("#more-links").accordion({
			header: '.hn-like',
			heightStyle:'content',
			collapsible:true,
			active:false
		});

	});
	// ]]>
</script>