<?
	/** @var Categorie */
	$categorie = $this->getData('categorie');
/*
	Champs à utiliser
	utf8_encode($categorie['nom'])			nom de la catégorie
	$categorie['franchise']			franchise par défaut
	$categorie['depot']				dépôt de garantie
	$categorie['franchise_rf']		franchise réduite
	$categorie['depot_rf']			dépôt de garantie avec franchise réduite
	$categorie['franchise_af']		franchise rachetée
	$categorie['depot_af']			dépôt de garantie avec franchise rachetée
	$categorie['frais_af']			frais de dossier avec franchise rachetée
	$categorie['frais_immo']		frais d'immobilisation du véhicule
*/
/* Quelques "constantes" */
	$DOMMAGES 			= max(2400, $categorie['franchise']+500);
	$FRAIS_GESTION		= 60.00;
	$FRAIS_GESTION_AF	= (strtolower($categorie['type']) == 'vu' ? 270 : 100);
?>
<div class="bg-gris container">
	<h2 class="h2-like rouge">Assurance Annulation de Franchise</h2>
	<p>
		En cas de sinistre responsable ou non, avec ou sans tiers, vous êtes redevable du montant de la franchise contractuelle ou de la totalité des réparations, si la franchise n'est pas appliquée. Pour savoir quand vous êtes assurés, <a href="../conditions/location.html#conditions-assurance" target="_blank">cliquez-ici</a>. <br />
		<br />
		L'assurance Annulation de franchise vous permet de ne plus être redevable de la franchise en cas de dommages ou de vol. De plus, vous élargissez vos garanties en vous protégeant en cas de sinistre survenant sur les hauts et bas de caisses, ainsi que sur le bris de glace.<br />
		En cas de sinistre, vous vous acquittez uniquement de frais de dossiers à hauteur de <?=show_money($FRAIS_GESTION_AF)?>€ pouvant être complété de frais d'immobilisation.<br />
		Pour plus d'informations, <a href="../conditions/assurance_complementaire.html" target="_blank">cliquez ici</a>.<br />
		<br />
		Ne prenez pas de risques, limitez au maximum vos frais !
	</p>
	<br />
</div>

<hr />

<div class="container">
	<h3 class="big align-center caps rouge">Exemple</h3>
	<p class="align-center rouge big">
		<strong>
			<br/>Un sinistre dont les frais de réparation s'élèvent à <?=show_money($DOMMAGES)?>€ TTC<br />sur un véhicule du type <?=utf8_encode($categorie['nom'])?>
		</strong>
	</p>
	<br />
	<div class="col-1-2">
		<h4 class="align-center">
			<strong class="block bg-rouge rounded blanc big caps">Sans assurance</strong>
			<span class="block big">Frais à votre charge</span>
		</h4>
		<br />
		<ul class="puce-rouge">
			<li>Coût des dommages (franchise) : <strong><?=show_money($categorie['franchise'])?>€&nbsp;TTC </strong></li>
			<li>Frais de dossier : <strong><?=show_money($FRAIS_GESTION)?>€&nbsp;TTC</strong></li>
			<li>Frais d'immobilisation  : <strong><?=show_money($categorie['frais_immo'])?>€&nbsp;TTC</strong></li>
		</ul>
	</div>
	<div class="col-1-2">
		<h4 class="align-center">
			<span class="block bg-rouge rounded blanc big caps">Avec assurance</span>
			<span class="block big">Frais à votre charge</span>
		</h4>
		<br />
		<ul class="puce-rouge">
			<li>Coût des dommages : <strong><?=show_money($categorie['franchise_af'])?>€&nbsp;TTC</strong></li>
			<li>Franchise frais de gestion : <strong><?=show_money($FRAIS_GESTION_AF)?>€</strong></li>
			<li>Frais d'immobilisation : <strong><?=show_money($categorie['frais_immo'])?>€&nbsp;TTC</strong></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="col-1-2">
		<p class="align-center">
			<strong>soit <span class="bigger rouge">
			<? echo show_money($categorie['franchise'] + $FRAIS_GESTION + $categorie['frais_immo']);?>€<sup>TTC</sup></span></strong>
		</p>
	</div>
	<div class="col-1-2">
		<p class="align-center">
			<strong>soit <span class="bigger rouge">
			<? echo show_money($categorie['franchise_af'] + $FRAIS_GESTION_AF + $categorie['frais_immo']);?>€<sup>TTC</sup></span></strong>
		</p>
	</div>
	<div class="clear"></div>
	
	<br />
	<p class="align-center small">
		<strong>Pour plus d'informations, consultez <a href="../conditions/assurance_complementaire.html" title="aller vers les conditions générales d'assurances" class="underline">les conditions générales d'assurances</a>.</strong>
	</p>
</div>