<div class="container">
	<h2 class="h2-like rouge">Assurance au tiers</h2>
	<p>
		La couverture de responsabilité civile ou « au tiers » est la couverture obligatoire pour circuler avec un véhicule. Cette assurance garantie l'indemnisation de tous les dommages corporels et matériels causés à des tiers.
	</p>
	<br />
</div>