<div class="container">
	<h2 class="h2-like rouge">Optez pour l’assurance Annulation de franchise et disposez de la meilleure couverture possible !</h2>
	<p>
		Grâce à cette assurance : <br />
		- Vous élargissez vos garanties et êtes notamment protégé en cas de sinistre sur les hauts et bas de caisse, ainsi que sur les bris de glace.
		<br />
		- En cas de dommages, vous limitez au maximum votre responsabilité financière et êtes uniquement redevable de frais de dossiers assurance (100€ pour les véhicules de tourisme et 270€ pour les véhicules utilitaires) pouvant être complété de frais d’immobilisation.<br />
		<br />
		<strong>Ne prenez aucun risque, assurez vous la tranquillité !</strong>
	</p>
	<br />
</div>