<div class="container">
	<h2 class="h2-like rouge">Assurance marchandises transportées</h2>
	<p>
		L'assurance Biens transportés vous permet d'être remboursé de la valeur de vos biens en cas de vol ou de dégradation du matériel dans votre véhicule, et ce suite à une effraction, un accident, un incendie ainsi que lors des opérations de chargement et de déchargement des véhicules utilitaires.
	</p>
	<br />
</div>