<div class="container">
	<h2 class="h2-like rouge">Carton bouteilles</h2>
	<p>
		Carton 12 bouteilles<br />
		Simple cannelure<br />
		Dimensions : 33,4 X 25 X 33 cm<br />
		Contient : 1 croisillon intérieur
	</p>
	<br />
</div>