<div class="container">
	<h2 class="h2-like rouge">Carton penderie</h2>
	<p>
		Penderie grand format avec la tringle<br />
		Carton Double cannelure<br />
		Dimensions : 500 x 500 x 1350
	</p>
	<br />
</div>