<div class="container">
	<h2 class="h2-like rouge">Cartons</h2>
	<p>
		Dimensions : 500 x 355 x 275 blanc logoté<br />
		Caractéristiques : caisse américaine à rabats normaux<br />
		Qualité : 20Kg renforcé en simple canelure
	</p>
	<br />
</div>