<div class="container">
	<h2 class="h2-like rouge">Carton verres</h2>
	<p>
		Carton 100 verres<br />
		Double cannelure <br />
		Dimensions : 45 x 45 x 75 cm<br />
		Contient : 4 croisillons et 3 plaques de séparation
	</p>
	<br />
</div>