<div class="container">
	<h2 class="h2-like rouge">Carton assiettes</h2>
	<p>
		Carton 24 à 48 assiettes<br />
		Double cannelure<br />
		Dimensions : 45 x 45 x 75 cm<br />
		Contient : 2 croisillons et 3 plaques de séparation
	</p>
	<br />
</div>