<div class="container">
	<h2 class="h2-like rouge">Conducteur additionnel</h2>
	<p>
		<p>Prix par location pour l'ajout d'un conducteur au contrat de location. Chaque conducteur devra présenter son permis de conduire en agence lors de la prise du véhicule.</p>
	</p>
	<br />
	<br />
</div>