<?
	/** @var Page_Popin */ $that = $this;
	/** @var Reservation */ $reservation = $that->getData('reservation');
	/** @var Agence */ $agence = $that->getData('agence');
	/** @var Categorie */ $categorie = $this->getData('categorie');
	$catTrackName = 'inconnu';
	if ($categorie) {
		$catTrackName = $categorie->getTrackName();
	}
?>
<div class="container">
	<h1 class="h1-like noir border">Des forfaits tout compris</h1>
	<h2 class="h2-like small gris padding-top-15">Le tarif comprend :</h2>
	<ul>
		<? echo u8(str_replace('<li> - ', '<li>', $agence->getHtmlRatesIncludes())); ?>
	</ul>

	<h2 class="h2-like small gris padding-top-15">Le tarif ne comprend pas :</h2>
	<ul>
		<? echo u8(str_replace('<li> - ', '<li>', $agence->getHtmlRatesExcludes($that->hasData('km_sup'), false))); ?>
	</ul>

	<h2 class="h2-like small gris padding-top-15">Dépôt de garantie</h2>
	<p>
		Un dépôt de garantie par carte bancaire vous sera demandé à la prise du véhicule.<br />
		Ce montant est égal au montant de franchise contracté : franchise totale ou franchise réduite selon la catégorie du véhicule loué.<br/>
	</p>

	<h2 class="h2-like small gris padding-top-15">Conditions d'annulation</h2>
	<p>
		Vous pouvez annuler votre réservation jusqu'à 48h avant la prise du véhicule. Des frais de dossier de 27 € TTC vous seront facturés pour toute annulation au-delà de 48h avant votre départ. Moins de 48h avant votre départ : le montant de votre réservation ne vous sera pas remboursé.
	</p>

	<h2 class="h2-like small rouge padding-top-15">Demandez un devis</h2>
	<p class="padding-bottom-10">
		Vous souhaitez recevoir un devis par email. Saisissez votre e-mail et validez.<br /><br />
		E-mail: <input type="text" id="devis_email"> <input class="btn-rouge picto" type="button" value="valider" id="ask_devis_button">
	</p>
	<p id="mail_sent_confirmation_message"><p>
</div>
	<script type="text/javascript">
	// tracking forfait details
	sp_clic("N", "forfait", "<?=$catTrackName?>", "details"); 
	
	// serializeobject
	$.fn.serializeObject = function()
	{
	    var o = {};
	    var a = this.serializeArray();
	    $.each(a, function() {
	        if (o[this.name] !== undefined) {
	            if (!o[this.name].push) {
	                o[this.name] = [o[this.name]];
	            }
	            o[this.name].push(this.value || '');
	        } else {
	            o[this.name] = this.value || '';
	        }
	    });
	    return o;
	};

$( "#ask_devis_button" ).click(function() {
	// tracking forfait devis
	sp_clic("N", "forfait", "<?=$catTrackName?>", "devis");
	// prepare data
	<? if ($reservation) : ?>
	var data = {'reservation': '<?=$reservation->getId()?>', 'key' : '<?=Page::getKey($reservation->getId());?>'};
	<? else : ?>
	var data = $('#frm_reservation_tarif').serializeObject();
	<? endif; ?>
	data.email =$('#devis_email').val();
	$.ajax({
		url: appADA.baseUrl + "api/json/devis",
		dataType: "json",
		type: "POST",
		data: data,
		success: function (data) {
			$('#mail_sent_confirmation_message').empty().append(data.message);
		}
	});
});
</script>