<?php
	/** @var Forfait */ $forfait = $this->getData('forfait');
	/** @var Categorie */ $categorie = $forfait->getCategorie();
?>
<h3><span class="gras">Négociez</span> votre prix !</h3>
<? if (!$forfait) : ?>
<p class="error">Désolé une erreur s'est produite ! La négociation ne peut pas avoir lieu.</p>
<? else : ?>
<form id="forfait_negociation" method="post" action="../api/json/negociation">
	<input type="hidden" name="forfait" value="<?=$forfait->doSerialize();?>"/>
	<input type="hidden" name="categorie" value="<?=$forfait['categorie'];?>"/>
	<input type="hidden" name="categorie_tracking" value="<?=$categorie->getTrackName();?>"/>
	<input type="hidden" name="step" value="1"/>
	<div id="nego_step_1">
		<p>
			<label>Actuellement, notre prix est de :</label>
			<input class="money gras" type="text" name="prix_initial" value="<?=$forfait->getPrix()?>" maxlength="4" size="4" readonly/><span class="euro">&euro;</span>
		</p>
	</div>
	<div id="nego_step_2">
		<p>
			<label>Faites-nous votre proposition :</label>
			<input class="money" type="text" name="prix_step_1" value="" maxlength="4" size="4" readonly/><span class="euro">&euro;</span>
		</p>
		<p class="msg rouge">Allons, soyons raisonnable <span class="smiley">&#9786;</span> !</p>
	</div>
	<div id="nego_proposition">
		<p>
			<label for="proposition">Faites-nous <span class="nego_invitation">votre proposition</span> :</label>
			<input class="money" type="text" id="proposition" name="proposition" value="" maxlength="4" size="4"/><span class="euro">&euro;</span>
			<input class="btn-rouge" type="submit" value="proposez"/>
		</p>
	</div>
	<div id="nego_ko">
		<p>
			<label>Faites-nous une autre proposition :</label>
			<input class="money" type="text" name="prix_step_2" value="" maxlength="4" size="4" readonly/><span class="euro">€</span>
		</p>
		<p class="msg rouge">
			Votre proposition est toujours un peu basse.<br /><br />
			La meilleure offre que nous pouvons vous faire est de <span class="tarif gras"></span> <span class="euro">€</span>
		</p>
	</div>
	<div id="nego_ok">
		<p>
			<label>Faites-nous <span class="nego_invitation">votre proposition</span> :</label>
			<input class="money" type="text" name="prix_ok" value="" maxlength="4" size="4" readonly/><span class="euro">€</span>
		</p>
		<p class="msg rouge">
			Vous êtes un fin négociateur ! OK pour <span class="tarif gras"></span> <span class="euro">€</span> !
			<br/>Cliquez ci-dessous pour finalisez votre location au prix de :<span class="bg-gris"><span class="tarif gras"></span> <span class="euro">€</span></span>
		</p>
	</div>
	<input class="btn-rouge" id="nego_valide" type="button" value="J'accepte cette proposition"/>
</form>
<script type="text/javascript">
/* <![CDATA[ */ 
$(document).ready(function() {
	// cacher les éléments inutiles
	$("#nego_step_2, #nego_ko, #nego_ok, #nego_valide").hide();
	// effectuer la négociation
	$("#forfait_negociation").submit(function() {
		// si on propose la validation on ne peut plus soumettre le formulaire
		if ($("#nego_valide").is(":visible")) {
			return false;
		}
		// le prix doit être valide et au moins inféreieur au prix initial
		if (!this.proposition.value.match(/^\d+$/) || parseInt(this.proposition.value) >= parseInt(this.prix_initial.value) || parseInt(this.proposition.value) < 1) {
			$(this.proposition).focus();
			return false;
		}
		// soumettre la négociation et ne plus l'autoriser
		$("#btn_negociation").parent().remove();
		var frm = this;
		$.post(this.action, $(this).serialize(), function(data) {
			// on met à jour les champs cachés
			if (data.step) {
				frm.step.value = data.step;
			}
			if (data.forfait) {
				frm.forfait.value = data.forfait;
			}
			// si OK on affiche le message de validation
			if (data.status == "OK") {
				if (data.proposition) {
					frm.prix_ok.value = frm.proposition.value;
					$("#nego_ok .tarif").html(data.proposition);
					$("#nego_proposition").hide();
					frm.proposition.value = data.proposition;
					$("#nego_ok, #nego_valide").show();
				} else {
					alert("La négociation n'a pas aobutie !");
				}
			} else if (data.msg) {
				// s'il y a un message on l'affiche
				alert(data.msg);
			} else if (data.step == 2){
				$(".nego_invitation").html("une autre proposition");
				frm.prix_step_1.value = frm.proposition.value;
				$("#nego_step_2").show();
				$(frm.proposition).val("").focus();
			} else if (data.step >= 3) {
				frm.prix_step_2.value = frm.proposition.value;
				$("#nego_ko .tarif").html(data.proposition);
				$("#nego_proposition").hide();
				frm.proposition.value = data.proposition;
				$("#nego_ko, #nego_valide").show();
			} else {
				alert("Un problème technique a eu lieu lors de la négociation !");
			}
		}, 'json');
		return false;
	});
	// validation de la négociation
	$("#nego_valide").click(function() {
		var f = this.form.forfait.value;
		if (!f.length) return false;
		// modifier le forfait
		if (typeof(forfaits) == "object") {
			var catID = parseInt(this.form.categorie.value);
			var prix_forfait = parseInt(this.form.proposition.value);
			forfaits[catID].forfait = f;
			forfaits[catID].prix_forfait = prix_forfait;
			if (typeof(updateForfait) == "function") {
				updateForfait(forfaits[catID]);
			}
			// tracking 
			if (this.form.categorie_tracking.value.length) {
				sp_clic("N", "nego", this.form.categorie_tracking.value, "ok_" + this.form.step.value);
				this.form.categorie_tracking.value = "";
			}
			// mettre à jour le prix dans les blocs catégories
			$("#cat-" + catID + " span.prix_total").html(prix_forfait + "&euro;");
			$("#dialog-popin").dialog('close');
		}
		return false;
	});
	// en cas de fermeture sans négociation
	setTimeout(function()
	{
		$("#proposition").focus();
		$("#dialog-popin").dialog({
			beforeClose: function( event, ui ) {
				var frm = document.getElementById("forfait_negociation");
				if (frm.categorie_tracking.value.length) {
					sp_clic("N", "nego", frm.categorie_tracking.value, "ko_" + frm.step.value);
					frm.categorie_tracking.value = "";
				}
			}
		});
	}, 100);
});
/* ]]> */
</script>
<? endif ;?>