<div class="container">
	<h2 class="h2-like rouge">Vous ne choisissez aucune assurance additionnelle.</h2>
	<p>
		Vous êtes assurés avec application d’une franchise de 2500€ pour un véhicule de tourisme et de 3000€ pour un véhicule utilitaire.<br /><br />
		Pour mieux vous protéger et rouler en toute tranquillité, optez pour nos <strong>assurances additionnelles</strong> (garantie Réduction de franchise et assurance Annulation de franchise) !
	</p>
	<br />
</div>