<div class="container">
	<h2 class="h2-like rouge">Optez pour la garantie Réduction de franchise et réduisez significativement votre dépôt de garantie !</h2>
	<p>		
		Grâce à cette garantie : <br />
		- Vous réduisez le montant de votre franchise en cas de dommages<br />
		- Vous réduisez le montant de votre dépôt de garantie<br /><br />

		A noter : la franchise réduite ne s’applique pas en cas de vol du véhicule. <br /><br />

		<strong>Pour mieux vous protéger, optez pour l’assurance Annulation de franchise. </strong>
	</p>
	<br />
</div>