<div class="container">
	<h2 class="h2-like rouge">Housse matelas</h2>
	<p>
		Housse matelas <span class="caps">lit double</span><br />
		<span class="caps">Housse spécialement résistante</span><br />
		Pour les lits <span class="caps">King size</span>, utiliser 2 housses
	</p>
	<br />
</div>