<div class="container">
	<h2 class="h2-like rouge">Jeune conducteur</h2>
	<p>
		<p>L'âge minimum requis pour effectuer une location chez notre partenaire est fixé à 21 ans (23 ans ou 25 ans pour certains modèles). Un supplément jeune conducteur est facturé pour les locataires âgés de 21 à 25 ans au tarif en vigueur (32€ par jour). Si vous ne payez pas en ligne cette option, elle sera facturé au comptoir de notre partenaire.</p>
	</p>
	<br />
</div>