<div class="container">
	<h2 class="h2-like rouge">Kit appartement</h2>
	<p>
		Votre matériel de déménagement sera disponible dans l'agence que vous avez sélectionnée et à la date de votre choix. Cependant, le matériel de déménagement en location vous sera remis lors de votre location à la prise en charge du véhicule.
	</p>
	<br />
	<p>
		Idéal pour déménager un appartement.<br />
		Ce kit comprend : <span class="rouge">30 cartons 500 X 355 X 275, 1 carton de penderie 500 X 500 X 1350, 2 rouleaux d'adhésif, 1 rouleau de papier bulle l1 X L20 M, 1 housse de matelas lit double.</span>.<br />
		<strong>+ EN LOCATION</strong> : 1 diable et 4 couvertures
	</p>
	<br />
</div>