<div class="container">
	<h2 class="h2-like rouge">Kit maxi</h2>
	<p>
		Votre matériel de déménagement sera disponible dans l'agence que vous avez sélectionnée et à la date de votre choix.
	</p>
	<br />
	<p>
		Ce kit comprend : <span class="rouge">35 cartons 500 X 355 X 275, 2 rouleaux de papier bulle l1 X L10 M, 2 rouleaux d'adhésif, 1 paire de gants, 1 cutter</span>.<br />
	</p>
	<br />
</div>