<div class="container">
	<h2 class="h2-like rouge">Kit outils</h2>
	<p>
		Le kit Outils comprend : <br />
		1 marteau avec maillet séparé en caoutchouc<br />
		1 clé anglaise<br />
		1 pince multiprise<br />
		1 tournevis avec 12 embouts (dont clé alène)
	</p>
	<br />
</div>