<div class="container">
	<h2 class="h2-like rouge">Kit appartement</h2>
	<p>
		Votre matériel de déménagement sera disponible dans l'agence que vous avez sélectionnée et à la date de votre choix.
	</p>
	<br />
	<p>
		Idéal pour déménager un appartement.<br />
		Ce kit comprend : <span class="rouge">30 cartons 500 X 355 X 275, 1 carton de penderie 500 X 500 X 1350, 2 rouleaux d'adhésif, 1 rouleau de papier bulle l1 X L20 M, 1 housse de matelas lit double.</span><br />
	</p>
	<br />
</div>