<div class="container">
	<h2 class="h2-like rouge">Location de matériel de déménagement</h2>
	<p>
		Le matériel de déménagement en location vous sera remis avec votre location de véhicule à la date et heure que vous avez choisies.
	</p>
	<br />
</div>