<div class="container">
	<h2 class="h2-like rouge">Livraison / Reprise à domicile</h2>
	<p>
		Votre agence vous recontactera afin d'organiser la livraison ou la reprise de votre véhicule.
	</p>
	<br />
</div>