<div class="container">
	<h2 class="h2-like rouge">Talkie-walkie</h2>
	<p>
		Portée jusqu’à 6 km<br />
		16h d'autonomie<br />
		8 canaux<br />
		5 sonneries  <br />
		Clip de ceinture<br />
	</p>
	<br />
</div>