<div class="container">
	<h2 class="h2-like rouge">Livraison à domicile</h2>
	<p>
		Pour être  au plus proche de vous, votre agence vous propose de livrer votre véhicule ou de venir vous chercher à votre domicile.<br />
		<br />
		Vous serez recontactés pour fixer un rendez-vous et organiser votre location dans les plus bref délais.
	</p>
	<br />
</div>