.box-sizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inblock-middle{display:inline-block; vertical-align:middle;}

.webzine strong{font-weight:700;}

.underline{text-decoration:underline;}

.gris{color:##7f7f7f;}

/* mise en place du gabarit */
.webzine #content .bg-new .header{background:#d71921; width:964px; height:auto; padding:0;}
	.webzine #content .bg-new .header .univers_titre{font-family:'Raleway', Arial; font-size:16px; color:#FFF; font-weight:600; padding:10px 20px; text-transform:uppercase;}
.webzine #content .content{background:#FFF;}
	.webzine #content .bg-new  .content #col{width:264px; background:#FFF;}
	.webzine #content .bg-new  .content #page{width:700px;}

/* menu gauche */
.webzine #content .bg-new  .content #col .menu li{height:auto; margin-bottom:10px;}
	.webzine #content .bg-new  .content #col .menu a{color:#666; cursor:pointer; display:block; font-family:'Raleway', Arial; font-size:14px; font-weight:normal; height:auto; line-height:18px; text-decoration: none; width:auto;}
		.webzine #content .bg-new  .content #col .menu a:hover, .webzine #content .bg-new  .content #col .menu a.current {background:none; color:#d71921; font-weight:bold;}

/* container droit */	

.webzine #content h1{font-family:'Raleway', Arial; font-size:16px; font-weight:600; padding:10px 0; margin-top:5px; border-bottom:2px solid #d71921; display:inline-block;}
.webzine #content h2, .webzine #content h3{font-family:'Raleway', Arial; font-size:13px; font-weight:700; padding:10px 0 0 0; margin:0;}
.webzine #content p, .webzine #content label, .webzine #content span{font-family:'Raleway', Arial; font-size:13px; font-weight:500; padding:10px 0; margin:0;}
	.webzine #content p.bold{font-weight:700;}
.webzine #content ul li{font-family:'Raleway', Arial; font-size:13px; font-weight:500; padding:0; margin:0;}
	.webzine #content ul.tiret{margin-bottom:15px;}
		.webzine #content ul.tiret li{padding-left:10px; margin-top:5px;}

/* BTN */ 

.webzine .btn {display:inline-block; height:25px; line-height:25px; font-family: "Raleway",sans-serif,Arial; padding:2px 10px; text-transform:uppercase; color:#fff; background:#d71921; border-radius:4px; border:none; font-size:12px; font-weight: 500; cursor:pointer;text-align:center;}
