.post-barre .padding10{padding:0 10px;}
.tpl_page{min-height:0px;}
.vignette-top{top:-77px;}

div[aria-labelledby="ui-dialog-title-popin_recherche_agence"] .ui-widget-header {
text-align: center;
background: transparent url(../../../css/img/popin_agence_titre.png) no-repeat 0 0;}

/* memo */
.tpl_page.js-accordion p, .tpl_page.js-accordion ul.circle{margin-bottom:10px;}
.illus-memo{margin:10px 0 -60px 30px;}
	
.memo .ui-widget-content{background:transparent;}
.js-accordion .barre .ui-icon{display:none;}
.js-accordion .ui-state-active, .js-accordion .ui-widget-content .ui-state-active, .js-accordion .ui-accordion-header{border:none !important;}
.js-accordion .ui-accordion-content{padding:0 15px; margin-top:10px;}
	.demenagement.materiel .js-accordion .ui-accordion-content{padding:0;}

.js-accordion .barre{margin-bottom:2px; width:92%; cursor:pointer; background-position:0 -27px;}
	.js-accordion .barre .end{ background:transparent url(../../../css/img/barres.png) no-repeat right -54px; }
		.js-accordion .barre.ui-state-active{ background:transparent url(../../../css/img/barres.png) no-repeat 0 0; }
			.js-accordion .barre.ui-state-active .end{ background-position:right 0;}
			
			
#page{width:617px; padding:25px 6px 0 5px;}
			
/* refonte */
.choix-demenagement{margin-bottom:10px; width:617px; height:161px; background:url(../../../css/img/bg-cadre-demenagement.png)}

.choix-demenagement-carre{padding:10px 5px 0; width:180px; float:left; border:1px solid #ccc\9; border-radius:10px; margin-left:10px; box-shadow:0px 0px 1px 0px #666;}
	.choix-demenagement-carre:first-child{margin:none;}


.dem{padding-top:10px; background-repeat:no-repeat; text-align:center;}
	.dem-studio{background-image:url(../../../css/img/dem-studio.png); background-position:center 55px;}
	.dem-2-3p{background-image:url(../../../css/img/dem-2-3p.png); background-position:center 60px;}
	.dem-plus-grand{background-image:url(../../../css/img/dem-plus-grand.png); background-position:center 73px;}
	.dem h2{margin-bottom:115px;}
		
.choix-demenagement.encart,
.choix-demenagement.encart .top {width:617px; height:auto; padding:10px 0; background:url(../../../css/img/bg-encart-demenagement.png) no-repeat left bottom;}
	.choix-demenagement.encart .top{margin:-15px 0 0; background-position:left top;}
	
.choix-demenagement.encart-fixe{padding:50px 0 0 10px; width:607px; height:111px;}
	.choix-demenagement.encart-fixe img.left{margin-top:-10px;}
	
.post-barre.no-toggle{width:80%; padding:15px 0 15px 20%; margin-top:-10px; background-image:url(../../../css/img/bg-options-resa3.png);}
	
#recherche{background:none;}
	#recherche .informations{padding:0;}
	#recherche .choix-demenagement.encart{margin-bottom:0;}
	#recherche .avantage{padding-right:135px; width:auto;}
	
/* écrasement dimensions */
#calendar #depart, #calendar #retour{width:115px;}
#calendar #h_retour, #calendar #h_depart{width:75px;}
#rech_profil #age, #rech_profil #permis{width:100%}
#rech_profil .sel, #rech_profil .sel#frm_permis{width:148px;}
#rech_profil .sel#frm_permis{margin-left:9px;}
#autocomplete input{width:296px;}
.avantage input{width:143px;}
#recherche hr{background:#ececec !important; color:#ececec !important;}

.visu-absolute{position:absolute; bottom:60px; right:-26px;}

/* index */
.apercu-choisir-camion{}

/* memo */
.choix-demenagement{height:161px;}
	.choix-demenagement .btn{margin-bottom:3px;}
	.tpl_page .choix-demenagement.materiel img.left{margin:0 20px 0 0;}
	.desc-memo{padding:0 20px 0 165px; height:100px; background-position:8px 15px; background-repeat:no-repeat;}
		.un-mois-avant{background-image:url(../../../css/img/un-mois-avant.png);}
		.quinze-jours-avant{background-image:url(../../../css/img/quinze-jours-avant.png);}
		.une-semaine-avant{background-image:url(../../../css/img/une-semaine-avant.png);}
		.jour-j{background-image:url(../../../css/img/jour-j.png);}
.memo .ui-icon{display:none;}
.ui-state-active, .ui-widget-content .ui-state-active{font-weight:normal;}

/* materiel */
.materiel .ui-icon{position:absolute;}
.choix-demenagement.materiel {position:relative; z-index:10;}
	.choix-demenagement.materiel h2{padding-top:25px;}
.materiel .post-barre{border-top:3px solid #9c9c9c; margin:-13px 0 15px; background:url(../../../css/img/bg-options-resa3.png) left bottom;}
.post-barre td{padding:4px 0;}
	.post-barre .last td{border-bottom:none !important;}
	.materiel .post-barre h3{font-size:13px;}
	.materiel .post-barre p{margin:0;}	
		.materiel.choix-demenagement .ui-icon{position:absolute; right:14px; top:8px; width:29px; height:29px; background:url(../../../css/img/options-toggle.png) no-repeat -170px 0;}	
		.materiel.choix-demenagement.ui-state-active .ui-icon{background-position:0 0;}
		
.memo .post-barre{margin-top:-11px;padding:10px 20px; border-top:3px solid #bbb; background:url(../../../css/img/bg-options-resa3.png) no-repeat left bottom !important; display:none;}


/* module de recherche d'une agence */
/* page demenagement */
/* Ajout le 18 05 2015 */
.demenagement #rech_agence{
	margin:0 0 25px;
}
.demenagement #rech_agence h3{
	margin:0;
}
.demenagement #rech_agence .h4,
.demenagement #calendar .h4,
.demenagement #rech_profil .h4,
.demenagement .avantage .h4{
	font-size:21px;
	font-weight:bold;
	margin-bottom:3px;
}
.demenagement #rech_agence label{
	display:none;
	float:none;
	width:100%;
}
.demenagement #rech_agence input{
	width:270px;
}
/* autocomplete */
.demenagement #autocomplete{
	position:relative;
	z-index:1000;
	margin:0 0 8px;
}
.demenagement #autocomplete #tagbox-lkup{
	position:absolute;
	z-index:10000;
	top:21px;
	left:0;
	width:278px;
	background:#FFF;
	border:0 solid #ccc;
	border-width:0 1px 1px 1px;
}
.agences #autocomplete #tagbox-lkup{
	width:251px;
}
.demenagement #autocomplete ol{
	margin:0;
	list-style:none;
}
.demenagement #autocomplete ol li em{
	font:bold 12px Arial;
	color:#C00;
}
.demenagement #autocomplete ol li a{
	display:block;
	padding:4px;
	width:270px;
	text-decoration:none;
	color:#1e1e1e;
	border-top:1px solid #CCC;
}
.demenagement #autocomplete ol li a:hover,
.demenagement #autocomplete ol li.hl{
	background:#CCC;
}
.demenagement #autocomplete input{
	padding:2px 3px 0;
	width:272px;
	height:18px;
}
.demenagement #trouvez_agence{
	font-weight:bold;
	color:#000;
}
.demenagement #trouvez_agence:hover span{
	text-decoration:underline;
}
.demenagement #ville_ok{
	color:#C00;
}
.demenagement #ville_ko{
	display:none;
}
.demenagement #calendar{
	margin:0 0 25px;
}
.demenagement #calendar h4{
	margin:0 0 8px;
}
.demenagement #calendar label{
	width:50px;
}
.demenagement #calendar #depart,
.demenagement #calendar #retour{
	float:left;
	width:70px;
}
.demenagement #calendar div.sel{
	margin:0 0 8px;
	height:25px;
}
.demenagement #calendar div.sel.last{
	margin:0;
	height:25px;
}
.demenagement #calendar .btn_cal{
	float:left;
	margin:2px 10px 0;
}
.demenagement #calendar .duree_a{
	padding:3px 6px 0 0;
}
.demenagement #calendar #h_retour, #calendar #h_depart{
	width:64px;
}
.demenagement #rech_profil{
	margin:0px 0px 20px 0px;
}