<?php /** @var Page */ $x = $this; ?>
<? if ($x->hasMessages()) : ?>
	<? echo Page::showError($x->getMessages(), null, null); ?>
<? endif; ?>
<form action="<?= Page::getURL('resas/login.html', null, true);?>" method="post" class="full-width-form form--login">
	<h2 class="banner-title title-left">Identifiez-vous</h2>
	<label for="login">
		<span class="intitule">Identifiant</span><!--
		--><input type="text" id="login" name="login" value="" />
	</label>
	<label for="password">
		<span class="intitule">Mot de passe</span><!--
		--><input type="password" id="password" name="password" value="" />
	</label>
	<div class="align-center">
		<input type="submit" />
	</div>
</form>
<script type="text/javascript">
// <![CDATA[
	$(document).ready(function(){
		$('#login').focus();
	});
// ]]>
</script>