<?
	/** @var Page_Resas */ $x = $this;
	/** @var Agence */ $agence = $x->getAgence();
	/** @var AgenceResa */ $resa = $x->getData('resa');
	if ($resa) {
		/** @var Reservation */
		$reservation = $resa->getReservation();
	}
	// vérifier que la réservation existe bien
	if (!$resa || !$reservation)
	{
		if ($this->hasMessages())
			$msg = $this->getMessages();
		else
			$msg = "Une erreur s'est produite durant la recherche de votre réservation.";
		echo $x->showError($msg, 'index.html');
		return;
	}
?>

<?php
	// résumé de la réservation
	echo $reservation->toHtml('resas-recapitulatif', array('page' => $page));
?>
<h2 class="h2-like simple red">Options - <?=$resa->getOperationLabel();?></h2>
<div class="container--options matos-demenagement">
<?
	echo $reservation->toHtml
		(
		'resultat-options',
		 array(
			'forfait' => $reservation->getForfait(),
			'formAction' => 'inscription.html',
			 'page' => $this->getAction(),
			'track_page' => $this->getTrackPage()
		)
	);
	$this->setTrackInfo('pr_vu', Tracking_SmartProfile::getPRVU($reservation, $this->getId()));
?>
</div>
