<?php
	/** @var Page_Resas */ $x = $this;
	/** @var Reservation */ $reservation = $x->getData('reservation');
	// verifier que la reservation existe bien
	if (!$reservation)
	{
		if ($this->hasMessages())
			$msg = $this->getMessages();
		else
			$msg = "Une erreur s'est produite durant la recherche de votre reservation.";
		echo $x->showError($msg, 'index.html');
		return;
	}
	/** @var Agence */ $agence = $reservation->getAgence();
	/** @var Client */ $client = $reservation->getClient();
?>
<img src="../css/img/logo_ada.jpg" alt="" class="logo-print" />
<h1 class="h2-like simple red">R&eacute;capitulatif de la r&eacute;servation - <?=AgenceResa::$OPERATION_LABEL['PREPA'];?></h1>
	<div class="clear"></div>
	<br />
	<? if ($reservation['statut']=='P') : ?>
	<div class="align-center">

		<div class="info">
			<p class="tick">
				<? if ($x->hasMessages()) : ?>
				<strong><? echo $x->getMessages();?></strong>
				<? endif; ?>
				<strong>R&eacute;servation n°<span class="rouge"><?=$reservation->getResIDClient()?></span></strong><br />
			</p>
			<div class="center">
				<a href="index.html" class="btn light-grey">Faire une nouvelle<br /><span class="h4-like">Réservation</span></a>
			</div>
			<br/>
			<br/>
		</div>
	</div>
	<? endif; ?>
<!-- Agence -->
<div class="fieldset--type-block size-33">
	<h2 class="h2-like simple"><strong>Agence</strong></h2>
	<? echo $agence['nom']; ?><br/>
	<? echo $agence->getHtmlAddress(); ?>
</div>
<!-- Conducteur -->
<div class="fieldset--type-block size-33">
	<h2 class="h2-like simple"><strong>Conducteur</strong></h2>
	<?php echo sprintf('%s %s %s', $client['titre'], $client['prenom'], $client['nom']);?><br/>
	<?php echo $client['email'];?><br/>
	<?php echo ($client['gsm'] ? $client['gsm']."<br/>" :"" ); ?>
	<?php echo $client['tel'];?><br/>
	<?php echo $client['cp'].' '.$client['ville']; ?>
</div>
<!-- vehicule -->
<div class="fieldset--type-block size-33">
	<h2 class="h2-like simple"><strong>V&eacute;hicule</strong></h2>
	<?php echo $reservation->getCategorie();?><br />
	<? if (preg_match('/^([^_]+)_(.+)$/', $reservation->getResInfo()->getData('unipro_vehicule'), $m)) : // vehicule ?>
	<span class="small"><? echo str_replace(' ', '&nbsp;', $m[2]); ?></span><br/>
	<? endif; ?>
	<?php echo $reservation->getKm(true); ?><br/>
	<br />
	Du <?php echo $reservation->getDebut(); ?><br/>
	au <?php echo $reservation->getFin(); ?><br/>
	<table class="tarifs-forfait">
		<tr>
			<td>- Forfait location</td>
			<td><span class="prix"><?php echo show_money($reservation->getPrixForfait());?> &#8364;</span></td>
		</tr>
		<? if ($reservation['surcharge'] > 0) : ?>
		<tr>
			<td>- <? echo $agence()->getSurchargeLabel();?></td>
			<td><span class="prix"><?php echo show_money($reservation['surcharge']);?> &#8364;</span></td>
		</tr>
		<? endif; ?>
	</table>
</div>
<!-- options -->
<div class="fieldset--type-block size-100 recap-options">
	<div class="fake-sep tier-1"></div>
	<div class="fake-sep tier-2"></div>
	<?php
	$date_retrait = null;
	$theme = '';
	foreach($reservation->getResOptions() as $k => /** @var ResOption */ $option)
	{
		if (!$date_retrait && $option['retrait'])
			$date_retrait = $option['retrait'];
		// changer de table a chaque theme
		if ($theme != $option['theme']) {
			if ($theme)
				echo '</table></div>'."\n";
			echo '<div class="fieldset-options"><table>'."\n";;
			$theme = $option['theme'];
			echo '<caption class="h2-like simple align-left">'.$option['theme_nom'].'</caption>';
		}
		echo '<tr>';
		// l'option sait se transforemre en string
		echo '<td>'.$option.'</td>';
		echo '<td class="align-right">';
		if ($option['prix']) {
			echo '<strong class="red">'.$option->getPrix().'</strong>';
		} else {
			echo $option->getPrix();
		}
		echo '</td>';
		echo '</tr>'."\n";
	}
	if ($theme)
		echo '</table></div>';
	if ($date_retrait) {
		echo '<p class="date-retrait">Mat&eacute;riel &agrave; retirer avant le '.Util_Format::dateFR('l d F Y', strtotime($date_retrait)).'</p>';
	}
?>
	</div>
	<div class="clear"></div>

	<!-- code grillable -->
	<? if ($reservation['statut'] == 'V') : ?>
	<form name="frm_grillable" id="frm_grillable" action="<?=Page::getURL('resas/paiement.html', null, USE_HTTPS)?>?reservation=<?=$reservation->getId()?>" method="post">
		<input type="hidden" name="frm_grillable" value="1"/>
		<? /** @var PromotionCode */  $code = $this->getData('grillable'); ?>
		<fieldset class="_option_theme theme_avec_prix">
			<legend>
				<label for="grillable"><strong>Vous avez un code de r&eacute;duction ?</strong></label>
				<? if (!$code) : ?>
				<span class="theme_span_prix" id="span_grillable">
					<input type="text" size="20" maxlength="20" id="grillable" name="grillable" value="<?=filter_var($_POST['grillable'], FILTER_SANITIZE_STRING)?>" class="required"/>
					<span class="valid"><input type="submit" value="validez" id="btn_grillable" /></span>
				</span>
				<? endif; ?>
				<div class="clear"></div>
			</legend>
			<table border="0" cellpadding="0" cellspacing="0" id="grillable_is_valid" style="display: <?=($code ? 'block' : 'none');?>;">
				<colgroup><col width="434"/><col width="50"/></colgroup>
				<tr class="res_opt_detail">
					<td><span id="grillable_code"><? if ($code) echo $code->toString()?></span></td>
					<td><span id="grillable_reduction" class="grillable_reduction">-<?=show_money($code['reduction_max'] ? $code['reduction_max'] : $code['reduction'])?>&#8364;</span></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" id="grillable_is_invalid" style="display: <?=($this->hasData('msg_grillable') ? 'block' : 'none');?>;">
			<tr>
				<td><span id="grillable_error" class="error" style="font-weight: bold; color: red;"><?=$this->getData('msg_grillable');?></span></td>
			</tr>
			</table>
		</fieldset>
	</form>
	<? endif; ?>
	<div class="align-center">
		<div class="offre_total" style="text-align:center;">
			<p>
				<span class="total">Total TTC</span>
				<span class="prix_total" id="prix_total" data-var="<?=$reservation->getPrixTotal()-round($code['reduction_max']-$code['reduction'],2);?>"><?=show_money($reservation->getPrixTotal());?></span>
				<span class="euro">&#8364;</span>
				<span class="end"></span>
			</p>
		</div>
		<br />
		<br />
	</div>
<? if ($reservation['statut'] == 'V') : ?>
	<? if ($x->hasMessages()) : ?>
		<div class="error error-paiement">
			<? echo $x->getMessages(); ?>
		</div>
	<? endif; ?>
	<form action="<?=Page::getURL(dirname($this->getId()).'/validation.html', null, true);?>" method="post" id="frm_paiement">
		<input type="hidden" name="reservation" value="<?=$reservation->getId()?>" />
		<input type="hidden" name="mode" value="PB"/>
		<fieldset id="table_mentions" class="option_theme">
			<legend class="h2-like simple no-picto"><strong>Conditions g&eacute;n&eacute;rales</strong></legend>
				<label for="cg2" class="chk">
					<input type="checkbox" name="cgv[]" id="cg2" value="cgv" class="required"/>
					<span class="intitule">J'ai pris connaissance et j'accepte les conditions g&eacute;n&eacute;rales de location ainsi que les  conditions d'annulation et<br />de r&eacute;servation sur internet. <a href="../conditions/internet.html" target="_blank" class="red">(voir les conditions)</a></span>
				</label>
				<? if ($reservation->getResOptions()->hasFacturation('COURTAGE')) : ?>
				<br />
				<br />
				<label for="cgrf2" class="chk">
					<input type="checkbox" name="cgv[]" id="cgrf2" value="franchise"  class="required"/>
					<span class="intitule">J'ai pris connaissance et j'accepte les conditions g&eacute;n&eacute;rales de l'assurance Remboursement de franchise.<br /><a href="../doc/cga_remboursement_de_franchise_avril_2014.pdf" target="_blank" class="red">(voir les conditions)</a></span>
				</label>
				<? endif; ?>
				<? if ($reservation->getResOptions()->hasFacturation('MATERIEL')) : ?>
				<br />
				<br />
				<label for="cg_materiel" class="chk">
					<input type="checkbox" name="cgv[]" id="cg_materiel" value="materiel" class="required"/>
					<span class="intitule">J'ai pris connaissance et j'accepte les conditions g&eacute;n&eacute;rales de vente de mat&eacute;riel de d&eacute;m&egrave;nagement ainsi que les conditions d'annulation sur internet.<br /><a href="../conditions/internet.html#conditions-materiel" target="_blank" class="red">(voir les conditions)</a></span>
				</label>
				<? endif; ?>
				<? if ($reservation->getResOptions()->hasOption('cj'.strtolower($reservation['type']))): ?>
				<label for="cg_cj" class="max-width">
					<input type="checkbox" name="cgv[]" id="cg_cj" value="cj"/>
					<span class="intitule">Je certifie sur l'honneur que le 2<sup>&#176;me</sup> conducteur a entre 18 et 25 ans et est d&eacute;tenteur de son permis de conduire définitif.</span>
				</label>
				<? endif; ?>
				<label for="cgv[]" class="error" generated="true"></label>
		</fieldset>
		<br />
		<fieldset class="type-resas type-3-col">
			<legend class="h2-like simple no-picto"><strong>Paiement par carte</strong></legend>
			<label for="numcarte">
				<span class="intitule">Num&eacute;ro de carte* :</span>
				<input name="numcarte" id="numcarte" value="" type="text" maxlength="16" autocomplete="off" class="required digits creditcard" />
			</label>

			<p class="like-label">
				<label id="frm_validite" style="width:auto;">
					<span class="intitule">Date de fin de validit&eacute;* :</span><br />
				</label><br />
				<?
					selectarray("mois", $MOIS, '', '-- mois --', 'style="width: 90px;" class="required"');
					for ($y=date("Y"), $i=0; $i < 6; $i++,$y++)
						$an[$y] = $y;
					selectarray("an", $an, '', '-- ann&eacute;e --', 'style="width: 80px;" class="required"')
				?>
			</p>
			<label for="cvv" id="frm_cvv">
				<span class="intitule">Cryptogramme visuel* :</span>
				<input type="text" value="" id="cvv" name="cvv" maxlength="3" autocomplete="off" class="required digits"/><br />
				<em>(3 derniers chiffres au dos de votre carte)</em>
			</label>

			<p class="valid align-right">
				<input type="submit" value="validez" onclick="return setMode(this.form, 'PB');"/>
			</p>
			<em>
				(* informations obligatoires)
				<br /><span class="rouge">Attention les cartes Maestro et Electron ne sont pas accept&eacute;es et aucun remboursement ne sera effectu&eacute;.</span>
			</em>
		</fieldset>
	</form>
	<script type="text/javascript">
	//<![CDATA[
		// updateTotal : mettre à jour le total
		function updateTotal(montant)
		{
			// calculer le total
			var $elt = $('#prix_total');
			// nouveau total en evitant les erreurs d'arrondis
			var total = (Math.round((parseFloat($elt.attr('data-var')) + montant)*100)/100);
			$elt.attr('data-var', total);
			// le prix affiche ne peut pas etre negatif
			// mais on garde la valeur negative dans l'attribut au cas ou une option serait choisie...
			if (total < 0)
				total = 0;
			$elt.html(total.toString().replace('.', ',').replace(/\,(\d)$/,',$10'));
		}
		// gestion des formulaires
		$(document).ready(function() {
			// valider le formulaire de paiement
			$("#frm_paiement").validate({
				"rules": {
					"numcarte" : {
						"minlength": 16
					},
					"cvv" : {
						"minlength": 3
					}
				},
				"messages": {
					"numcarte" : "Le num&eacute;ro de carte n'est pas valide",
					"cvv" : "Le cryptogramme n'est pas correct",
					"an" : "Veuillez indiquer l'ann&eacute;e d'expiration",
					"mois" : "Veuillez indiquer le mois d'expiration",
					"cgv[]" : "Veuillez accepter les Conditions G&eacute;n&eacute;rales"
				}
			});
			// formulaire code grillable
			$("#frm_grillable").submit(function()
			{
				var v = $.trim(this.grillable.value);
				if (!v) return;
				$.post(this.action, $(this).serialize(), function(data)
				{
					if (data.grillable_error)
					{
						$("#grillable_is_valid").hide();
						$("#grillable_error").html(data.grillable_error);
						$("#grillable_is_invalid").show();
					}
					else
					{
						$("#grillable_is_invalid").hide();
						$("#grillable_error").html('');
						$("#grillable_code").html(data.grillable_code);
						$("#grillable_reduction").html("-" + data.grillable_reduction_max + "&#8364;");
						updateTotal((-1) * parseFloat(data.grillable_reduction_max));
						$("#grillable_is_valid").show();
						$("#span_grillable").hide();
					}
				}, 'json');
				return false;
			});
		});
	// ]]>
	</script>
<? endif; ?>