.contact h1, .contact h2, .contact h3{font-family:'Raleway', Arial;}
.contact h1{font-size:19px; margin:10px 0;}
.contact h2, .contact h3{font-size:18px; color:#7f7f7f;}

.contact #page p, .contact #page label, .contact #page select, .contact #page input, .contact #page textarea{font-family:'Raleway', Arial; font-size:14px;}

.contact #page label, .contact #page select, .contact #page input, .contact #page textarea{display:inline-block; vertical-align:middle; float:none;}
.contact #page input{padding:0 5px;}
.contact #page select{height:36px; margin:0 5px; width:270px;}
.contact #page textarea{margin:0 5px; width:260px;}

.contact p.valid{margin-left:205px;}
	.contact .btn{background:#d71921; width:auto; height:30px; line-height:20px; font-family:'Raleway', Arial; font-size:18px; color:#fff; font-weight:600; text-transform:uppercase; text-align:center; margin:0; padding:0; border-radius:4px; padding: 5px 25px;}
	
	/*satisfaction*/
.contact .theme{max-width:730px;}
table.questions-groupe{ margin:0 0 30px; padding:10px; background:#f9f9f9; border-radius:4px;}
		.contact #page table.questions-groupe tr th, .contact #page table.questions-groupe tr td{font-weight:500; padding:6px 0; border-bottom:1px solid #CCC;}
	table.questions-groupe th{ width:170px; text-align:left; color:#333;}
	table.questions-groupe td{width:140px; text-align:center; color:#999;}
ul.question{margin:0 0 30px; padding:10px; background:#f9f9f9; overflow:hidden;}
ul.question+ul.question{margin-top:-40px; }
ul.question+ul.question li.libelle{padding:10px 0 0; }
	#page ul.question li.libelle{color:#333; font-weight:bold; margin:0 0 6px;}
	ul.question .item{float:left; width:209px; }
	ul.question input[type="radio"]{float:left; margin:0 4px 0 0; vertical-align:middle; }
	ul.question label{width:190px; height:auto; font-weight:normal; line-height:13px;}
	form.questionnaire input[type="submit"]{float:right;}
	table.questions-groupe .question.error th, ul.question.error label{color:#ff0000; font-weight:bold;}
	#questionnaire-1 .question-14 li.libelle, #questionnaire-1 .question-14 li.item, #questionnaire-1 .question-15 li.libelle, #questionnaire-1 .question-15 li.item{display:inline-block; vertical-align:middle; float:none;}
	.contact.satisfaction #page p.valid{margin-left:660px;}