<div class="tpl_page simple">
	<h1>Nous contacter</h1>
	<br/>
	<h2>Service Consommateurs</h2>
	<p>
		ADA<br />
		Service Consommateurs<br />
		22-28  rue Henri Barbusse<br />
		92585 CLICHY CEDEX<br /><br />
		E-mail : <a href="mailto:serviceclient@ada.fr" class="rouge" target="_blank">serviceclient@ada.fr</a>
	</p>
</div>