/* CSS GLOBAL */
.inblock{display:inline-block; vertical-align:middle;}

.demenagement .col40{width:38%;}
.demenagement .col60{width:60%;}
.demenagement .col40, .demenagement .col60{float:left;}

.align-right{text-align:right;}
	label.align-right{padding-right:16px;}

.demenagement h1, .demenagement h2, .demenagement h3, .demenagement p{font-family:'Raleway', Arial; color:#000;}
.demenagement h1{font-size:18px;	font-weight:600;}
.demenagement h2{font-size:20px;	font-weight:600;}
	.demenagement.index #page h2{margin-top:15px;}
.demenagement h3{font-size:15px;	font-weight:600;}
.demenagement p{font-size:1.1em; line-height:1.3em;}

.demenagement p.rouge{color:#d71921;}

.demenagement .type-title-grey{margin-bottom:20px; font-size:17px; font-weight:500; color:#222;}
	.demenagement .type-title-grey + hr{display:none;}
.demenagement .agglos_liste a {font-size:13px; color:#222 !important; font-family:'Raleway', sans-serif;}

.demenagement .btn{background:#d71921; width:190px; height:45px; line-height:45px; font-family:'Raleway', Arial; font-size:18px; color:#fff; font-weight:600; text-transform:uppercase; text-align:center; margin:0; padding:0; border-radius:4px;}
	.demenagement .btn{width:170px;}

.demenagement .intro{border:1px solid #efefef; 	border-radius:5px; padding:20px;}
	.demenagement .intro p{padding:0px;	margin:0px;}
		.demenagement .intro p.inblock{width:70%; margin-left:5%;}

.demenagement .choix-demenagement.encart{background:#efefef; width:100%; height:auto; margin:20px 0;}
	.demenagement .choix-demenagement.encart.trigger--toggle--block{cursor:pointer;}

.post-barre.no-toggle{padding:10px 20px; border:1px solid #bbb;}
	.post-barre .padding10{padding:0 10px;}
.tpl_page{min-height:0px;}
.vignette-top{top:-77px;}

/* ENCART POUR TOUTES LES RUBRIQUES */
.demenagement .choix-demenagement.encart{display:table; padding:20px; min-height:140px;}
.demenagement .choix-demenagement.encart.pad{padding:25px 20px;}
	.demenagement .choix-demenagement.encart div{display:table-cell; vertical-align:middle;}
		.demenagement .choix-demenagement.encart .visuel{width:28%;}
			.demenagement .choix-demenagement.encart .visuel.large{width:60%;}
			.demenagement .choix-demenagement.encart .visuel img{display:inline-block; vertical-align:bottom;}
		.demenagement .choix-demenagement.encart .desc{width:48%;}
			.demenagement .choix-demenagement.encart .desc.petit{width:40%;}
		.demenagement .choix-demenagement.encart .plus{width:24%;}
		
/* MEMO */
.memo .post-barre{margin:-3px 0px 0px 0px; padding:10px 20px; border:1px solid #bbb; display:none;}

/* MATERIEL */
.choix-demenagement.materiel{position:relative; z-index:10;}
	.choix-demenagement.materiel h2{padding-top:25px;}
.materiel .post-barre{border:1px solid #bbb;}
	.post-barre td{padding:10px 0;}
		.post-barre .last td{border-bottom:none !important;}
			.materiel .post-barre p{margin:0;}
		
/* CHOISIR SON UTILITAIRE */
.demenagement .choix-demenagement.encart .options li{background:url(../img/sprite-picto-resultat.png) no-repeat 0 0; padding-left:25px;}
.demenagement .choix-demenagement.encart .options .places{background-position:0 -45px;}
.demenagement .choix-demenagement.encart .options .charge{background-position: 0 -250px;}
.demenagement .choix-demenagement.encart .options .diesel{background-position: 0 -200px;}
.demenagement .choix-demenagement.encart .options .dimensions{background-position: 0 -99px;}

/* module de recherche d'une agence */
.demenagement .post-barre.no-toggle a span.rouge{max-width:64%; font-size:13px; color:#d71921; font-weight:600; display:block; margin-top:-5px;}
.demenagement #rech_agence label{font-family:'Raleway', Arial; width:100%; display:inline-block; font-weight:600; font-size:14px; color:#000;	float:none;}
/* autocomplete */
.demenagement #autocomplete{position:relative; z-index:100;}
	.demenagement #autocomplete input{font-family:'Raleway', Arial; height:40px; padding:0 5px; display:block; width:62%; margin:5px 0;}
	.demenagement #autocomplete #tagbox-lkup{display:none; position:absolute; width:64%; top:40px; left:0;}
	.demenagement #autocomplete ol{margin:0;	list-style:none;}
		.demenagement #autocomplete ol li{margin:0; font-family:Arial;}
				.demenagement #autocomplete ol li a{display:block; width:96%; padding:2%; text-decoration:none; border-top:1px solid #CCC; margin:0;}
					.demenagement #autocomplete ol li a:hover, .demenagement #autocomplete ol li.hl{background:#CCC;}
	.demenagement #ville_ko{	display:none; width:auto;}
	.demenagement form#recherche p.valid input.btn.right{margin-top:40px;}

.demenagement .sel{overflow:hidden; margin:15px 0;}
	.sel label, .sel input, .sel select, .sel .btn_cal{display:inline-block; vertical-align:middle; float:none; font-family:'Raleway', Arial; font-size:14px; font-weight:500;}
	.sel .col60 label{width:25%;}
	.sel .col40 label{width:15%;}
	.sel .col60 input{width:45%; height:40px; padding:0 10px;}
	.sel .col40 select{width:58%; height:40px; padding:0 6px;}

/* POPIN DE RECHERCHE AGENCE */
#popin_recherche_agence #form_recherche_agence{background:#FFF; height:auto; margin-bottom:10px;}
	#popin_recherche_agence #form_recherche_agence p{width:auto;}
#popin_recherche_agence #form_recherche_agence label{font-family:'Raleway', Arial; font-size:13px; font-weight:500; padding:10px 0; margin:0;}
#popin_recherche_agence #form_recherche_agence input{font-family:'Raleway',Arial; width:256px; height:36px; margin:0; padding:0 5px; border:1px solid #dcdcdc; border-radius:3px; float:none;}

#popin_recherche_agence #form_recherche_agence p.valid{position:absolute; right:315px; top:45px;}
	#popin_recherche_agence #form_recherche_agence p.valid input, #popin_recherche_agence #results_recherche_agence a.btn{background:#d71921; width:auto; height:25px; line-height:14px; font-family:'Raleway', Arial; font-size:13px; color:#fff; font-weight:600; text-transform:uppercase; text-align:center; margin:0; padding:5px 25px; border-radius:4px; border:none;}
	#popin_recherche_agence #results_recherche_agence #liste_recherche_agence{background:#FFF;}
		#popin_recherche_agence #results_recherche_agence #liste_recherche_agence p{font-size:11px; font-weight:500; margin:5px 0;}
			#popin_recherche_agence #results_recherche_agence #liste_recherche_agence p a.lien_agence{font-size:12px; font-weight:600;}
			#popin_recherche_agence #results_recherche_agence #liste_recherche_agence a.btn{margin:5px 0;}
				#popin_recherche_agence #results_recherche_agence #liste_recherche_agence a.btn span.end{display:none;}