.presse.index{}
	/*temp*/
	#footer .links li{ float:left; margin-right:20px; line-height:79px; }
	/*/temp*/
	.presse.index table{ margin:0 0 30px; }
	.presse.index table tr td{ border:0; }
	.presse.index #page li.art_presse{ margin:0 0 10px; overflow:hidden; border-bottom:1px solid #BFBFBF; }
	.presse.index .art_presse strong{ display:block; float:left; padding:0 30px 0 10px; }
	.presse.index .art_presse p{ float:left; margin:0 0 12px; width:450px; }