<div class="encart-meteo box-sizing">
	<p class="ville">LUCCIANA</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/04d.png'>
		<span class="inblock">17 &#176;C</span>
		<span class="desc inblock"> Couvert</span>
	</p>
	<p class="date">5/11/2015</p>
</div>
