<div class="encart-meteo box-sizing">
	<p class="ville">AIX EN PROVENCE</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/03d.png'>
		<span class="inblock">3 &#176;C</span>
		<span class="desc inblock"> partiellement ensoleillé</span>
	</p>
	<p class="date">21/01/2016</p>
</div>
