<div class="encart-meteo box-sizing">
	<p class="ville">BEAUNE</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/01d.png'>
		<span class="inblock">11 &#176;C</span>
		<span class="desc inblock"> ensoleillé</span>
	</p>
	<p class="date">5/11/2015</p>
</div>
