<div class="encart-meteo box-sizing">
	<p class="ville">RENNES</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/04d.png'>
		<span class="inblock">2 &#176;C</span>
		<span class="desc inblock"> Couvert</span>
	</p>
	<p class="date">19/01/2016</p>
</div>
