<div class="encart-meteo box-sizing">
	<p class="ville">POUGNY</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/01d.png'>
		<span class="inblock">7 &#176;C</span>
		<span class="desc inblock"> ensoleillé</span>
	</p>
	<p class="date">29/02/2016</p>
</div>
