<div class="encart-meteo box-sizing">
	<p class="ville">PARIS</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/02d.png'>
		<span class="inblock">12 &#176;C</span>
		<span class="desc inblock"> peu nuageux</span>
	</p>
	<p class="date">12/11/2015</p>
</div>
