<div class="encart-meteo box-sizing">
	<p class="ville">PARIS</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/01d.png'>
		<span class="inblock">10 &#176;C</span>
		<span class="desc inblock"> ensoleillé</span>
	</p>
	<p class="date">1/03/2016</p>
</div>
