<div class="encart-meteo box-sizing">
	<p class="ville">PARIS</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/04d.png'>
		<span class="inblock">8 &#176;C</span>
		<span class="desc inblock"> Couvert</span>
	</p>
	<p class="date">14/03/2016</p>
</div>
