<div class="encart-meteo box-sizing">
	<p class="ville">SAINT DENIS LES SENS</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/01d.png'>
		<span class="inblock">4 &#176;C</span>
		<span class="desc inblock"> ensoleillé</span>
	</p>
	<p class="date">15/03/2016</p>
</div>
