<div class="encart-meteo box-sizing">
	<p class="ville">SAINT MAUR</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/09d.png'>
		<span class="inblock">7 &#176;C</span>
		<span class="desc inblock"> petites averses</span>
	</p>
	<p class="date">11/01/2016</p>
</div>
