<div class="encart-meteo box-sizing">
	<p class="ville">BAILLIF</p>
	<p class="temps">
		<img class="inblock" src='../img/meteo/03n.png'>
		<span class="inblock">27 &#176;C</span>
		<span class="desc inblock"> partiellement ensoleillé</span>
	</p>
	<p class="date">5/11/2015</p>
</div>
