<?
	/** @var Client obtenir le client depuis Page_Client */
	$client = $this->getClient();
	$compteurReservation = 0;
?>
<div class="tpl_page">

	<div class="espace-client box-sizing">
		<p>
			<?=$client->getHtmlAddress();?>
		</p>
		<a href="../client/profil.html" class="btn">Modifiez votre compte client</a>
	</div>

	<div class="page-espace-client">
		<h1 class="block-rouge">Vos réservations</h1>
	<?
		foreach($client->getReservations(date('Y-m-d',strtotime('-2 year'))) as /** @var Reservation */ $reservation)
		{
			// on augmente le compteur
			echo $reservation->toHtml('v3-client-compte', array('compteurReservation' => ++$compteurReservation));
			echo '<div class="clear"></div>';
		}
	?>
	</div>
	
</div>