<div class="col-espace-client">
	<div class="fond-h1">
		<?=hn(1, "Ada vous informe", "ffffff", 14);?>
	</div>
</div>
<div class="tpl_page page-espace-client">
	<p><strong><?=$this->getMessages();?></strong></p>
	<a href="../client/compte.html" class="btn right">Accueil espace client</a>
</div>