
#content{padding:25px 0; width:1000px; font-family: Raleway, sans-serif; font-size: 14px;}
	.content_bottom{display: none;}

.breadcrumb{margin-bottom: 10px; font-size: 13px;}
	.breadcrumb li{display: inline-block; margin-right: 5px;}
		.breadcrumb li:before{content:'>'; display:inline-block; margin-right: 5px;}
			.breadcrumb li:first-child:before{content: none;}

.inblock{display:inline-block;}
	.valign-top{vertical-align: top;}
	.valign-baseline{vertical-align: baseline;}
	.valign-middle{vertical-align: middle;}

.relative{position:relative;}

.reset-context{overflow:hidden;}
.margin-right{margin-right:20px;}

.red{color:#d71921;}

.col-40, 
.col-60,
.col-1-2,
.col-1-3, 
.col-2-3{float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.col-40{width:40%;}
		.col-40.margin-right{margin-right:2%; width:38%;}
	.col-60{width:60%;}
	.col-60.margin-left{margin-left:2%; width:58%;}
	.select-inline .col-1-2{width:50%; padding:0;}
	.col-1-3{width:33.3333%;}
	.col-2-3{width:66.6666%;}

	.with-padding{margin:0 -15px;}
		.with-padding [class*="col-"]{padding:0 15px;}

		.block-agence .clearfix.with-padding{margin:0 -20px;}

.hn{background:none !important; text-indent: 0;}
	h1.hn{margin-bottom: 20px;font-size: 26px; font-weight: bold; font-family:Raleway, sans-serif;}

.hn-like{font-family: Raleway, sans-serif; font-weight: 500;}
	.h2-like{margin-bottom: 25px;font-size:20px; font-weight: 600;}
		.h2-like,.h3-like.small{margin-bottom: 20px;font-size:15px; font-weight: 500;}
	.h3-like, 
	.agglos_block .type-title-grey{margin-bottom: 20px;font-size:17px; font-weight: 500;}
		.h3-like.underline{padding-bottom: 5px; margin-bottom: 10px;text-decoration:none; border-bottom:1px solid #000;}
	.type-bar{padding:15px 20px; background:#d71921; color:#fff; font-size:18px; font-weight: bold; text-transform: uppercase;}
		.type-bar.smaller{padding:10px 20px; text-transform: none;}

.hn-like .note-etoiles{margin:0 0 3px 10px;}
.round-box.large-padding-sides p{font-family: Raleway, sans-serif; font-size: 18px;}

.agence-distance.bar-inside{padding:5px 15px; margin:-20px 0 10px; background:#939393; color:#fff; font-size:15px;}

.round-box{padding:20px; margin-bottom: 20px; border-radius:10px;  border:1px solid #ccc;}
	.large-padding-sides{padding:0 65px; border:1px solid #fff;}
		.round-box.large-padding-sides{border-color:#ccc;}
	.grey-background{background: #ecebeb;}
.grey-box{padding:60px 45px 20px; margin-bottom: 15px; min-height:145px; background:#ecebeb;}
.pale-grey-box{padding:20px 15px; background:#f5f5f5;}

.shadow-box{padding:20px; margin-bottom: 30px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);}
	.type-page-agence.shadow-box{margin-bottom: 15px;}

.border-box{padding:30px 40px; margin-bottom: 15px; border:2px solid #f6f6f6;}	

.btn-geoloc{display:inline-block; margin-left: 15px; color:#d71921; font-size: 12px;}
	.btn-geoloc:after{content:url(../img/minipin-geoloc.png); display: inline-block; vertical-align: middle; margin-left: 5px;}

.semi-bold{font-weight:600;}

.hr{margin:25px 0; height:1px; background:#ccc;}
	.large-padding-sides .hr{margin:25px -50px;}

label,
input[type="text"]{margin:0; width:auto; float:none; display: inline-block; vertical-align: baseline; font-family: inherit; font-weight: 500; font-size: 14px;}
input[type="text"]{height:40px; padding-left:10px; padding-right: 10px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
select{height:40px; padding-left:7px; padding-right:7px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
	.form-inline input[type="text"]{padding:0 5px;}
	.form-inline .inblock{padding:0 5px 0 0;}

#calendar input[type="text"]{background-image:url(../img/icon-calendar.png); background-repeat: no-repeat; background-position: 93% center;}

.radio-custom{position:absolute; top:0; right:50%; z-index:-1;}
.radio-custom + label{position:relative; background:#fff;}
	.radio-custom + label:before{content:''; display:inline-block; vertical-align:baseline; margin:1px 5px -2px 0; width:11px; height:11px; background: #f5f5f5; z-index:2; border-radius:50%; border:1px solid #dfdfdf; transition:0.5s;}
		.radio-custom:checked + label:before{background: #d71921; border-color: #d71921;}

.form-note{margin-bottom:10px; font-size:12px; color:#666;}	

.form-group{margin-bottom:10px;}

	#autocomplete{position:relative; margin:0 15px;}
		#autocomplete #tagbox-lkup{top:100%; border:none;}
		#autocomplete ol{border: none;}
			#autocomplete ol li{border: 1px solid #ccc; border-bottom: none;}
				#autocomplete ol li:last-child{border-bottom:1px solid #ccc;}
				#autocomplete ol li a,
				#autocomplete ol li em{width: auto; font-family: arial, sans-serif; font-size:13px; border:none;}

#frm_agence #ville{width:220px;}


.form-mixed{}
	.select-mixed label{width:100%;}
	.select-mixed select,
	.select-mixed input{display:block; width:62%; margin:0 auto;}
		.select-inline label{width:30%;}
			.select-inline label.align-right{padding-right:16px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
		.select-inline select{width:66%;} 
		.select-inline input{width:65%;}
	.submit-mixed{padding-top: 10px;}
		.submit-mixed .link-return{display:inline-block; margin-top:10px;text-decoration:underline;}

	.btn-default{display:inline-block; padding:0 20px; height:36px; color:#fff; font-size: 13px; text-transform: uppercase; background: #d71921; border:none; font-family: Raleway, sans-serif; line-height:36px; font-weight: 500; border-radius: 4px; cursor:pointer; transition:background 0.5s;}
		.btn-default:hover,
		.btn-default:focus{background:#d93f45; color:#fff; text-decoration:none;}
		.btn-default.grey{margin-top: 20px;height:30px; line-height:30px; background: #666; font-size:14px;}
			.btn-default.grey:hover,
			.btn-default.grey:focus{background:#9a9a9a;}

		.btn-default.big{font-size:20px;}

.type-page-agence .form-mixed label,
.type-page-agence .form-mixed select{display:inline-block; width:auto}
	.type-page-agence .form-mixed label{margin-right:10px;}
.type-page-agence .select-inline{width:71.5%;}
.type-page-agence .link-return{display: none;}
.type-page-agence .submit-mixed{float:right; padding:0; margin-top: -46px;}
.type-page-agence .form-inline.align-center{text-align:left;}


.flash-map{display:block; margin: 0 auto 25px;}
.type--table.fullwidth{width: 100%;}
.autres-destinations-internationales{margin-bottom:25px;}
	.autres-destinations-internationales .type--table-cell{padding-right: 40px;}
		.autres-destinations-internationales .type--table-cell:last-child{padding-right: 0;}
.table-center{margin: 0 auto;}

#menu_dept{margin-bottom: 25px;}
	#menu_dept a{display:block; padding:0 5px; font-size:20px; font-weight:500; color:#d71921;}
.departements .dept{-moz-column-count:3; -webkit-column-count:3; column-count:3; -moz-column-width:33.3333%; -webkit-column-width:33.3333%; column-width:33.3333%;}
	.departements .dept a{color:#222;}

.agglos_block{margin:0;}
	.agglos_block .type-title-grey{font-family: Raleway, sans-serif; color:#222;}
		.agglos_block .type-title-grey + hr{display:none;}
		.agglos_block .agglos_liste a{font-size:15px; color:#222 !important; font-family: Raleway, sans-serif;}

.block-liste-agences{padding:0 100px 45px; margin-bottom: 30px; background:#f5f5f5;}
	.block-liste-agences .type-bar{margin:0 -100px 15px;}

	.block-agence{padding:20px; margin-bottom: 15px; background:#fff;}
		.block-agence .hn-like{margin-bottom: 10px; font-weight:600;}
		.container-icons{padding-top:4px; min-height:50px;}
			.container-icons img{vertical-align: middle;}

.note-etoiles,
.etoiles-inner{display: inline-block; width: 81px; height: 17px; vertical-align: middle; background: url("../img/sprite-notation.png") 0 0 no-repeat;}
	.etoiles-inner{background-position:0 -17px;}
	.note-etoiles{margin-right: 5px;}

.agences .block-intro h2{font-family:'Raleway', Arial; font-size:13px; font-weight:700; border-bottom:1px solid #000; margin:10px 0; padding-bottom:5px;}
.agences .block-intro p{font-size:12px; font-weight:500; margin:10px 0;}
	.agences .block-intro p strong{font-weight:700;}
	
.more-links{margin-top: 40px;}
	.more-links h3{font-size:18px; font-weight:600;}
	.more-links a{display:inline-block; padding-left:10px; margin-bottom: 5px; min-height:9px; font-size:12px; background:url(../img/small-chevron.png) no-repeat 0 4px;}
	.more-links .links_around.zoom{-moz-column-count:2; -webkit-column-count:2; column-count:2;}


.desc-agence{position:relative;}
	.desc-agence .avis-clients{position:absolute; top:20px; right:40px;}
	.desc-agence .adresse-agence{font-weight:500;}
	.desc-agence .link-return{color:#000;}

.border-box .agence--table-horaires{width:100%; font-weight:500;}
	.border-box .agence--table-horaires td,
	.border-box .agence--table-horaires th{padding:3px 0; text-align:left; font-size:15px;}
		.border-box .agence--table-horaires th{color:#d71921; font-weight:500;}
		.agence--table-horaires .fake-table{display:table; width:100%; table-layout: fixed;}
			.agence--table-horaires .fake-table > span{display:table-cell; text-align: center}

.tabs{border:none; border-bottom:1px solid #cbc7c7;}
	.tabs li{display:block; position:relative; float:left; width:25%; padding:15px 0; background:#9a9a9a; text-align:center; font-size:18px; font-weight: 500; color:#fff; border:1px solid #cbc7c7; border-bottom:none; cursor:pointer; transition:0.6s; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing: border-box;}
		.tabs li:hover{background:#afaeae;}
		.tabs li.current{background:#fff; color:#020202;}
			.tabs li.current:after{content:url(../img/arrow-tab.png); position:absolute; top:101%; left:50%; margin-left:-11px;}

.tab{padding:20px; border:1px solid #cbc7c7; border-top:none;}
	.tab .form-note{margin-bottom: 0;}

#tabs{margin-bottom:15px;}

.agence-avis-commentaires .list-commentaires li{padding:20px; margin-bottom: 10px;background:#f5f5f5; font-size:13px;}
	.agence-avis-commentaires .list-commentaires .author-quote{display:block; margin-top:7px; font-weight:500;}

.more-links.pale-grey-box{margin-top: 0;}
.accordion-like{}
	.accordion-like .hn-like{position:relative; padding:10px 20px; border:none; border-bottom:1px solid #ccc; background:none; border-radius:0; font-size:18px; font-weight:600;}
		.accordion-like .hn-like .ui-accordion-header-icon{display:none;}
	.accordion-like .hn-like:after{content:''; position:absolute; right:20px; top:50%; margin-top:-12px; width:25px; height:25px; background:url(../img/icons-type-accordion.png) no-repeat;}
		.accordion-like .hn-like.ui-state-active:after{background-position:0 -200px;}

	.accordion-like .links_around{padding:15px 0;background:none; border:none; border-bottom:1px solid #ccc; border-radius:0;}

#tab-services .photo-agence{float:left; margin:0 20px 0 0;}
#tab-services .services-agence{overflow:hidden;}
#tab-services p{margin-bottom:20px;}
#tab-services .icones{margin-bottom:10px; display:inline-block; vertical-align:middle; margin-left:5px;}
	#tab-services .icones img{margin:0 10px 10px 0;}
#tab-services .commentaires-agences{font-size:12px;}

.agences.agence .agence-description{margin-top:30px;}
	.agences.agence .agence-description p{margin-bottom:20px; font-size:12px; font-weight:500;}
	.agences.agence .agence-description h2,
	.agences.agence .agence-description h3{padding-bottom:5px; margin-bottom:10px; border-bottom:1px solid #000; font-size:13px; font-weight:bold;}

.agence-livraison img{max-width:90px; width:auto;}

#span_ml_retour{float:none; display:inline-block; padding-left:12px; height:40px; line-height:40px; font-weight:500;}
	#span_ml_retour[style*="block"]{display:inline-block !important;}
#div_sp_info{padding-top:10px; width:405px;}

